@font-face {
  font-family: 'bs2015';
  src: url('../fonts/bs2015.eot?2287128');
  src: url('../fonts/bs2015.eot?2287128#iefix') format('embedded-opentype'),
       url('../fonts/bs2015.woff?2287128') format('woff'),
       url('../fonts/bs2015.ttf?2287128') format('truetype'),
       url('../fonts/bs2015.svg?2287128#bs2015') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'bs2015';
    src: url('../fonts/bs2015.svg?61428564#bs2015') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bs2015";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
 /* margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-estandar:before { content: '\e800'; transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -o-transform: scale(0.8); -ms-transform: scale(0.8); padding-top: 4px;} /* '' */
.icon-campamento:before { content: '\e801'; } /* '' */
.icon-campament:before { content: '\e801'; } /* '' */
.icon-hotel:before { content: '\e802'; } /* '' */
.icon-ruta:before { content: '\e803'; } /* '' */
.icon-apartamento:before { content: '\e804';   transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7);} /* '' */
.icon-apartament:before { content: '\e804';   transform: scale(0.7); -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -o-transform: scale(0.7); -ms-transform: scale(0.7);} /* '' */
.icon-familia-voluntaria:before { content: '\e805';} /* '' */
.icon-residencia:before { content: '\e806'; } /* '' */
.icon-familia:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-chat:before { content: '\e808'; } /* '' */