body{
    margin: 0;
    padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}
a:link, a:visited {
color: #B69510;
text-decoration: none;
}
a:active, a:hover{
	color:#0C0;
	text-decoration: none;
}
.contactbig {
  font-size: 1.2em;
  line-height: 1.3em;
}
.marco{
	float: left;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display:block;	
	position: relative;
}
.contenido{
    height: 637px;
    overflow: hidden;
    float: left;
    /*width: 1100px;*/
	width: 100%;
	transform-origin: 180px top;
}
.all{
    transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    top: -160px;
    left: -80px;
    float: left;
    max-width: 1100px;
	position: absolute;
	z-index:10;
}
.box{
     margin: 2px;   
	 -webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.big{
    display: block;
    width: 400px;
    height: 400px;
    float: left;
}
.medium{
    display: block;
    width: 300px;
    height: 300px;
    float: left;
}
.small{
    display: block;
    width: 165px;
    height: 165px;
    float: left;
}
.tiny{
    width: 100px;
    height: 100px;
    float: left;
}


.one{
    margin-left: 201px;
	position: relative;
	overflow: hidden;
}
.one:before{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -30%;
    z-index: -1;
    background: url(../home/ingles2.jpg) 50% 50% no-repeat;
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	background-blend-mode: multiply;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	background-size: 200%;
}
.one .inside{
    margin-left: 20px;
}
.three:before{
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -50%;
    left: 0%;
    z-index: -1;
    background: rgb(136, 133, 53);	
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	background-blend-mode: multiply;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}  



.two{
	/* background: #FFF; */
	position: relative;
	overflow: hidden;
	z-index: 20;
}
.two:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 19;
    /*background: url(../img/pattern.png) 0 0 repeat;*/
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.three-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 430px 430px 0;
    border-color: transparent red transparent transparent;
    float: left;
	position: relative;
	overflow: hidden;
} 
.three .inside {
	margin-top: -10px;
	margin-left: 60px;
}
.three{
	/* background: rgba(0,255,74,0.4); */
	position: relative;
	overflow: hidden;
	background-blend-mode: multiply;
	width: 430px;
	height: 430px;
}



.header-unit {
	height: 830px;
	border-right: none;
	border-left: none;
	z-index: 2;
	padding: 20px;
	z-index:-1;
}

.three #video-container {
	top: -64px;
	left: -24px;
	height: 100%;
	width: 610px;
	overflow: hidden;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	position:absolute;
	z-index:-1;
}
.one #video-container{
	top: -720px;
	left: 50%;
	height: 1920px;
	width: 1080px;
	overflow: hidden;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	position: absolute;
	z-index: -1;
	margin-left: -540px;	
}
.eight #video-container{
	top: -900px;
    left: 20%;
	height: 1920px;
	width: 1080px;
	overflow: hidden;
	transform: rotate(45deg) scale(0.7);
	-webkit-transform: rotate(45deg) scale(0.7);
	-moz-transform: rotate(45deg) scale(0.7);
	o-transform: rotate(45deg) scale(0.7);
	-ms-transform: rotate(45deg) scale(0.7);
	position: absolute;
	z-index: -1;
	margin-left: -540px;	
}
video.not(.blurried video) {
	position:absolute;
	z-index:-1;
	margin-top: -50px;
}
video.fillWidth {
	height: 100%;
	width: 100%;
}


.four{
	background: white;  
}      
.seven{
	position: relative;
	overflow: hidden;	 
}  
.bs.seven:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background:#000 url(../home/academico.jpg) center center repeat;
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	background-size: 70%;
}
.daycamp.seven:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background:#8e44ad;
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.six{
	background: white;  	 
} 
.five{
	position: relative;
	overflow: hidden; 
	background: rgba(0,0,0,0.3);
}

.five:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
	background: url(../home/camps_pattern.png) repeat;
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	background-size: 70%;
}
.eight{
	/*background: rgba(0,0,0,0.5);	 */
	position: relative;
	overflow: hidden;
}


.one, .three, .five, .seven, .eight{
	cursor: pointer;	
}
.clearfix{
    clear: both;
}

.inside{
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);    
    width: 80%;
    height: 60%;
    top: 23%;
	left: 12%;
    display: table;
    position: relative;
	z-index: 20;
	/* background: cyan; */
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
    
}
.more{
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	z-index:21;
	/*display: none;*/
	/* background: rgba(0,0,0,0.8); */
	top: 100%;	
	left: -50%;
	margin-left: -50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.more .inside{
	height: 100%;
	width: 100%;
	left: 50%;
	top: 0;
	font-size: 1em;
	/* padding-top: 10%; */
	text-align: center;
	margin-left: -50%;
	text-transform: uppercase;
	color: #FFF;
}
.more .inside a{
	color: #fff;
	text-decoration: none;
	background: black;
	padding: 3px 6px;
	/*margin: 3px 0;*/
	/*border-radius: 3px;*/
	display: inline-block;
}
.more .inside a:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
	transform:	scale(1.1);
}
.three .more .inside, .five .more .inside{
	font-size: 0.8em;
}

.five .more .inside a{
	background: #222;
}
.more .inside ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	vertical-align: middle;	
}
.three .more .inside ul{
	vertical-align: top;	
	padding-top: 50px;
}
.more .inside ul li{
	/*padding: 6px 0;*/
	/* border-bottom: 1px solid #FFF; */
	margin: 6px 0;
}
.close-touch{
	font-size: 28px;
	position: absolute;
	top: -12px;
	width: 100%;
	display:none;
	z-index:40;
	display: block;
	cursor: pointer;
}
.close-touch .fa{
	width: 28px;
    height: 28px;
    display: block;
    background: black;
    display: block;
    align-content: center;
    margin: 0 auto;
    /* padding-top: 5px; */
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
	transform:	rotate(-45deg) scale(1) skew(0deg) translate(0px);
	color: rgb(0,255,74);
}
.text{
    display: table-cell;   
    vertical-align: middle;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	text-transform: uppercase;
}
.one .text{
	color: #B9C7DF;	
}
.one .text small{
	color: #FFF;	
}
.text h1, .text h2, .text h3, .text h4, .text h5, .text h6{
    padding: 0;
    margin: 0px;
	font-size: 2em;
	/*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/
}
.text h3{
    color: black;
	font-size: 1.5em;
	line-height: 1em;
	text-shadow:none;
}
.text h2{
    line-height: 0.9em;
}

.text h4{
    margin-top: 12px;
    font-weight: 300;
	font-size: 1.2em;
}
.two .text{
	vertical-align: bottom;
	text-align: center;
	color: #000;
}
.two .inside{
	height: 65%;
	left: 8%;
}
.two .text .fa{
	font-size: 50px;
	margin-top: 20px;
	display: block;
}
.three .text{
	vertical-align: top;	
	padding-top: 10px;
	
}
.five .camps h3{
	font-size: 0.8em !important;
	color: #fff !important;	
}
.small .text h1, .small .text h2, .small .text h3, .small .text h4, .small .text h5, .small .text h6{
	font-size: 1.3em;
	letter-spacing: normal;
}
.small .text h2 span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.small .text h4{
    margin-top: 8px;
    font-weight: 300;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.text.camps h2 span{
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    letter-spacing: normal;
	text-transform: lowercase;
}

.medium .text h1, .medium .text h2, .medium .text h3, .medium .text h4, .medium .text h5, .medium .text h6{
	font-size: 1.5em;
	letter-spacing: 2px;
}
.medium .text{
	padding-left: 20px;	
}
.medium .text small{
	font-size: 0.7em;	
	font-weight: 300;
	line-height: 1em;
	margin-top: 6px;
	display: block;
	color: #FFF;
}
.medium .text h2 span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.medium .text h4{
    margin-top: 10px;
    font-weight: 300;
	font-size: 1em;
	letter-spacing: 1px;
}
.orange{
	color: 	#D97BFF;
}

.five .text h1, .five .text h2, .five .text h3, .five .text h4, .five .text h5, .five .text h6, .five small{
	color: #FFF;
	/*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1) !important; 	*/
}

.five h2 small{
	display: inline-flex;	
}

.five .text h4 {
	margin-top: 6px !important;
	font-size: 0.8em !important;
	letter-spacing: normal !important;
}



.three h2 {
    font-size: 26px;
}
.three h2 small {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
	display: inherit;
	margin-top: 10px;
}
.three h4 {
    font-size: 12px;
}
.eight .text h3 {
    font-size: 1em;
    margin-top: 20px;
    font-weight: 700;
	color: #FFF;
}
.eight .text h2 {
    font-weight: 900;
	color: #F1C40F;
}
.eight .text h2 small{
    font-weight: 700;
	color: #F1C40F;
}
.eight .text h4{
    font-weight: 500;
	color: #F1C40F;
}
.removepaddingright{
	padding-right: 0px;	
}
.removepadding{
	padding-right: 0px;
	padding-left: 0px;	
}
.addmargintop30{
	margin-top: 30px;
}
.addmargintop20{
	margin-top: 20px;
}

#main-menu{
	cursor: pointer;
	postion: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: 0px;
	z-index: 50;
}

#menu{
	z-index: 10;
	display: block;
	width: 2000px;
	height: 1440px;
	position: absolute;
	top: -1038px;
	left: 604px;
	overflow: hidden;	
}
#menu:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 11;
    background: url(../img/pattern.png) 0 0 repeat;
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	opacity: 0.3;
}
#inside-menu .container-fluid, #error-menu{
	max-width: 1200px;	
}
#inside-menu p, , #error-menu p{
	margin-left: 6px;
	line-height: 1em;
}
#inside-menu{
    top: -100%;
    left: 0;
    display: table;
    position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	font-size: 0.8em;
	letter-spacing: normal;
	font-weight: 400;
}
#inside-menu h6, #error-menu h6{
	margin-top: -5px;	
	letter-spacing: normal;
	text-transform: uppercase;
}
#inside-menu h5, #error-menu h5{
	margin-bottom: 4px;	
	font-weight: 700;
	letter-spacing: normal;
	margin-top: 0px;
	text-transform: uppercase;
	padding-right: 40px;
	font-size: 1.5em;
}
#inside-menu ul, #error-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 20px;
}
#inside-menu ul li, #error-menu ul li {
	padding-left: 16px;
	line-height: 1em;
	margin-bottom: 6px;
}
#inside-menu ul li:before, #error-menu ul li:before{
	position: absolute;
	content: '\25b6';
	vertical-align: middle;
	margin-top: -2px;
	margin-left: -10px;
	font-size: 0.6em;
	color: #f1c40f;
}
#inside-menu ul li li:before, #inside-menu ul.secondary li:before,
#error-menu ul li li:before, #error-menu ul.secondary li:before{
	display: none;
}
#inside-menu ul ul li, #inside-menu ul.secondary li,
, #error-menu ul ul li, #error-menu ul.secondary li{
	text-indent: 0px;
}
#inside-menu .col, #error-menu .col{
	margin-bottom: 20px;
}
#inside-menu .caja, #error-menu .caja{
	background: #FFF;
	padding: 10px;
	margin-bottom: 20px;
}

#inside-menu a:link, #inside-menu a:visited,
#error-menu a:link, #error-menu a:visited {
	color: #000;
}
#inside-menu a:active, #inside-menu a:hover,
#error-menu a:active, #error-menu a:hover {
	color: #B69510;
}
#inside-menu a small,
#error-menu a small {
	color: #999;
}
#inside-menu ul ul{	
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: -6px;
	line-height: 1em;
}
#inside-menu ul ul li,
#error-menu ul ul li{
	display: inline-block;	
	margin-top: 0px;
	padding-right:6px;
	padding-left: 6px;
	border-right: 1px solid #CCC;
	font-size: 0.7em;
}
#inside-menu ul ul li:last-child,
#error-menu ul ul li:last-child{
	border-right: none;
}
#menu-close{
	font-size: 50px;
	margin-bottom:60px;	
	cursor: pointer;
}

#inside-menu ul.secondary,
#error-menu ul.secondary{
	list-style: none;
	padding: 0;
	margin: 0;	
}
#inside-menu ul.secondary li,
#error-menu ul.secondary li{
	display: inline-block;
	margin-right: 20px;	
	-webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-o-transform: skewX(-10deg);
	transform: skewX(-10deg);
	background: #000;
	padding: 0px 10px;
}
#inside-menu ul.secondary li a,
#error-menu ul.secondary li a{
	display: inline-block;
	-webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	-o-transform: skewX(10deg);
	transform: skewX(10deg);
	color: #fff;
}
#inside-menu ul.secondary li:last-child,
#error-menu ul.secondary li:last-child{
	margin-right: 0px;	
}
#inside-menu ul.secondary li.separator,
#error-menu ul.secondary li.separator{
	background: #000;
	height: 16px;
	width: 1px;
	display: inline-block;
	padding: 0;
	margin-right: 20px;
	margin-bottom: -3px;
}

#inside-menu .tituloseccion,
#error-menu .tituloseccion{
	/* border-left: 4px solid #000;	 */
	padding-left: 5px;
}
#inside-menu h5, #inside-menu h6, #inside-menu ul li{

}



.blurried .titular-seccion h3{
	display: none;	
}



.removepaddingright{
	padding-right: 0px;	
}
.removepadding{
	padding-right: 0px;
	padding-left: 0px;	
}
.addmargintop30{
	margin-top: 30px;
}
.addmargintop20{
	margin-top: 20px;
}
.addmargintop60{
	margin-top: 60px;
}
.addmarginbottom60{
	margin-bottom: 60px;
}
.addmarginbottom30{
	margin-bottom: 30px;
}
.addmarginbottom20{
	margin-bottom: 20px;
}


#main-footer{
    display: block;
    position: fixed;
    bottom: 0px;
    background: black;
    height: 32px;    
    width: 100%;
    border-top: 3px solid white;
	z-index:300;
	padding-right: 15px;
	padding-left: 15px;
}
#main-footer .container-fluid{
	padding-left: 0;
	padding-right: 0;
}
#main-footer a{
    text-decoration: none;
}

#main-footer ul.social{
    list-style: none;
	display: inline;
	float: right;
	font-size: 1.2em;
	color: #FFF;
	background: #ccc url(../img/pattern03.png) 2px 2px repeat;
	padding: 0;
	padding-left: 40px;
	margin: 0;
	height: 32px;
	margin-right: 32px;
}
#main-footer ul.social li{
    display: inline;
	padding-right: 20px;
}
#main-footer ul.social a:link, #main-footer ul.social a:visited{
    color: #FFF;
}
#main-footer ul.social a:active, #main-footer ul.social a:hover{
    color: #000;
}
#main-footer ul.secondary{
    list-style: none;
	display: inline;
	float: left;
	font-size: 12px;
	color: #222;
	padding-top: 2px;
	padding-left: 0px;
	margin-left: 20px;
	letter-spacing: normal;
	margin-bottom: 0;
	margin-top: 5px;
}
#main-footer ul.secondary li{
    display: inline;
	margin-right: 15px;
}
#main-footer ul.secondary li .destacado{
    color: #FFF;
}
#main-footer ul.secondary li:last-child{
	border-right: none;
	padding-right: 0px;
	margin-right: 0px;
}
#main-footer ul.secondary li.separator:before{
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);	
	display: inline-block;
	width: 1px;
	height: 20px;
	background: #FFF;
	content: '';
	position: absolute;
}

#main-footer ul.secondary a:active, #main-footer ul.secondary a:hover{
    color: #FFF;
}

.btn-contact{
	background: #f1c40f;
	height: 32px;
	min-width: 120px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
}
.btn-clientes{
	background:#e5e5e5;
	height: 32px;
	min-width: 180px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
}
.btn-idioma{
	background:#333;
	height: 32px;
	min-width: 60px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
	font-size: 0.8em;
}
.btn-search{
	background: #000;
	height: 32px;
	width: 32px;
	display: block;
	float: right;
	text-align: center;
	color: #FFF;
	padding-top: 3px;
	position: absolute;
	right: 0;
	z-index: 60;
}
 
#search-box{
	position: absolute;
	/* bottom: 0px; */
	width: 0px;
	height: 30px;
	z-index: 50;
	background: #000;
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display: block;
	right: 18px;
	overflow: hidden;
}

#search-box input.searchbox-input {
	width: 190px;
	float: right;
	padding: 0;
	height: 30px;
	padding-bottom: 2px;
	border: none;
	background: #000;
	text-indent: 6px;
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	transform: skewX(45deg);
	margin-right: 20px;
	color: #ccc;
}
#search-box input.searchbox-input:focus {
	border: none;
	outline: none;
}
.btn-clientes span, .btn-contact span, .btn-idioma span{
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	transform: skewX(45deg);
	display: block;
}
.btn-idioma span{
	padding-top: 2px;
}
a.btn-contact:link, a.btn-contact:visited,
a.btn-clientes:link, a.btn-clientes:visited{
	color: #000;	
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display:block;
}
a.btn-contact:active, a.btn-contact:hover,
a.btn-clientes:active, a.btn-clientes:hover{
	color: #FFF;	
}
a.btn-idioma:link, a.btn-idioma:visited{
	color: #FFF;	
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display:block;
}
a.btn-idioma:active, a.btn-idioma:hover{
	color: #f1c40f;	
}
a.btn-contact{
	margin-right: -20px;	
}
a.btn-search:link, a.btn-search:visited{
	color: #FFF;	
}
a.btn-search:active, a.btn-search:hover{
	color: #f1c40f;	
}



#promocion{
	position: fixed;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: none;
	z-index: 125;
	background: black;
	padding: 40px 20px;
	text-align: center;
	color: #FFF;
	font-weight: 700;	
	top: 50px;
	left: 50%;
	margin-left: 150px;
}
#promocion a:link, #promocion a:visited{
	color: #FFF !important;
}
#promocion:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
#promocion small{
	text-transform: none;
	color: #D6D6D6;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	letter-spacing: 1px;
	margin-top: 10px;
	font-weight:300;	
}

.modal-dialog{
	width: 600px;
	height: 600px;
	  padding-top: 61px;	
}
.modal-content{
	border-radius: 0;	
	width: 600px;
	height: 600px;
	color: #000;
	margin: 0 auto;
	background: #FFF;
	padding:0;
}
.modal-header{
	border: none;
	text-align: center;
	width: 40px;
	margin: 0 auto;
	font-size: 2em;
	height: 80px;
	padding: 0;
	border-bottom: none;
	
}
.modal-body{
	padding: 0;
	text-align: left;
	padding: 50px;	
	box-shadow: none;
	border: none;
}
.modal-footer{
	border: none;	
	text-align: center;
}
.modal .btn{
	margin: 0 auto;	
	background: none;
	border-color: #f1c40f;
	color:#f1c40f;
}
.modal .btn:hover{
	margin: 0 auto;	
	background: #f1c40f;
	color:#000;
}
.modal h2{
	color: #f1c40f;	
	text-align: center;
}
.modal .modal-contenidos{
	margin: 0 auto;
}
.modal-body h3{
	margin: 6px;	
}
.modal button.close{
	line-height: 40px;
	padding: 0;
	text-align: center;
	width: 40px;
	margin: 0 auto;
	font-size: 2em;
	height: 40px;
	color: #000;
	opacity: 1;
	font-family: 'arial', sans-serif;
	font-weight: 100;
	margin-top: 20px;
}

.cc-cookies {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 28px;
	padding: 0.5em 5%;
	background: rgba(0,0,0,0.95);
	color: #fff;
	font-size: 13px;
	font-weight: 700;	
	letter-spacing:1px;
	z-index: 99999;
	text-align: left;
	color: #fff;
	padding: 30px 20px;
}
.cc-cookie-accept{
	padding: 0px 6px;
	margin: 0 20px;
	text-transform:uppercase;
	border: 1px solid;	
}


.blurried{
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,1);
	z-index: 120;
	position: absolute;
	display:none;
	top: 0;
	left:0;
	overflow: hidden;
}
.blurried-content{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	padding-top: 30px;	
	z-index: 100;
	color: #FFF;
}
.blurried li small{
	opacity: 0.7;
}
.blurried-content ul{
	list-style: none;
	padding:0;
}
.blurried-content ul li a:link, .blurried-content ul li a:visited{
	color: #FFF;
	font-size: 24px;
	line-height: 42px;
	font-weight:100;
}
.blurried-content ul li a:hover, .blurried-content ul li a:active{
	color: #000;
}

.blurried h1 small, .blurried h2 small, .blurried h3 small, .blurried h4 small, .blurried h5 small, .blurried h6 small, .blurried .h1 small, .blurried .h2 small, .blurried .h3 small, .blurried .h4 small, .blurried .h5 small, .blurried .h6 small, .blurried h1 .small, .blurried h2 .small, .blurried h3 .small, .blurried h4 .small, .blurried h5 .small, .blurried h6 .small, .blurried .h1 .small, .blurried .h2 .small, .blurried .h3 .small, .blurried .h4 .small, .blurried .h5 .small, .blurried .h6 .small, .blurried .titular-seccion h1, .blurried .titular-seccion h2, .blurried .titular-seccion h3, .blurried .titular-seccion h4, .blurried .titular-seccion h5, .blurried .titular-seccion h6{
	color: #fff;
	text-shadow: none;	
}

.blurried .titular-seccion{
	margin-top: 50px;	
	height: 180px;
	vertical-align: top;
}
.blurried .promo-seccion{
	margin-top: 150px;	
	vertical-align: top;
	margin-bottom: 30px;
}

.blurried .promo-seccion table td{
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.blurried .promo-seccion table tr:hover td{
	color: #FFF;
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
.blurried .promo-seccion h2 small{
	color: #333;
}
.blurried .intro-seccion{
	/*margin-right: 20px;*/
}

.blurried iframe{
	margin-left: -15px;
	margin-right: -15px;	
	margin-bottom: 20px;
}
.blurried video{
	margin-left: -15px;
	/*margin-right: -15px;*/	
	margin-bottom: 20px;
	display: block;
	width: 80%;
	height: auto;
	float: left !important;	
}
.blurried span{
	margin-top: 10px;	
}
.blurried ul{
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	color: #FFF;
	color: rgba(255,255,255,0.8);
}
.blurried li {
	padding-left: 16px;
	font-weight: 100;
	font-size: 1.5em;
}
.blurried ul ul{
	list-style: none;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.blurried li li {
	padding-left: 16px;
	font-weight: 100;
	font-size: 0.8em;
	display: inline-block;
}
.blurried a:link, .blurried a:visited{
	color: #FFF;
	color: rgba(255,255,255,0.8);
}
.blurried a:active, .blurried a:hover{
	color: #FFF;
}
.blurried ul li:before {
	position: relative;
	content: '\25b6';
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 6px;
	font-size: 0.4em;
	color: rgba(255,255,255,0.4);
}
.blurried ul li li:before {
	content: '';
}
.blurried .linea {
	width: 5000px;
	height: 1px;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	top: 0px;
	left: 20%;
	transform: rotate(135deg);
	transform-origin: top left;
	-webkit-transform: rotate(135deg);
	-webkit-transform-origin: top left;
	-moz-transform: rotate(135deg);
	-moz-transform-origin: top left;
	-o-transform: rotate(135deg);
	-o-transform-origin: top left;
	-ms-transform: rotate(135deg);
	-ms-transform-origin: top left;
}
.blurried .intro-seccion p{
	color: #FFF;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.2em;
	font-family: 'Roboto Slab', monospace;
}
.blurried .enlaces{
	/* margin-top: 270px;	*/
}
.blurried .enlaces p{
	font-size: 1.3em;	
}
.blurried .enlaces p.grande{
	font-size: 1.8em;
	margin-bottom: 0;
	font-weight: 700;
}
.blurried .enlaces p a{
	float: left;
	margin-right:20px;
}
.blurried .enlaces.lista p a{
	float: left;
	display: block;
}
.blurried a.btn-default:link, .blurried a.btn-default:visited{
	background: none;
	border-color: #FFF;	
	letter-spacing: 2px;
}
.blurried a.btn-default:active, .blurried a.btn-default:hover{
	background: rgba(0,0,0,0.3);
	border-color: rgba(0,0,0,0.1);;
}
.close-touch{
	position: absolute;
	left: 50%;
	z-index: 130;
	display: block;
	width: 120px;
	height: 120px;
	background: rgba(0,0,0,0.3);
	top: 20px;
	color: #fff;
	font-size: 72px;
	font-family: 'arial',sans-serif;
	line-height: 58px;
	padding-left: 10px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform: rotate(-135deg);
	margin-left: -60px;
	top: -60px;
	font-weight: 100;
}


.flecha.derecha{
	display: none;
    position: absolute;
    width: 25%;
    height: 25%;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    top: 75%;
    z-index: 60;
    left: 75%;	
}
.flecha.arriba{
	display: none;
    position: absolute;
    width: 25%;
    height: 25%;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 0%;
    z-index: 60;
    left: 75%;	
}


h2 small{
	line-height: 1.1em;	
}

/*
Contact
=========================== */
#dropdown-contact{
	bottom:0;
	left:0;	
	position: fixed;
	background:#FFF;
	color:#000;
	padding:20px 0 0 0;
	width:100%;
	height:100%;
	z-index:180;
	overflow: auto;
	font-size:0.8em;
	line-height: 1.2em;
	display:block;
}
#dropdown-contact .row{
	margin-left: 0px;
	margin-right: 0px;	
}
#dropdown-contact .head span{
	background-color: #f1c40f;	
}

#dropdown-contact a:link, #dropdown-contact a:visited{
	color: #f1c40f !important;	
}
#dropdown-contact a:active, #dropdown-contact a:hover{
	color: #000000 !important;	
}
#dropdown-contact  a.contact-close:link, #dropdown-contact  a.contact-close:visited{
	background: #f1c40f !important;	
	color: #FFF !important;
}
#dropdown-contact a.contact-close:active, #dropdown-contact a.contact-close:hover{
	background: #000000 !important;
	color: #FFF !important;	
}
ul.listForm{
	width:100%;
	padding:0;
	margin:0;	
	list-style:none;
}

ul.listForm li {
	margin-bottom: 15px;
}

ul.listForm label{
	font-weight:400;
	display:block;
}

ul.listForm .form-control{
	background:none;
}
ul.listForm textarea{
	height: 140px;
}

.validation {
	display:none;
	margin-top: 5px;
	color: red;
}

#sendmessage{
	display:none;
}

#sendmessage.show,.show  {
	display:block;
}

a.contact-close{
	position: absolute;
	font-size: 36px;
	top: -40px;
	right: -40px;
	color: #000 !important;
	padding: 55px 0px 0px 30px;
	background: #f1c40f;
	font-family: sans-serif;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
	font-weight: 100;
}

a.contact-close:hover{
	color:#FFF !important;
	background:#000;
	text-decoration:none;
}



#mapa_info p{
	cursor: crosshair;
}


#mapa_info p strong{
	text-transform: uppercase;	
}


#mapa{
	display: block;
}


/*
Heading
======================================= */
.heading{
	float:left;
	color:#fff;
	margin:0 20px 0 0;
	padding:0;
}

.heading h4{
	float:left;
	color:#fff;
	border-top:2px solid #ccc;
	margin:0 20px 0 0;
	padding:28px 40px 30px 40px;
	
}

.head{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 9px;
	margin-bottom:25px;
	font-weight: 400;
text-transform: uppercase;
letter-spacing: 3px;
}

.head span{
	position: absolute;
	width: 80px;
	height: 2px;
	bottom: -1px;
	left: 0;
	background: rgb(0,255,74);
}


#logo{
	position: absolute;
	top: 3%;
	right: 30px;
	z-index: 150;
	width: auto;
	-webkit-transform-origin: right top;
	-moz-transform-origin:right top;
	o-transform-origin:right top;
	-ms-transform-origin:right top;
	transform-origin:right top;
	padding-top: 6px;	
}


.progress-indicator {
   top:0;
   right:0;
   width:100%;
   height:100%;
   position:fixed;
   text-align:center;
   z-index:1000;
   background-color:white;
   display:table;
   overflow: hidden;
 }
.progress-indicator span {
   display: table-cell;
   vertical-align: middle;
   width: 128px;
}
 .progress-indicator img {
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.5;    /* Mozilla extension */
   -khtml-opacity:0.5;  /* Safari/Conqueror extension */
   opacity:0.5; /* CSS3 */
   width: 128px;
   transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
 }
 


@media only screen and (max-width: 1024px) {
    .btn-contact{
		font-size: 0.8em;
		width:96px;
		min-width:96px;
		padding-top: 6px;
		letter-spacing: 1px;
	}
	.btn-clientes{
		font-size: 0.8em;
		width: 144px;
		min-width: 144px;
		padding-top: 6px;
		letter-spacing: 1px;
	}
	#main-footer p, #main-footer ul.legal{
		padding-top: 8px;
	}
	#main-footer ul.legal li{
		padding-right: 10px;
		margin-right: 10px;
	}
	#main-footer .fa, #main-footer ul.social{
		padding-top: 2px;	
	}
}
@media only screen and (max-width: 1320px) {
    .btns-div{
		clear: both;
		width: 114%;
		position: absolute;
		margin-top: -32px;
		margin-left: -20px;
	}
	.btn-clientes, .btn-contact{
		width: 45%;
		max-width: 45%;
		font-size: 1em;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	a.btn-contact {
		margin-right: 0px;
		padding-right: 60px;
	}
	.btn-idioma{
		width: 10%;
		max-width: 10%;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		padding-left: 20px;
	}
	.copyright, .social-div{
		margin-top: 32px;	
		font-size: 0.9em;
	}
	#main-footer{
		height: 64px;	
	}
	#menu-close{
		margin-left: 0px;
	}
	#main-footer ul.secondary .separator{
		margin-right: 14px;
	}
	#main-footer ul.secondary li{
		margin-right: 10px;	
	}
	#main-footer ul.secondary li.separator:before {
		height: 16px;	
	}
	#main-footer ul.social {
		padding-left: 20px;
		padding-top: 3px;
		padding-right: 20px;
		margin-right: 10px;
		border-left: 4px #fff solid;
		-webkit-transform: skewX(-45deg);
		-moz-transform: skewX(-45deg);
		-ms-transform: skewX(-45deg);
		-o-transform: skewX(-45deg);
		transform: skewX(-45deg);
	}
	#main-footer ul.social li a{
	-webkit-transform: skewX(45deg);
		-moz-transform: skewX(45deg);
		-ms-transform: skewX(45deg);
		-o-transform: skewX(45deg);
		transform: skewX(45deg);
		display: inline-block;
	}
}
@media only screen and (max-width: 768px) {
    .btns-div{
		clear: both;
		width: 114%;
		position: absolute;
		margin-top: -32px;
		margin-left: -20px;
	}
	.btn-clientes, .btn-contact{
		width: 45%;
		max-width: 45%;
		font-size: 1em;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	a.btn-contact {
		margin-right: 0px;
		padding-right: 60px;
	}
	.btn-idioma{
		width: 10%;
		max-width: 10%;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		padding-left: 20px;
	}
	.copyright, .social-div{
		margin-top: 32px;	
		font-size: 0.9em;
	}
	#main-footer{
		height: 64px;	
	}
	#menu-close{
		margin-left: 0px;
	}
	#main-footer ul.secondary{
		font-size: 10px;
		padding-top: 4px;
	}
	#main-footer ul.secondary li{
		margin-right: 10px;	
	}
	#main-footer ul.social {
		padding-left: 20px;
	}
	#main-footer ul.secondary li.separator:before {
		height: 12px;	
	}
}
@media screen and (orientation:portrait), screen and (orientation:landscape) and (max-aspect-ratio: 16/11){
	.contenido{
    	height: 860px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform:	scale(1);
	}
	.all{
		top: -134px;
		width: 300%;
		
	}
	.small{
		height: 150px;
		width: 150px;
	}
	.big{
		height: 440px;
		width: 440px;
	}
	.one{
		margin-left: 182px;
		position: relative;
	}
	.three:before{
		 background: url(../home/camps_pattern.png) repeat;
	}
	.two{
		position: relative;
		height: 260px;
	}
	.two .inside {
		height: 65%;
		left: -20%;
		top: 32%;
	}
	.three{
		margin-left: -220px;
		position: relative;	
	}
	.four{
		width: 0;
		height: 0;
		margin: 0;
	}
	.five{
		float: right;
		margin-right: 442px;
	}
	.six{
		width: 0;
		height: 0;
		margin: 0;
	}
	.seven{
		/*float: right;*/
		/*margin-right: 420px;*/
		position: absolute;
		margin-left: 224px;
		margin-top: 286px;
	}
	.eight{
		width: 280px;
		height: 280px;
	}
	
	#menu{
		left: 626px;
		top: -998px;
		height: 1260px;	
	}
	
	#menu-close{
		margin-left: 0;
	}
	#logo{
		padding-top: 2px;	
	}
	
	.one #video-container, .eight #video-container{
		transform: rotate(45deg) scale(1.2);
		-webkit-transform: rotate(45deg) scale(1.2);
		-moz-transform: rotate(45deg) scale(1.2);
		o-transform: rotate(45deg) scale(1.2);
		-ms-transform: rotate(45deg) scale(1.2);	
	}
	
	.five .inside{
		top: 18%;
		left: 18%;
	}
	
}

@media only screen and (max-device-width: 960px) { 
 
    /*fixes too big font in mobile Safari*/
 
    html { 
        -webkit-text-size-adjust:none; 
		
	}
 }
 
 @media only screen and (max-width: 960px) { 
 
 
    html { 
		overflow: hidden;
    }
	#logo{
		top: 40px;
		right: 4px;
	}
	#logo img{
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		o-transform: scale(0.8);
		-ms-transform: scale(0.8);
	}
	.blurried .intro-seccion {
		margin-bottom: 30px;
	}
 }