<!DOCTYPE html>
<html>

<head>
    <link href="img/favicon.png" rel="shortcut icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{$urlAssets}}/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- TITULO -->
    <!-- EDITABLE: Titulo y segundo subtitulo -->
    <section class="title">
        <div class="container-fluid padding-container">
            <div class="row d-flex">
                <div class="col-12">
                    <h2 class="text-white titulo-normal">Año escolar<br> en el extranjero</h2>
                    <h2 class="text-white titulo-movil">Año escolar en el extranjero</h2>
                    <div class="ralla-blanca"></div>
                    <h3 class="text-white">ESO y Bachillerato</h3>
                    <div class="row d-flex">
                        <div class="col-2 col-sm-1 d-flex align-items-center">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="col-10 col-sm-11">
                            <h4 class="text-white">100% Convalidable</h4>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-2 col-sm-1 d-flex align-items-center">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="col-10 col-sm-11">
                            <h4 id="form" class="text-white">Año escolar desde 10.000€</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- RALLOS -->
    <div>
        <img class="rallo-1" src="./img/v4---general-llampbuit-03-2.png" alt="">
    </div>

    <div>
        <img class="rallo-2" src="./img/v4---general-llampbuit-03-2.png" alt="">
    </div>

    <div>
        <img class="rallo-3" src="./img/v4---general-llampbuit-03-2.png" alt="">
    </div>

    <!-- BOTON FIJO ARRIBA CUANDO SCROLL -->
    <div class="fixed-button">
        <img src="./img/logo_negro.png" alt="">
        <a href="#form">Solicitar</a>
    </div>

    <!-- LOGO BRITISH SUMMER -->
    <img class="logo-british" src="./img/v4---general-bslogoweb.png">

    <!-- FORMULARIO -->
    <!-- EDITABLE: 7o campo del formulario -->
    <section class="form">
        <div class="container-fluid padding-container">
            <div class="row d-flex justify-content-center">
                <div class="col-11 col-lg-10 col-xl-7 block shadow">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h2>¡Solicita tu<br> información!</h2>
                            <div class="ralla-verde ralla-verde-1"></div>
                            <div class="ralla-verde ralla-verde-2"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <p>¡400€ de descuento para <br>inscripciones con aplicación <br>completa antes del
                                dd/mm/aaaa! </p>
                        </div>

                    </div>
                    <div class="row d-flex">
                        <div class="col-12 col-md-6 padding">
                            <form>
                                <div class="form-group">
                                    <label for="Nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                                        placeholder="Judit">
                                </div>
                                <div class="form-group">
                                    <label for="telefono">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" placeholder="671 09 21 35">
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                        placeholder="loremipsum@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label for="select">¿Eres tú quien viaja?</label>
                                    <select class="form-control form-control-lg" id="select">
                                        <option>-</option>
                                        <option>Sí</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-md-6 padding">
                            <form>
                                <div class="form-group">
                                    <label for="telefonos">Padres/tutor</label>
                                    <div class="row" id="telefonos">
                                        <div class="col-12 col-lg-6 padding-right">
                                            <input type="text" class="form-control no-pad-right margin-bottom"
                                                id="telefono" placeholder="Nombre">
                                        </div>
                                        <div class="col-12 col-lg-6 padding-left">
                                            <input type="text" class="form-control" id="telefono"
                                                placeholder="Teléfono">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nacimiento">Fecha de nacimiento del/la estudiante</label>
                                    <input type="text" class="form-control" id="nacimiento" placeholder="dd/mm/aaaa">
                                </div>
                                <div class="form-group">
                                    <label for="destino">¿En qué destino estás interesado/a?</label>
                                    <select class="form-control form-control-lg" id="select">
                                        <option>USA</option>
                                        <option>UK</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="tiempo">¿Por cuánto tiempo?</label>
                                    <select class="form-control form-control-lg" id="tiempo">
                                        <option>Curso entero</option>
                                        <option>Medio curso</option>
                                    </select>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary shadow-button">Solicitar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- DONDE QUIERES IR -->
    <!-- EDITABLE: TODA ESTA SECCION -->
    <section class="donde">
        <div class="container-fluid padding-container">
            <div class="row d-flex justify-content-center">
                <div class="col-11 col-sm-10 col-xl-7 bloque">

                    <div class="row m-0">
                        <div class="col-12 p-0">
                            <h2 class="titulo">¿A dónde quieres ir?</h2>
                            <div class="ralla-rosa"></div>
                        </div>
                    </div>

                    <div class="row m-0">
                        <div class=" col-12 col-md-8 p-0">
                            <p class="subtitulo">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                has roots in a piece.</p>
                        </div>
                    </div>

                    <!-- USA -->
                    <div class="row shadow block">
                        <div class="col-12 col-md-2 bg-img usa"></div>
                        <div class="col-12 col-md-4 padding-1">
                            <h2>USA</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso soñado.</p>
                        </div>
                        <div class="col-12 col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                    <!-- Canadá -->
                    <div class="row shadow block">
                        <div class="col-md-2 bg-img canada"></div>
                        <div class="col-md-4 padding-1">
                            <h2>Canadá</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso distinto.</p>
                        </div>
                        <div class="col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                    <!-- Irlanda -->
                    <div class="row shadow block">
                        <div class="col-md-2 bg-img irlanda"></div>
                        <div class="col-md-4 padding-1">
                            <h2>Irlanda</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso natural.</p>
                        </div>
                        <div class="col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                    <!-- UK -->
                    <div class="row shadow block">
                        <div class="col-md-2 bg-img uk"></div>
                        <div class="col-md-4 padding-1">
                            <h2>UK</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso natural.</p>
                        </div>
                        <div class="col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                    <!-- Francia -->
                    <div class="row shadow block">
                        <div class="col-md-2 bg-img francia"></div>
                        <div class="col-md-4 padding-1">
                            <h2>Francia</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso natural.</p>
                        </div>
                        <div class="col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                    <!-- Suiza -->
                    <div class="row shadow block">
                        <div class="col-md-2 bg-img suiza"></div>
                        <div class="col-md-4 padding-1">
                            <h2>Suiza</h2>
                            <div class="ralla-negra-small"></div>
                            <p>El paso natural.</p>
                        </div>
                        <div class="col-md-6 padding-2">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- MAS INFORMACION -->
    <section class="mas-info">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div
                    class="col-10 col-md-5 col-xl-3 block-1 shadow d-flex align-items-center justify-content-center margin-right">
                    <h3>¿Quieres más información <br />sobre nuestros destinos <br />y programas disponibles?
                        <br />¡Descárgate <br />nuestro catálogo!</h3>
                </div>
                <div class="col-10 col-md-5 col-xl-3 block-2 shadow margin-left">
                    <form>
                        <div class="form-group">
                            <label for="nombre-mas">Nombre</label>
                            <input type="text" class="form-control" id="nombre-mas" placeholder="Judit">
                        </div>
                        <div class="form-group">
                            <label for="email-mas">E-mail</label>
                            <input type="email" class="form-control" id="email-mas" placeholder="loremipsum@gmail.com">
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mb-2">Descargar catálogo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- SOBRE NOSOTROS -->
    <section class="sobre">
        <div class="container-fluid padding-container">

            <div class="row d-flex justify-content-center">
                <div class="col-11 col-sm-10 col-xl-7">
                    <h2 class="titulo">Sobre nosotros</h2>
                    <div class="ralla-rosa"></div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-8 col-xl-6 shadow block text-center">
                    <p>Más de 35 años de experiencia.</p>
                    <p>El sector nos avala (Lloyd's Register).</p>
                    <p>ESO y Bachillerato 100% convalidables.</p>
                    <p>Seguro médico ilimitado en todos los cursos.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- POR QUE -->
    <section class="porque padding-container">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-11 col-sm-10 col-xl-7">

                    <div class="row">
                        <div class="col-12">
                            <h2 class="titulo">¿Por qué <br> British Summer?</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 ralla">
                            <div class="ralla-rosa"></div>
                        </div>
                    </div>

                </div>

                <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-7 numeros">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>01</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Un equipo consolidado de expertos para atender todas las necesidades.</h6>
                                </div>
                            </div>

                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>02</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Test de nivel de idioma.</h6>
                                </div>
                            </div>

                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>03</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Seminarios de orientación y preparación antes de la salida.</h6>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-6">

                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>04</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Entrevistas personales con las familias y los participantes.</h6>
                                </div>
                            </div>

                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>05</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Consolidadas relaciones con las mejores escuelas a nivel mundial.</h6>
                                </div>
                            </div>

                            <div class="row margin-bottom">
                                <div class="col-4">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <h2>06</h2>
                                        </div>
                                        <div class="col-12 d-flex justify-content-center">
                                            <div class="ralla-negra"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex align-items-center">
                                    <h6>Seguimiento minucioso de la adaptación y resultado de cada estudiante.</h6>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TESTIMONIOS -->
    <!-- EDITABLE: TODA LA SECCION -->
    <section class="testimonios">
        <div class="container-fluid padding-container">
            <div class="row d-flex justify-content-center m-0">
                <div class="col-12 col-sm-10 col-xl-7">

                    <div class="row">
                        <div class="col-12">
                            <h2 class="titulo">Nuestros testimonios dicen...</h2>
                            <div class="ralla-rosa"></div>
                        </div>

                        <div class="col-xl-6">
                            <h5 class="subtitulo">No lo decimos nosotros, lo dicen nuestros alumnos.</h5>
                        </div>
                    </div>

                    <div class="row shadow principal m-0 margin-bottom">
                        <div class="col-md-4 p-0 d-flex">
                            <img src="./img/v4---general-screen-shot-2020-01-10-at-160204.png" alt="">
                        </div>
                        <div class="col-md-4 padding-1 pb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p class="text-right firma">- Lorem Ipsum</p>
                        </div>
                        <div class="col-md-4 padding-1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <p class="text-right firma">- Lorem Ipsum</p>
                        </div>
                    </div>

                    <div class="row secundarios margin-bottom">

                        <div class="col-md-6 padding-right">
                            <div class="row shadow m-0 mt-3">
                                <div class="col-4 d-flex align-items-center justify-content-center pr-0">
                                    <img src="./img/v4---general-group-16-2@2x.png" alt="">
                                </div>
                                <div class="col-8 padding-2">
                                    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-right firma">- Lorem Ipsum</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 padding-left">
                            <div class="row shadow m-0 mt-3">
                                <div class="col-4 d-flex align-items-center justify-content-center pr-0">
                                    <img src="./img/v4---general-group-16-2@2x.png" alt="">
                                </div>
                                <div class="col-8 padding-2">
                                    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-right firma">- Lorem Ipsum</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row secundarios">

                        <div class="col-md-6 padding-right">
                            <div class="row shadow m-0 mt-3">
                                <div class="col-4 d-flex align-items-center justify-content-center pr-0">
                                    <img src="./img/v4---general-group-16-2@2x.png" alt="">
                                </div>
                                <div class="col-8 padding-2">
                                    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-right firma">- Lorem Ipsum</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 padding-left">
                            <div class="row shadow m-0 mt-3">
                                <div class="col-4 d-flex align-items-center justify-content-center pr-0">
                                    <img src="./img/v4---general-group-16-2@2x.png" alt="">
                                </div>
                                <div class="col-8 padding-2">
                                    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="text-right firma">- Lorem Ipsum</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- VIDEO -->
    <section class="video">
        <div class="container-fluid padding-container d-flex justify-content-center">
            <div class="embed-responsive embed-responsive-16by9 video-width">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
            </div>
        </div>
    </section>

    <!-- SELLOS DE CALIDAD -->
    <section class="sellos">
        <div class="container-fluid padding-container">
            <div class="row d-flex justify-content-center m-0">
                <div class="col-12 col-md-11 col-lg-10 col-xl-8">

                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center titulo-2">Sellos de calidad</h2>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center p-0">
                            <img class="img-1" src="./img/v4---general-captura-de-pantalla-2020-02-07-a-las-81447.png"
                                alt="">
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center p-0">
                            <img class="img-2"
                                src="./img/v4---general-captura-de-pantalla-2020-02-07-a-las-81454@2x.png" alt="">
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center p-0">
                            <img class="img-3" src="./img/v4---general-captura-de-pantalla-2020-02-07-a-las-81505.png"
                                alt="">
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center justify-content-center p-0">
                            <img class="img-4"
                                src="./img/v4---general-captura-de-pantalla-2020-02-07-a-las-81512@2x.png" alt="">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- OFICINAS -->
    <section class="oficinas">
        <div class="container-fluid padding-container">
            <div class="row d-flex justify-content-center m-0">
                <div class="col-md-10 col-lg-9 col-xl-11">

                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center titulo-2">Oficinas</h2>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm col-md-6 col-xl-3 padding margin-1">
                            <h5>BARCELONA</h5>
                            <p>Vía Augusta, 33,</p>
                            <p>08006, Barcelona</p>
                            <p>Tel. <span class="underline">93 200 88 88</span></p>
                            <p><span class="underline">infobs@britishsummer.com</span></p>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 padding margin-1">
                            <h5>MADRID</h5>
                            <p>Paseo de la Castellana, 136, bajos,</p>
                            <p>28046, Madrid</p>
                            <p>Tel. <span class="underline">91 345 95 65</span></p>
                            <p><span class="underline">madrid@britishsummer.com</span></p>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 padding margin-2">
                            <h5>GIRONA</h5>
                            <p>Carrer Migdia, 25,</p>
                            <p>17002, Girona</p>
                            <p>Tel. <span class="underline">972 414 902</span></p>
                            <p><span class="underline">girona@britishsummer.com</span></p>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 padding margin-2">
                            <h5>SEVILLA</h5>
                            <p>Pza. Cristo de Burgos, 21, Bajo A,</p>
                            <p>41003, Sevilla</p>
                            <p>Tel. <span class="underline">95 421 07 85</span></p>
                            <p><span class="underline">sevilla@britishsummer.com</span></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- WHATSAPP -->
    <section class="whatsapp">
        <div class="bg-red d-flex align-items-center">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center m-0">
                    <img class="mr-3" width="68" src="./img/v4---general-iconfinderphone8216688@2x.png" alt="">
                    <h4 class="underline ml-2 text-white m-0">653 96 15 54</h4>
                </div>
            </div>
        </div>

    </section>

    <!-- Scripts -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js "></script>
    <script src="js/jquery-3.4.1.min.js"></script>

    <script>
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 10) {
                $('.fixed-button').css("display", "block");
            } else {
                $('.fixed-button').css("display", "none");
            }
        });

        // $(document).ready(function(){
        //     $('form input[type="submit"]').prop("disabled", true);
        //     $(".agree").click(function(){
        //         if($(this).prop("checked") == true){
        //             $('form input[type="submit"]').prop("disabled", false);
        //         }
        //         else if($(this).prop("checked") == false){
        //             $('form input[type="submit"]').prop("disabled", true);
        //         }
        //     });
        // });

    </script>

    <!-- End of Scripts -->
</body>

</html>
