.login {
    min-height: 100vh
}
.login .bs-reset {
    margin: 0;
    padding: 0
}
.login .text-right {
    text-align: right
}
.login .login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh
}
.login .login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em
}
.login .login-logo.login-6 {
    top: 80px;
    left: 80px;
}
.login .login-container {
    position: relative;
    min-height: 100vh;
}
.login .login-container .login-copyright, .login .login-container .login-social, .login .login-container>.login-content {
    padding: 0 80px;
}
.login .login-container>.login-content {
    margin-top: 35%;
}
.login .login-container>.login-content>h1 {
    font-size: 30px;
    font-weight: 300;
    color: #4e5a64;
}
.login .login-container>.login-content p {
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px;
}
.login .login-container>.login-content>.login-form {
    margin-top: 80px;
    color: #a4aab2;
    font-size: 13px
}
.login .login-container>.login-content>.login-form .form-control {
    width: 100%;
    padding: 10px   ;
    border: #a0a9b4;
    border-bottom: 1px solid;
    color: #868e97;
    font-size: 14px;
    margin-bottom: 30px;
    background-color: #fff;
}
.login .login-container>.login-content>.login-form .form-control:focus {
    outline: 0
}
.login .login-container>.login-content>.login-form .forgot-password, .login .login-container>.login-content>.login-form .login-button {
    display: inline-block
}
.login .login-container>.login-content>.login-form .rem-password {
    margin-top: 10px
}
.login .login-container>.login-content>.login-form .rem-password>p {
    margin: 0
}
.login .login-container>.login-content>.login-form .rem-password>.rem-checkbox {
    border-color: #a4aab2
}
.login .login-container>.login-content>.login-form .forgot-password {
    margin-right: 1em;
    line-height: 36px;
}
.login .login-container>.login-content>.login-form .forgot-password>a {
    color: #a4aab2
}
.login .login-container>.login-content>.login-form .forgot-password>a:hover {
    color: #337ab7;
    text-decoration: none
}
.login .login-container>.login-content>.login-form .forgot-password>a:focus {
    color: #a4aab2;
    text-decoration: none
}
.login .login-container>.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px
}
.login .login-container>.login-footer .login-social {
    padding-right: 0
}
.login .login-container>.login-footer .login-social li {
    display: inline-block;
    list-style: none;
    margin-right: 1em
}
.login .login-container>.login-footer .login-social a {
    color: #a9b5be;
    font-size: 18px
}
.login .login-container>.login-footer .login-social a:hover {
    color: #337ab7;
    text-decoration: none
}
.login .login-container>.login-footer .login-social a:focus {
    color: #a9b5be
}
.login .login-container>.login-footer .login-copyright {
    padding-left: 0;
    margin-top: 6px
}
.login .login-container>.login-footer .login-copyright>p {
    margin: 0;
    font-size: 13px;
    color: #a9b5be
}
.login .alert {
    /*margin-top: -60px;*/
}
.login .form-group.has-error {
    border-bottom: 2px solid #ed6b75!important
}
.login .form-group.valid {
    border-bottom: 1px solid #a0a9b4!important
}

@media (max-width:1365px) {
    .login .login-logo.login-6 {
        top: 40px;
        left: 40px
    }
    .login .login-container .login-copyright, .login .login-container .login-social, .login .login-container>.login-content {
        padding: 0 40px
    }
    .login .login-container .login-social {
        padding-right: 0
    }
    .login .login-container .login-copyright {
        padding-left: 0
    }
}

@media (max-width:1023px) {
    .login, .login .login-bg, .login .login-container {
        min-height: 50vh
    }
    .login .login-logo.login-6 {
        position: relative;
        margin: 0 0 40px
    }
    .login .login-container>.login-content {
        margin-top: 60px
    }
    .login .login-container>.login-content .login-form {
        margin-top: 40px
    }
    .login .login-container .rem-password {
        margin-bottom: 1em
    }
    .login .login-container>.login-footer {
        position: relative;
        margin-top: 40px;
        padding-bottom: 0
    }
    .login .login-container>.login-footer .login-social li {
        margin-right: .5em
    }
    .login .alert {
        /*margin-top: -20px;*/
    }
}

@media (max-width:640px) {
    .login .login-container>.login-content .text-right {
        text-align: left
    }
}
