/*
Color
================================================== */

a, a:hover, .color, .validation, .checkout:hover .cart, .cart:hover, .product-title h5 a:hover, .register, .not-empty{
	color:#d35400; /*#de2824;*/
}

/*
Background color
================================================== */
.default-bg, .navbar-brand, .navbar-brand:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .heading h4, .contact, .head span, a.contact-close,
.btn-primary, .btn-primary:hover, .btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active ,
option:hover, a.advanced-close, .checkout, #toTopHover, span.price:hover, span.product-label, .buy span, .pagination > .active > a,
.pagination > .active > span, span.price-lg, .checkout:hover .register, .remove-cart:hover, .cart-bottom,
.slidyContainer .movePrev:hover, .slidyContainer .moveNext:hover, #accent_color{
	background-color:  #d35400; /* rgb(0,255,74); */
}

/*
Border color
================================================== */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus, 
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus, 
.form-control:focus, fieldset:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.checkout:hover,
.contact:hover,
.sort-item select:focus,
article blockquote,
.media-object:hover,
.cart-qty:focus,
.slidyContainer .slidySlides figcaption{
	border-color: #f1c40f;/* #1abc9c;  #de2824; */
}


.intro, .info.aloja, ol > li:before,
.programa a.titular:active, .programa a.titular:hover,
.tab-content h2, .tab-content h3, .tab-content h6, .nav-tabs > li > a:hover,
ul.relacionados li:before, .info-general {
	color: #d35400;	
}