[v-cloak]
  display none

#chat-web
    position absolute
    z-index 999
    top 70px
    right 10px
    width 580px


$color-1 = #fff
$color-2 = rgba(0, 0, 0, 0.15)
$color-3 = #f8f8f8
$color-4 = rgba(0, 0, 0, 0.1)
$color-5 = #bcbdc0
$color-6 = #f5886e
$color-7 = #ffe6cb
$color-8 = #c48843
$color-9 = #fdbf68
$color-10 = #c7eafc
$color-11 = #45829b
$color-12 = #a3d063

.chat_wrapper
    position relative
    padding 10px
    width 100%
    height auto

#chat-agente
    &.chat_window
        height 650px
    .messages
        height 438px

.chat_window
    position relative
    width calc(100% - 20px)
    max-width 800px
    height 500px
    border-radius 10px
    background-color $color-1
    box-shadow 0 10px 20px $color-2
    background-color $color-3
    overflow hidden

.top_menu
    background-color $color-1
    width 100%
    padding 20px 0 15px
    box-shadow 0 1px 30px $color-4
    border-bottom 1px solid $color-2

    .title
        text-align center
        font-size 20px

    .subtitle
        text-align center
        color $color-6
        font-size 14px
        padding 12px

.chat_form
    position relative
    list-style none
    padding 20px 10px 0 10px
    margin 0
    height 320px
    overflow scroll
    .mensaje
        text-align center
        color $color-6
        margin-bottom 10px

.messages
    position relative
    list-style none
    padding 20px 10px 0 10px
    margin 0
    height 300px
    overflow scroll

    .message
        clear both
        overflow hidden
        margin-bottom 20px
        transition all 0.5s linear
        // opacity 0

        &.left
            .avatar
                background-color $color-6
                float left

            .text_wrapper
                background-color $color-7
                margin-left 20px

            .text
                color $color-8

        &.right
            .avatar
                background-color $color-9
                float right

            .text_wrapper
                background-color $color-10
                margin-right 20px
                float right

            .text
                color $color-11

        &.appeared
            opacity 1

        .timeago
            color $color-5
            font-style italic

        .avatar
            width 60px
            height 60px
            border-radius 50%
            display inline-block

        .text_wrapper
            display inline-block
            padding 20px
            border-radius 6px
            width calc(100% - 85px)
            min-width 100px
            position relative

            .text
                font-size 18px
                font-weight 300

        .text_wrapper::after
            border-width 13px
            margin-top 0px

        .text_wrapper::before
            border-width 15px
            margin-top -2px

.messages .message.left .text_wrapper::after
.messages .message.left .text_wrapper::before
    right 100%
    border-right-color $color-7

.messages .message.right .text_wrapper::after
.messages .message.right .text_wrapper::before
    left 100%
    border-left-color $color-10

.messages .message .text_wrapper::after
.messages .message .text_wrapper:before
    top 18px
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none

.bottom_wrapper
    position relative
    width 100%
    background-color $color-1
    padding 20px 20px
    position absolute
    bottom 0

    .message_input_wrapper
        display inline-block
        height 50px
        border-radius 25px
        border 1px solid $color-5
        width calc(100% - 160px)
        position relative
        padding 0 20px

        .message_input
            border none
            height 100%
            box-sizing border-box
            width calc(100% - 40px)
            position absolute
            outline-width 0
            color gray

    .send_message
        width 140px
        height 50px
        display inline-block
        border-radius 50px
        background-color $color-12
        border 2px solid $color-12
        color $color-1
        cursor pointer
        transition all 0.2s linear
        text-align center
        float right

        &:hover
            color $color-12
            background-color $color-1

        .text
            font-size 18px
            font-weight 300
            display inline-block
            line-height 48px
