.area-bookings {
  list-style: none;
  padding: 0;
}
.area-bookings li {
  margin-left: 0;
}
/* --- LIGHT THEME OVERRIDE -- */
.page-header.navbar {
  background-color: #000;
}
.page-content {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.page-container-bg-solid .page-bar {
  background: #fff;
}
.page-container-bg-solid .page-content {
  background: #fff;
}
.page-footer .page-footer-inner {
  color: #ccc;
}
.page-footer-fixed .page-footer {
  background-color: #000;
}
.page-bar .page-breadcrumb,
.page-bar .breadcrumb {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
@media (max-width: 640px) {
  .page-header.navbar .top-menu {
    background-color: #e5e5e5;
    display: block;
    clear: both;
    float: none;
    width: 100%;
    position: absolute;
    top: 46px;
    left: 0;
  }
}
.portlet > .portlet-title > .tools > a.btn-text {
  width: auto;
  visibility: visible;
  background-repeat: no-repeat;
  font-size: 8pt;
  padding: 2px 10px 4px 26px;
  height: 20px;
  background-position-x: 6px;
}
/* --------------- */
.top-menu li.user {
  color: #e5e5e5;
  height: 46px;
  line-height: 46px;
  padding-right: 10px;
  font-weight: 100;
}
/* == BOOKING == START = */
.booking .booking-disabled {
  text-decoration: line-through;
}
.booking .descuento {
  background-color: #008000;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.4em;
  padding: 4px;
}
.booking .fa-check-circle-o,
.booking .fa-circle-thin {
  color: #008000;
  font-size: 1.2em;
}
.booking .obligatorio {
  color: #f00;
}
.booking .booking-extra-unidades {
  float: right;
  display: none;
  width: 42px;
  text-align: center;
}
.booking .booking-extra-unidades.visible {
  float: right;
  display: block;
}
.booking .booking-hijos {
  list-style: none;
  margin: 40px 0 120px 0;
  clear: both;
  width: 100%;
}
.booking .booking-hijos li {
  display: inline-block;
  padding: 8px;
}
.booking .booking-hijos li a.btn-success {
  font-size: 1.3em;
}
.booking .booking-condiciones {
  height: 300px;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 8px;
  overflow-y: auto;
}
.booking .booking-note {
  font-size: 1.2em;
  margin-top: -20px;
  border-left: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-bottom: 4px solid #ccc;
}
.booking .btn-pagar {
  width: 100%;
  background-color: #ccc;
  color: #333;
}
.booking .siguiente {
  width: 100%;
}
.booking table.total td:first-child {
  width: 80%;
}
.booking table.total thead {
  background-color: #333;
  color: #fff;
}
.booking table.total tbody {
  font-weight: bold;
  text-align: right;
}
.booking table.total .booking-total {
  font-size: 1.5em;
}
.booking table:not(.total) caption {
  font-size: 1.2em;
  text-align: center;
}
.booking table:not(.total) thead {
  background-color: #fff;
}
.booking table:not(.total) thead td:nth-child(3) {
  text-align: left;
}
.booking table:not(.total) td:not(.day) {
  width: 20%;
  height: 43px;
}
.booking table:not(.total) td:not(.day):first-child {
  width: 45%;
}
.booking table:not(.total) tr:nth-child(even) {
  background-color: #eee;
}
.booking ol {
  list-style: none;
  margin-left: 14%;
  position: relative;
}
.booking ol li {
  display: block;
  float: left;
  margin: 24px 4px;
  background-color: #fff;
  border: 1px solid #7a0051;
  width: 214px;
  height: 34px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.booking ol li.active {
  background-color: #ccc;
  cursor: default;
}
.booking ol li.disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  curso: default;
}
.area-bookings {
  list-style: none;
  padding: 0;
}
.area-bookings li {
  margin-left: 0;
}
.booking-foto {
  height: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  float: left;
  width: 80px;
}
span.caption-status {
  padding-left: 20px;
}
.area-bookings .portlet.light > .portlet-title > .caption > i {
  color: #777;
  font-size: 24px;
  font-weight: 300;
  margin-top: -2px;
  margin-left: -8px;
}
.portlet-photo {
  overflow: hidden;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 30px;
  border-left: 6px solid #45b6af;
}
.area-bookings .portlet.light > .portlet-title > .caption {
  width: 80%;
}
@media (max-width: 640px) {
  .area-bookings .portlet.light > .portlet-title > .caption {
    width: 60%;
    margin-top: 50px;
  }
  .area-bookings .portlet.light > .portlet-title > .portlet-photo {
    margin-top: 62px;
  }
  .area-bookings .portlet.light > .portlet-title > .caption > .caption-helper.separator {
    display: none;
  }
  .area-bookings .portlet.light > .portlet-title > .caption > .caption-helper.in {
    padding-left: 27px;
    display: block;
    line-height: 1.5em;
  }
  .area-bookings .portlet.light > .portlet-title > .tools {
    margin-top: -180px;
  }
}
.portlet > .portlet-title > .tools > a {
  float: right;
}
.portlet.light > .portlet-title > .nav-tabs.pull-left > li > a {
  font-size: 16px;
}
.tools .caption-helper {
  margin-top: 6px;
  display: inline-block;
}
.caption .fa-2x {
  color: #999;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
.table th,
.table .thead td {
  font-weight: bold;
}
.exam h4 {
  font-weight: bold;
}
.exam .radio input[type="radio"]:checked+span {
  font-weight: bold;
  text-decoration: underline;
}
.exam .radio-ok+span {
  color: #008000;
}
.exam .radio-ko+span {
  color: #f00;
}
.exam .res {
  border: 1px dotted #000;
  padding: 4px;
  text-decoration: underline;
}
.exam .res-ok {
  border: 1px solid #008000 !important;
}
.exam .res-ko {
  border: 1px solid #f00 !important;
}
.exam .res-fallo {
  text-decoration: line-through;
}
.exam .example {
  margin-left: 20px;
}
.exam .box-text {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  border: 1px solid #000;
  padding: 18px;
  line-height: 42px;
}
.exam .box-text .bootstrap-select {
  width: 120px;
}
.exam .box-td {
  width: 50%;
  vertical-align: top;
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  line-height: 34px;
  padding: 21px 50px;
}
.exam .box-td br {
  display: block;
  margin: 20px 0;
  line-height: 22px;
  content: ' ';
}
ul.exam {
  list-style: none;
}
ul.exam li {
  display: block;
  clear: both;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  padding: 0.6em;
}
ul.exam li .ask {
  font-size: 15px;
  font-weight: bolder;
  padding-bottom: 14px;
}
ul.exam li .row {
  padding-top: 12px;
  padding-left: 24px;
}
.font-bold {
  font-weight: bold;
}
.font-18 {
  font-size: 18px;
}
.tab-pane .portlet.info:first-child {
  margin-top: -12px;
  padding-top: 20px;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color: #45b6af;
}
.transporte_no,
.seguro {
  margin: 30px 0;
}
.transporte_no label,
.seguro label {
  font-size: 1.1em;
}
.margintop20 {
  margin-top: 20px;
}
.margintop60 {
  margin-top: 60px;
}
.cuestionario {
  border-bottom: 1px dotted #ccc;
}
.booking-botones {
  padding: 15px;
  margin-top: -10px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 30px;
}
.control-label {
  font-family: "Roboto condensed", sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.btn.back {
  margin-left: 10px;
}
.respuestas h4 {
  font-family: "Roboto condensed", sans-serif;
  font-weight: 500;
  margin-top: 30px;
}
.opinionjovenes.respuestas p {
  margin: 5px 0 10px 0;
}
@media (max-width: 640px) {
  .navbar-nav > li > a {
    line-height: 26px;
  }
}
@media (max-width: 640px) and (max-width: 640px) {
  .page-header.navbar .top-menu .navbar-nav > li {
    float: none;
    display: table-cell;
  }
  .page-header.navbar .top-menu .navbar-nav > li > a[href="/auth/logout"] {
    text-align: center;
  }
  .top-menu li.user {
    color: #222;
    float: left;
  }
  .page-header.navbar .top-menu .navbar-nav {
    width: 100%;
    padding: 0 0 0 15px;
    display: inline-table;
  }
}
/* == COMPRA == */
.wizard {
  margin: 20px auto;
  background: #fff;
}
.wizard span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 65px;
  display: inline-block;
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 100px !important;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
.wizard span.round-tab i {
  color: #555;
}
.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}
.wizard .nav-tabs > li > a {
  background-color: #fff;
  border: 0;
}
.wizard > div.wizard-inner {
  position: relative;
}
.wizard .nav > li.disabled > a {
  background-color: #fff;
  border: 0;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
.wizard li.active span.round-tab {
  background: #3fd5c0;
  border: 2px solid #3fd5c0;
}
.wizard li.active span.round-tab i {
  color: #fff;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard div.label {
  display: block;
  text-align: center;
  padding: 0;
  color: #000;
  font-weight: bold;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #3fd5c0;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #3fd5c0;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 10px auto 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
h2.booking-title {
  display: block;
  margin-bottom: 0;
  margin-top: 4px;
  background: #5bc0de;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
h3.booking-title {
  display: block;
  border-bottom: 1px solid #45b6af;
  margin-top: 5px;
}
h4.booking-title {
  display: block;
  border-bottom: 1px solid #45b6af;
  margin-bottom: 0;
}
.booking-title.notable {
  margin-bottom: 20px;
}
td.csname i {
  float: left;
  display: block;
  margin-top: 2px;
  margin-right: 5px;
}
td.csname span {
  display: block;
  float: left;
}
#booking-semiopen {
  margin-left: 12px;
}
table.csemi {
  margin-bottom: 0px;
}
.addmargintop60 {
  margin-top: 60px;
}
fieldset.cictest p strong {
  margin-top: 30px;
  margin-bottom: 0;
  display: inline-block;
}
fieldset.cictest p {
  margin-top: 5px;
  margin-bottom: 10px;
}
