.btn-group.bootstrap-select select {
  width: 1px !important;
}
.triangulo-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid #f0ad4e;
  border-bottom: 50px solid #f0ad4e;
}
.informe-orla ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
.informe-orla ul li {
  float: left;
}
.informe-orla ul li .foto {
  height: 85px;
  width: auto;
  padding: 1px;
  margin-bottom: 8px;
}
ul.tree,
ul.tree ul {
  list-style-type: none;
  background: url("img/vline.png") repeat-y;
  margin: 0;
  padding: 0;
}
ul.tree ul {
  margin-left: 10px;
}
ul.tree li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url("img/node.png") no-repeat;
}
ul.tree li.last {
  background: #fff url("img/lastnode.png") no-repeat;
}
.img-avatar {
  width: 29px;
  height: 29px;
}
.hide {
  display: none;
}
*:focus {
  outline: 0;
}
.help-block {
  color: #f00;
}
label.error {
  color: #f00 !important;
}
.novisible {
  background-color: #cb5a5e;
}
.badge-help {
  color: #3c763d;
  background-color: #dff0d8;
}
.dataTables_processing_div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  background-color: #fff;
  z-index: 9999 !important;
  text-align: center;
  padding-top: 500px;
}
.dataTables_processing {
  display: none;
}
.modal-wide {
  width: 80% !important;
  margin: 10px auto;
}
.chosen-container {
  z-index: 9998;
  width: 100% !important;
}
.dropdown-menu {
  z-index: 9999;
  height: 220px;
  overflow-y: auto;
/* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.cargando {
  display: none;
  float: right;
}
.doc-mini {
  width: 20%;
  height: auto;
}
form .dropdown-menu {
  height: auto !important;
  max-height: 220px !important;
}
.form-iframe {
  min-height: 125px;
  height: auto;
  width: 125px;
  border: 1px solid #808080;
}
.form-foto {
  height: 85px;
  width: auto;
  border: 1px solid #ccc;
  padding: 1px;
  margin-bottom: 8px;
}
.form-foto-mini {
  height: 160px;
  width: auto;
  border: 1px solid #ccc;
  padding: 1px;
  margin-bottom: 8px;
}
.foto-avatar {
  height: 125px;
  width: auto;
  padding: 4px;
  display: block;
  margin: 0 auto;
}
#booking-form1 {
  padding-bottom: 200px;
}
.booking-firma {
  width: 120px;
}
.booking-alerta {
  color: #f00;
  display: block;
  clear: both;
}
.booking-precio {
  display: block;
  clear: both;
}
.booking-condiciones {
  height: 300px;
  border: 1px solid #ccc;
  padding: 8px;
  overflow-y: auto;
}
.form-radio {
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}
#table-log td:nth-child(4) {
  min-width: 200px;
  max-width: 250px;
  word-wrap: break-word;
}
a[href='#destroy'] {
  color: #f00;
  float: right;
}
.informe-tabla {
  position: relative;
}
.informe-tabla div {
  overflow-x: scroll;
  margin-left: 23em;
  overflow-y: visible;
}
.informe-tabla table {
  border-collapse: separate;
}
.informe-tabla table td,
.informe-tabla table th {
  min-width: 50px;
  white-space: nowrap !important;
}
.informe-tabla table .td-fijo {
  position: absolute;
  width: 23em;
  left: 0;
  top: auto;
  border-top: 2px solid #ccc;
}
.informe-tabla table .td-fijo-1 {
  position: absolute;
  width: 21em;
  left: 0;
  top: auto;
  border-top: 2px solid #ccc;
}
.informe-tabla table .tr-total {
  background-color: #ccc !important;
}
.icon-st,
.icon-status-borrador,
.icon-status-pendiente,
.icon-status-pre-reserva,
.icon-status-overbooking,
.icon-status-cancelado,
.icon-status-pendiente-refund,
.icon-status-lead,
.icon-status-null {
  display: block;
  position: relative;
  margin-left: 12px;
  width: 32px;
  height: 32px;
  border: 2px solid #898e95;
  border-radius: 50% !important;
  background-color: #62d26f;
}
.icon-status-borrador {
  background-color: #ff993c;
}
.icon-status-pendiente {
  background-color: #ff993c;
}
.icon-status-pre-reserva {
  background-color: #ff993c;
}
.icon-status-overbooking {
  background-color: #fc636b;
}
.icon-status-cancelado {
  background-color: #b9bcc0;
}
.icon-status-pendiente-refund {
  background-color: #eec300;
}
.icon-status-lead {
  background-color: #eec300;
}
.icon-status-null {
  background-color: #b9bcc0;
}
.icon-st-mini {
  border-width: 1px !important;
  width: 21px !important;
  height: 21px !important;
}
.icon-st-incidencia {
  color: #ff993c !important;
  -webkit-animation: blinker 1s linear infinite;
  -moz-animation: blinker 1s linear infinite;
  -o-animation: blinker 1s linear infinite;
  -ms-animation: blinker 1s linear infinite;
  animation: blinker 1s linear infinite;
}
.td-st-incidencia {
  background-color: #ff993c !important;
}
.td-st-incidencias {
  background-color: #b9bcc0 !important;
}
.dataTable {
  background-color: #fff;
}
.dataTable tr.even {
  background-color: #eee;
}
.dataTable ul {
  padding-left: 12px;
}
.dataTable ul.checklist {
  padding-left: 10px;
}
tr.group,
tr.group:hover {
  background-color: #ddd !important;
}
table.permisos tr:nth-child(even) {
  background-color: #eee;
}
.booking {
  background-color: #fff;
  overflow-x: hidden;
}
.booking .descuento {
  background-color: #008000;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.4em;
  padding: 4px;
}
.booking .fa-check-circle-o,
.booking .fa-circle-thin {
  color: #008000;
  font-size: 1.2em;
}
.booking .obligatorio {
  color: #f00;
}
.booking .booking-extra-unidades {
  float: right;
  display: none;
  width: 42px;
  text-align: center;
}
.booking .booking-extra-unidades.visible {
  float: right;
  display: block;
}
.booking table.total td:first-child {
  width: 80%;
}
.booking table.total thead {
  background-color: #333;
  color: #fff;
}
.booking table.total tbody {
  font-weight: bold;
  text-align: right;
}
.booking table.total .booking-total {
  font-size: 1.5em;
}
.booking table:not(.total) caption {
  font-size: 1.2em;
  text-align: center;
}
.booking table:not(.total) thead {
  background-color: #ccc;
}
.booking table:not(.total) thead td:nth-child(3) {
  text-align: right;
}
.booking table:not(.total) td:not(.day) {
  width: 20%;
  height: 43px;
}
.booking table:not(.total) td:not(.day):first-child {
  width: 45%;
}
.booking table:not(.total) tr:nth-child(even) {
  background-color: #eee;
}
.booking ol {
  list-style: none;
  margin-left: 14%;
  position: relative;
}
.booking ol li {
  display: block;
  float: left;
  margin: 24px 4px;
  background-color: #fff;
  border: 1px solid #7a0051;
  width: 214px;
  height: 34px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.booking ol li.active {
  background-color: #ccc;
  cursor: default;
}
.booking ol li.disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  curso: default;
}
#avisos-info {
  min-height: 120px;
}
#avisos-info ul {
  list-style: none;
  padding: 0;
}
#avisos-info ul li {
  border: 1px solid #ccc;
  padding: 20px;
}
#checklist {
  min-height: 120px;
}
#checklist ul {
  list-style: none;
  padding: 0;
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  height: 165px;
  overflow-y: auto;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #fff;
  text-decoration: none;
  background-color: #08c;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
b.titular {
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  color: #116d73;
}
.addmargintop30 {
  margin-top: 30px;
}
.addmargintop60 {
  margin-top: 60px;
}
.margintop60 {
  margin-top: 60px;
}
.marginbottom60 {
  margin-bottom: 60px;
}
#editor.modal label {
  font-weight: bold;
}
fieldset.cictest p strong {
  margin-top: 30px;
  margin-bottom: 0;
  display: inline-block;
}
fieldset.cictest p {
  margin-top: 5px;
  margin-bottom: 10px;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  color: #bfbfbf;
}
/* == COMPRA == */
.wizard {
  margin: 20px auto;
  background: #fff;
}
.wizard span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 65px;
  display: inline-block;
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 100px !important;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
.wizard span.round-tab i {
  color: #555;
}
.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}
.wizard .nav-tabs > li > a {
  background-color: #fff;
  border: 0;
}
.wizard > div.wizard-inner {
  position: relative;
}
.wizard .nav > li.disabled > a {
  background-color: #fff;
  border: 0;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
.wizard li.active span.round-tab {
  background: #3fd5c0;
  border: 2px solid #3fd5c0;
}
.wizard li.active span.round-tab i {
  color: #fff;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard div.label {
  display: block;
  text-align: center;
  padding: 0;
  color: #000;
  font-weight: bold;
}
.wizard .nav-tabs > li {
  width: 25%;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #3fd5c0;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #3fd5c0;
}
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 10px auto 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard .tab-pane {
  position: relative;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
h2.booking-title {
  display: block;
  margin-bottom: 0;
  margin-top: 60px;
  background: #45b6af;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
h3.booking-title {
  display: block;
  border-bottom: 1px solid #45b6af;
  margin-top: 60px;
}
h4.booking-title {
  display: block;
  border-bottom: 1px solid #45b6af;
  margin-bottom: 0;
}
.booking-title.notable {
  margin-bottom: 20px;
}
td.csname i {
  float: left;
  display: block;
  margin-top: 2px;
  margin-right: 5px;
}
td.csname span {
  display: block;
  float: left;
}
#booking-semiopen {
  margin-left: 12px;
}
table.csemi {
  margin-bottom: 0px;
}
.addmargintop60 {
  margin-top: 60px;
}
fieldset.cictest p strong {
  margin-top: 30px;
  margin-bottom: 0;
  display: inline-block;
}
fieldset.cictest p {
  margin-top: 5px;
  margin-bottom: 10px;
}
/* == BOOKING == START = */
.booking .booking-disabled {
  text-decoration: line-through;
}
.booking .descuento {
  background-color: #008000;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.4em;
  padding: 4px;
}
.booking .fa-check-circle-o,
.booking .fa-circle-thin {
  color: #008000;
  font-size: 1.2em;
}
.booking .obligatorio {
  color: #f00;
}
.booking .booking-extra-unidades {
  float: right;
  display: none;
  width: 42px;
  text-align: center;
}
.booking .booking-extra-unidades.visible {
  float: right;
  display: block;
}
.booking table.total td:first-child {
  width: 80%;
}
.booking table.total thead {
  background-color: #333;
  color: #fff;
}
.booking table.total tbody {
  font-weight: bold;
  text-align: right;
}
.booking table.total .booking-total {
  font-size: 1.5em;
}
.booking table:not(.total) caption {
  font-size: 1.2em;
  text-align: center;
}
.booking table:not(.total) thead {
  background-color: #fff;
}
.booking table:not(.total) thead td:nth-child(3) {
  text-align: left;
}
.booking table:not(.total) td:not(.day) {
  width: 20%;
  height: 43px;
}
.booking table:not(.total) td:not(.day):first-child {
  width: 45%;
}
.booking table:not(.total) tr:nth-child(even) {
  background-color: #eee;
}
.booking ol {
  list-style: none;
  margin-left: 14%;
  position: relative;
}
.booking ol li {
  display: block;
  float: left;
  margin: 24px 4px;
  background-color: #fff;
  border: 1px solid #7a0051;
  width: 214px;
  height: 34px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.booking ol li.active {
  background-color: #ccc;
  cursor: default;
}
.booking ol li.disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  curso: default;
}
@-moz-keyframes blinker {
  50% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
}
@-o-keyframes blinker {
  50% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
}
@keyframes blinker {
  50% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
}
