.page {
  page-break-after: always;
  page-break-inside: avoid;
}
table,
tr,
td,
th,
tbody,
thead,
tfoot {
  page-break-inside: avoid !important;
}
body {
  font-size: 8pt !important;
  padding-left: 2cm;
  padding-right: 2cm;
  line-height: 10pt !important;
}
p {
  font-size: 8pt !important;
  line-height: 10pt !important;
}
.page {
  page-break-after: always;
  page-break-inside: avoid;
}
caption {
  font-weight: bold;
  font-size: 8pt;
}
h1 {
  font-size: 14pt !important;
  font-weight: bold;
  display: block;
}
table,
tbody,
tr,
td,
th,
thead,
tfoot {
  font-size: 8pt !important;
}
tr,
td,
th,
thead {
  page-break-after: always !important;
  padding: 0;
}
table {
  border: none;
}
table>tbody>tr>td {
  padding: 0;
  border: none;
  height: 15px;
}
table.nombrecurso {
  margin-top: 0cm;
}
table.nombrecurso>tbody>tr>td {
  border: none;
}
table.datosbasicos {
  margin-top: 1cm;
}
.table:not(.total)>tbody>tr>td,
.table:not(.total)>tbody>tr>th,
.table:not(.total)>tfoot>tr>td,
.table:not(.total)>tfoot>tr>th,
.table:not(.total)>thead>tr>td,
.table:not(.total)>thead>tr>th {
  padding: 0 !important;
  line-height: 1.4 !important;
  vertical-align: middle;
  border-top: 0.25mm solid #e5e5e5 !important;
}
.table:not(.total) {
  border-bottom: 0.25mm solid #e5e5e5 !important;
}
.table.tutores>tbody>tr>td,
.table.tutores>tbody>tr>th,
.table.tutores>tfoot>tr>td,
.table.tutores>tfoot>tr>th,
.table.tutores>thead>tr>td,
.table.tutores>thead>tr>th {
  padding: 8px !important;
  line-height: 1.4 !important;
  vertical-align: middle;
  border-top: 0.25mm solid #e5e5e5 !important;
}
.table.tutores>thead>tr>td,
.table.tutores>thead>tr>th,
.table.tutores {
  border: none;
}
.table.tutores>thead>tr>th {
  border-bottom: 0.3mm solid #e5e5e5 !important;
}
.table.tutores {
  border-left: 0.25mm solid #e5e5e5 !important;
  border-right: 0.25mm solid #e5e5e5 !important;
}
.table.total>tbody>tr>td,
.table.total>tbody>tr>th,
.table.total>tfoot>tr>td,
.table.total>tfoot>tr>th,
.table.total>thead>tr>td,
.table.total>thead>tr>th {
  padding: 4px 0 !important;
  line-height: 1.2 !important;
  border: none;
}
table.total {
  margin-top: 0.8cm;
  background: transparent;
  border: none;
  page-break-after: avoid !important;
}
table.total hr {
  display: none;
  visibility: hidden;
}
table.total .booking-subtotal-total {
  border-top: dotted 0.25mm #ccc;
}
table.total .subtotal {
  vertical-align: top;
}
table.total thead {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 2;
  padding: 10px;
  border-bottom: 0.25mm solid #ccc;
  margin-bottom: 4px;
  color: #666;
  text-align: right;
  font-weight: bold;
  font-size: 8pt;
}
table.total thead td {
  text-align: left !important;
  text-transform: lowercase !important;
}
table.total thead span {
  text-transform: capitalize !important;
}
table.total tbody {
  font-weight: bold;
  text-align: right;
  padding-top: 8px;
}
table.total .booking-total {
  font-size: 1.2em;
  border-bottom: 0.25mm solid #ccc;
}
table.total .cambioaplicado {
  text-align: right;
  font-weight: normal;
}
table.nombrecurso tr td:first-child,
table.datosbasicos tr td:first-child,
table.datosviajero tr td:first-child,
table thead td {
  font-weight: bold;
  width: 40%;
}
table>tbody>tr>td {
  padding: 0;
  height: 20px;
}
table.firmas {
  margin-top: 30px;
}
table.firmas td p {
  font-weight: bold;
  font-size: 1em;
}
table.firmas td small {
  font-weight: normal;
  font-size: 0.75em;
  line-height: 0.75em;
}
table.firmas td.linea {
  height: 1.2cm;
}
.table>tbody>tr.separador>td {
  border-top: 0.25mm solid #2c2c2c !important;
}
p.estudiante {
  display: block;
  padding: 8px 0;
}
.table.extrasproveedor thead {
  border: none;
}
.table.extrasproveedor>thead>tr>th {
  border: none !important;
}
.table>tbody>tr>td.emergency {
  vertical-align: top;
}
.table>tbody>tr.emergency>td {
  vertical-align: top;
}
.table>tbody>tr.emergency>td ul,
.table>tbody>tr.emergency>td ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.badge-help {
  color: #333 !important;
  background-color: transparent !important;
}
.badge {
  font-size: 9px !important;
  font-weight: 300;
  height: 18px;
  padding: 6px 0 !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  text-shadow: none !important;
  text-align: left;
  vertical-align: middle;
  margin: 0;
  font-style: italic;
}
#pgpdf body,
#pgpdf div,
#pgpdf div div,
#pgpdf p,
#pgpdf ul li {
  font-size: 13px !important;
  line-height: 16px !important;
}
#pgpdf b.titular {
  margin-top: 10px;
  display: inline-block;
  color: #116d73;
  font-size: 13px !important;
}
