.direccion
  position absolute
  top 170px
  right 100px
  min-height 20px
  height auto
  width 180px
  font-size 0.9em
  text-align center

.cliente
  position absolute
  top 340px
  left 60px
  min-height 20px
  height auto
  min-width 180px
  width auto
  font-weight bold
  color #999

.contenido
  position absolute
  top 470px
  left 60px
  min-height 20px
  height auto
  width 86%

.datos
  position absolute
  top 600px
  left 60px
  min-height 20px
  height auto
  width 80%
  border 1px solid #999
  padding 12px

.datos
  table
    tr
      height 30px