.direccion {
  position: absolute;
  top: 80px;
  right: 2cm;
  min-height: 20px;
  height: auto;
  width: 200px;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.2em;
}
.cliente {
  position: absolute;
  top: 200px;
  left: 2cm;
  min-height: 20px;
  height: auto;
  min-width: 180px;
  width: auto;
  font-weight: bold;
  color: #999;
  line-height: 1.1em;
}
.contenido {
  position: absolute;
  top: 300px;
  left: 2cm;
  min-height: 20px;
  height: auto;
  width: 17cm;
  font-size: 0.9em !important;
  border-bottom: thin solid #999;
  padding-bottom: 0.5cm;
}
.contenido table tbody tr td {
  font-size: 1.2em !important;
  height: 20px;
}
.datos {
  position: absolute;
  top: 455px;
  left: 2cm;
  min-height: 20px;
  height: auto;
  width: 17cm;
  padding: 10px 0;
}
.datos table tr {
  height: 30px;
  border-bottom: thin dotted #CCC;

}
.datos table tbody tr td{
  font-size: 1.2em !important;
}
.acuenta,
.pendiente{
  border-top: 1px solid #2c2c2c;
}
.pendiente td{
  font-size: 1.4em !important;
}


table.extras{
  border: none !important;
  font-size: 7pt !important;
}
table.extras tr:first-child{
  border-top: none !important;
}

table.extras tbody tr th,
table.extras tbody tr td {
  padding-left: 2px;
  padding-right: 2px;
}
table.extras tbody tr td i,
table.extras tbody tr td{
  font-size: 8pt !important;
}
table.extras tr {
  height: 30px;
  border-bottom: thin dotted #CCC;

}

.instrucciones{
  margin-top: 1cm;
  font-size: 8pt !important;
}