body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* section {
    border: 1px solid black;
} */

/* * {
    border: 1px solid #f00 !important;
} */

/* .title .container-fluid {
    background-image: url("../img/v4---curs-alexis-brown-omeahbefln4-unsplash-5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 871px;
    background-size: auto 100%;
    padding-left: 9.5%;
    background-position-x: 5px;
} */

.title h2 {
    font-weight: 600;
    font-size: 75px;
    line-height: 70px;
    margin-top: 20px;
}

.title h3 {
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 20px;
}

.title h4 {
    font-weight: 600;
    font-size: 30px;
}

.title .fa-check {
    font-size: 48px;
    color: rgb(176, 230, 182);

}

.title .ralla-blanca {
    height: 4px;
    width: 90px;
    background-color: white;
    margin: 15px 0;
}

.form .block {
    margin-top: -425px;
    padding: 2%;
}

.form h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.form p {
    font-size: 24px;
    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(48, 56, 69, 1.0);
    padding: 1% 3%;
}

.form button,
.mas-info button,
.mas-info .btn {
    width: 90%;
    height: 70px;
    font-size: 36px;
    font-weight: 600;
    background-color: rgb(255, 90, 95);
    border-color: rgb(255, 90, 95);
}

.form button:hover,
.mas-info button:hover {
    background-color: rgb(255, 90, 95);
    border-color: rgb(255, 90, 95);
}

.form button:active,
.mas-info button:hover {
    background-color: rgb(255, 90, 95) !important;
    border-color: rgb(255, 90, 95) !important;
}

.form .form-title {
    min-height: 140px;
}

.shadow-button {
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
}

.form-control {
    border: 1px solid rgba(48, 56, 69, 1.0);
    ;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(191, 191, 191) !important;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(191, 191, 191) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(191, 191, 191) !important;
}

.form-control option {
    color: rgba(191, 191, 191) !important;
}

.form .padding {
    padding: 0 50px;
}

.form .margin-bottom {
    margin-bottom: 7px;
}

.donde .shadow {
    margin: 20px 0;
}

.donde .bg-img {
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.donde .bg-img.usa {
    background-image: url('../img/v4---general-curso-escolar-estados-unidos-3@2x.png');
}

.donde .bg-img.canada {
    background-image: url('../img/v4---general-excursiones.png');
}

.donde .bg-img.irlanda {
    background-image: url('../img/v4---general-vincent-guth-315293-curso-escolar-irlanda@2x.png');
}

.donde .bg-img.uk {
    background-image: url('../img/v4---general-royal-college-of-music-2.png');
}

.donde .bg-img.francia {
    background-image: url('../img/v4---general-royal-college-of-music-2.png');
}

.donde .bg-img.suiza {
    background-image: url('../img/v4---general-royal-college-of-music-2.png');
}

.donde .padding-1 {
    padding: 3% 4%;
}

.donde .shadow p {
    margin: 0;
    font-size: 20px;
}

.donde .shadow h2 {
    font-size: 45px;
    font-weight: 600;
}

.donde .shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(133, 133, 133, 1);
    box-shadow: 0px 0px 10px 0px rgba(133, 133, 133, 1);
}

.donde .text-gray {
    font-size: 18.0px !important;
    color: rgba(161, 161, 161, 1.0);
    margin-bottom: 10px !important;
}

.donde .padding-3 {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
}

.donde .padding-2 {
    padding-top: 17px;
    padding-bottom: 28px;
    padding-left: 27px !important;
    padding-right: 27px !important;
}

.donde .text-middle {
    font-size: 30.0px !important;
}

.donde .text-description {
    font-size: 18px !important;
    line-height: 22.0px;
}

.donde .borde-right {
    border-right: 2px solid rgba(161, 161, 161, 1.0);
    padding-right: 13px;
}

.donde .shadow h2 {
    font-size: 28px !important;
    color: rgba(48, 56, 69, 1.0);
    margin: 0;
}

.donde .centering {
    display: flex;
    align-items: center !important;
}

.donde .subv {
    font-size: 18px !important;
    display: block;
    line-height: 25px;
    margin-top: 7px;
}

.mas-info h3 {
    font-weight: 600;
    text-align: center;
}

.mas-info .container-fluid {
    margin-bottom: 30px;
}

.mas-info button {
    font-family: "Lato", Helvetica, Arial, serif;
    font-weight: 900;
    font-size: 28.0px;
    width: 95%;
    height: 30%;
}

.mas-info .block-2 {
    padding: 2% 3%;
}

.mas-info .block-1 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.mas-info .margin-left {
    margin-left: 5px;
}

.mas-info .margin-right {
    margin-right: 5px;
}

.mas-info .shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
    box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
}

.sobre .block {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 21px;
}


.sobre p {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.sobre .shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
    box-shadow: 0px 2px 5px 0px rgba(138, 138, 138, 1);
}

.padding-container {
    padding-top: 3%;
    padding-bottom: 3%;
}

@media (min-width: 885px) {
    .title .padding-container {
        padding-top: 7%;
    }
}


.shadow {
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1.0);
}

.porque .numeros h2 {
    font-size: 100px;
    font-weight: 700;
    font-family: "Lato", Helvetica, Arial, serif;
    rgba(48, 56, 69, 1.0);
}

/* .porque .row .row div {
    display: flex;
    align-items: center;
} */

.porque h6 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.porque .numeros .margin-bottom {
    margin-bottom: 20px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.testimonios .principal img {
    padding: 5px;
}

/* .testimonios .principal {
    height: 200px;
} */

.testimonios .principal img {
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px;
}

.tetimonios .secundarios {
    margin: 0;
}

.testimonios .subtitulo {
    font-weight: 400 !important;
    margin-bottom: 30px;
}

.testimonios .principal p {
    font-size: 22px;
}

.testimonios .secundarios p {
    font-size: 20px;
    color: rgba(48, 56, 69, 1.0);
}

.testimonios .padding-2 {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 9%;
    padding-left: 7%;
}

.testimonios .padding-1 {
    padding: 4% 5%;
}

.testimonios .margin-bottom {
    margin-bottom: 3px !important;
}

.testimonios .principal.shadow {
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 5px 0px rgba(163, 163, 163, 1);
}

.testimonios .secundarios .shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 1);
}

.testimonios .firma {
    margin-bottom: 0;
    font-size: 20px !important;
    color: rgba(255, 90, 95, 1.0) !important;
    font-weight: 600;
}

.testimonios .secundarios img {
    max-width: 106px;
    margin-left: 19px;
}

.sellos .img-1 {
    max-width: 96%;
}

.sellos .img-2 {
    max-width: 71%;
}

.sellos .img-3 {
    max-width: 110%;
}

.sellos .img-4 {
    max-width: 40%;
}

.oficinas p {
    margin: 0;
}

.oficinas p,
.oficinas h5 {
    text-align: center;
}

.oficinas h5 {
    font-size: 22px;
    font-weight: 700;
}

.oficinas p {
    font-size: 18px;
    color: rgba(48, 56, 69, 1.0);
}

.oficinas a {
    color: rgba(48, 56, 69, 1.0);
    text-decoration: none !important;
}

/* .oficinas .padding {
    padding: 0 5px !important;
} */

.whatsapp .bg-red {
    background-color: rgba(255, 90, 95, 1.0);
    margin: 0 auto;
    height: 120px;
    opacity: 1;
}

.whatsapp .container-fluid {
    padding: 2%;
}

.whatsapp h4 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Lato", Helvetica, Arial, serif;
}

.whatsapp a {
    color: white;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.titulo {
    font-size: 60px;
    color: rgba(243, 112, 127, 1.0);
    font-weight: 600;
    background-image: url("../img/v4---general-oval-3@2x.png");
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: -50px;
    padding-bottom: 50px;
    margin-bottom: -50px;
    padding-left: 50px;
    margin-left: -50px;
    background-size: contain;
    background-position-x: 43px;
}

.porque .titulo {
    padding-top: 15px;
    margin-top: -15px;
    padding-bottom: 15px;
    margin-bottom: -15px;
    padding-left: 40px;
    margin-left: -40px;
    background-position-x: 33px;
    ;
}

.porque .ralla {
    padding-left: 10px;
}

.porque .ralla-rosa {
    margin-top: 23px;
    margin-bottom: 40px;
}

.titulo-2 {
    font-size: 48px;
    color: rgba(243, 112, 127, 1.0);
    font-weight: 600;
    margin-bottom: 45px;
}

.subtitulo {
    font-size: 26px !important;
}

.block {
    background-color: rgba(255, 255, 255, 1.0);
}

.rallo-1 {
    position: absolute;
    z-index: 0;
    right: 5px;
    /* top: 110%; */
    top: 127%;
    opacity: 0.5;
    width: 485px;
}

.rallo-2 {
    position: absolute;
    z-index: 0;
    right: 5px;
    /* top: 248%; */
    opacity: 0.5;
    width: 380px;
    top: 312%;
}

.rallo-3 {
    position: absolute;
    z-index: 0;
    left: 50px;
    top: 580%;
    opacity: 0.5;
}

.ralla-rosa {
    background-color: rgba(243, 112, 127, 1.0);
    height: 9px;
    width: 90px;
    margin-top: 58px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.ralla-negra {
    background-color: rgba(48, 56, 69, 1.0);
    height: 11px;
    width: 109px;
    margin: 0;
}

.ralla-negra-small {
    background-color: rgba(48, 56, 69, 1.0);
    height: 2px;
    width: 63px;
    margin-top: 17px;
    margin-bottom: 16px;
}

.ralla-verde {
    background-color: rgba(176, 230, 182, 1.0);
    border-radius: 2px;
    z-index: 50;
}

/* RALLAS FORMULARIO */

.ralla-verde-1 {
    height: 24px;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -27px;
}

.ralla-verde-2 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

/* RALLAS SOBRE */

.ralla-verde-3 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-4 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-5 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-6 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

/* RALLAS POR QUE */

.ralla-verde-7 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-8 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-9 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-10 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-11 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-12 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.ralla-verde-13 {
    height: 24px;
    width: 289px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -86px;
}

.fixed-button {
    display: none;
    position: fixed;
    top: -1px;
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.91);
    width: 100%;
    padding: 14px 20px;
    background-color: white;
    z-index: 9999;
    /* text-align: right; */
}

.fixed-button a {
    height: 53px;
    font-size: 32px;
    font-weight: 600;
    background-color: rgb(255, 90, 95);
    border-color: rgb(255, 90, 95);
    color: white;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 2px 39px;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 24px;
    text-decoration: none;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-button img {
    float: left;
    width: 216px;
    margin-top: 8px;
    margin-left: 20px;
}

.logo-british {
    position: absolute;
    top: 50px;
    right: 14%;
}

/*****************************************************************************************************************/
/* MEDIA QUERIES */
/*****************************************************************************************************************/
@media (min-width: 1200px) {
    .title .container-fluid {
        width: 85%;
    }

    .mas-info .block {
        margin: 0 20px !important;
    }

    .video .video-width {
        width: 43% !important;
    }

    .whatsapp .bg-red {
        width: 89%;
    }

    .mas-info .margin-left {
        margin-left: 10px;
    }

    .mas-info .margin-right {
        margin-right: 10px;
    }

    .rallo-1,
    rallo-2,
    rallo-3 {
        display: block !important;
    }
}


@media (max-width: 1199.98px) {
    .form p {
        font-size: 21px;
    }

    .form .container-fluid,
    .sobre .container-fluid,
    .testimonios .container-fluid,
    .video .container-fluid,
    .sellos .container-fluid,
    .oficinas .container-fluid {
        margin-bottom: 30px;
    }

    .logo-british {
        right: 4%;
    }
}

@media (min-width: 768px) {

    .oficinas .margin-1 {
        margin-bottom: 20px;
    }

    .testimonios .secundarios .padding-right {
        padding-right: 10px;
    }

    .testimonios .secundarios .padding-left {
        padding-left: 10px;
    }

    .donde .subvencionada {
        display: none;
    }

    .donde .subvencionada-break {
        display: block;
    }
}

@media (max-width: 1199.98px) {
    .oficinas .margin-1 {
        margin-bottom: 40px !important;
    }

    .rallo-1,
    .rallo-2,
    .rallo-3 {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .oficinas .margin-2 {
        margin-bottom: 40px !important;
    }

    .form p {
        text-align: center;
        width: 76%;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 79px;
    }

    .donde .bg-img {
        height: 212px;
        border-radius: 10px 10px 0 0;
    }

    .sellos .img-1 {
        max-width: 96%;
    }

    .sellos .img-2 {
        max-width: 34%;
    }

    .sellos .img-3 {
        max-width: 110%;
    }

    .sellos .img-4 {
        max-width: 21%;
    }

    .mas-info .block-1 {
        margin-bottom: 20px;
    }

    .donde .padding-1 {
        padding: 20px 20px 0 20px;
    }

    .donde .padding-2 {
        padding: 20px;
    }

    .donde .shadow p {
        font-size: 18px;
    }

    .mas-info .block-1,
    .mas-info .block-2 {
        padding: 20px;
    }

    .mas-info .container-fluid {
        margin-bottom: 40px;
        margin-top: 20px;
    }


    .titulo,
    .porque .titulo {
        padding-top: 25px;
        margin-top: -25px;
        padding-bottom: 25px;
        margin-bottom: -25px;
        padding-left: 25px;
        margin-left: -25px;
        background-position-x: 10px;
    }

    .donde .padding-1 {
        justify-content: center;
        padding-bottom: 5px;
    }

    .donde .shadow h2 {
        font-size: 32 !important;
    }

    .donde .text-gray {
        font-size: 26 !important;
    }

    .donde .padding-2 {
        padding-top: 17px !important;
    }

    .donde .padding-left-movil {
        padding-left: 20px;
    }

    .donde .subvencionada {
        display: block;
    }

    .donde .subvencionada-break {
        display: none;
    }

    .donde .subv {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .video .video-width {
        width: 79%;
    }

    .title .titulo-normal {
        display: block;
    }

    .title .titulo-movil {
        display: none;
    }

    .donde .bloque {
        padding: 0;
    }

    .mas-info .container-fluid {
        margin-bottom: 60px !important;
    }

    .porque .container-fluid {
        margin-bottom: 40px !important;
    }
}

@media (max-width: 575.98px) {
    .video .video-width {
        width: 85%;
    }

    .title .titulo-normal {
        display: none;
    }

    .title .titulo-movil {
        display: block;
        line-height: 46px;
        margin-top: 84px;
    }

    .titulo,
    .porque .titulo {
        font-size: 42px;
        padding-top: 20px;
        margin-top: -20px;
        padding-bottom: 20px;
        margin-bottom: -20px;
        padding-left: 20px;
        margin-left: -20px;
    }

    .subtitulo {
        font-size: 18px !important;
    }

    .title h2 {
        font-size: 48px;
    }

    .title h3 {
        font-size: 32px;
    }

    .title h4 {
        font-size: 22px;
    }

    .form h2 {
        font-size: 38px;
        margin: 20px 0;
    }

    .form button {
        margin: 20px 0;
    }

    .mas-info button {
        overflow: hidden;
        font-size: 24px;
    }

    .mas-info h3 {
        font-size: 24px;
    }

    .sobre p {
        font-size: 20px;
        font-weight: 600;
        margin: 5px 0;
    }

    .sellos .titulo-2 {
        margin-bottom: 0;
    }

    .oficinas .titulo-2 {
        margin-bottom: 20px;
    }

    .testimonios .principal p {
        font-size: 20px;
    }

    .testimonios .secundarios p {
        font-size: 18px;
    }

    /* .testimonios .secundarios img {
        max-width: 100%;
    } */

    .testimonios .padding-1 {
        padding: 20px;
    }

    .testimonios .padding-2 {
        padding: 20px;
    }

    .video .video-width {
        width: 92%;
    }

    .sellos .img-1 {
        max-width: 81%;
    }

    .sellos .img-2 {
        max-width: 53%;
    }

    .sellos .img-3 {
        max-width: 74%;
    }

    .sellos .img-4 {
        max-width: 32%;
    }

    .oficinas p {
        font-size: 16px;
    }

    .ralla-rosa,
    .porque .ralla-rosa {
        margin-top: 28px;
        width: 77px;
    }

    .porque .numeros h2 {
        font-size: 84px;
    }

    .numeros .margin-bottom-movil {
        margin-bottom: 30px;
    }

    .porque .numeros .margin-bottom {
        margin-bottom: 30px;
    }

    .ralla-verde-1 {
        width: 282px;
        margin-top: -35px;
    }

    .ralla-verde-2 {
        width: 224px;
        margin-top: -71px;
    }

    .fixed-button a {
        font-size: 26px;
        height: 50px;
        width: 162px;
        margin-right: 0;
    }

    .fixed-button {
        text-align: center;
    }

    .title h2 {
        margin-top: 26px;
    }

    .logo-british {
        width: 200px;
        top: 34px;
        left: 11%;
    }

    .fixed-button img {
        width: 167px;
        margin-top: 12px;
        margin-left: 5px;
    }

    .whatsapp .bg-red {
        height: 83px;
    }

    .whatsapp img {
        width: 42px;
    }

    .whatsapp h4 {
        font-size: 24px;
    }

    .donde .borde-right {
        border: none;
        padding-right: 0;
    }

    .donde .text-gray {
        font-size: 24px !important;
    }

    .donde .text-middle {
        font-size: 34px !important;
    }

    .donde .padding-right-movil {
        padding-right: 20px;
    }

    .donde .padding-2 {
        padding-top: 0 !important;
    }
}

@media (min-width: 992px) {
    /* .form .no-pad-left {
        padding-left: 0;
    } */

    .form .no-pad-right {
        padding-right: 0;
    }

    .form .padding-left {
        padding-left: 5px;
    }

    .form .padding-right {
        padding-right: 5px;
    }
}

@media (max-width: 991.98px) {
    .logo-british {
        top: 25px;
    }
}

@media (min-width: 576px) and (max-width: 671px) {
    .form .block {
        margin-top: -418px;
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    .form .block {
        margin-top: -480px;
    }
}

@media (min-width: 347px) and (max-width: 414px) {
    .form .block {
        margin-top: -404px;
    }
}

@media (min-width: 336px) and (max-width: 346px) {
    .form .block {
        margin-top: -355px;
    }
}

@media (min-width: 672px) and (max-width: 884px) {
    .form .block {
        margin-top: -418px;
    }
}

@media (min-width: 576px) and (max-width: 671px) {
    .form .block {
        margin-top: -347px;
    }
}

@media (max-width: 335px) {
    .form .block {
        margin-top: -270px;
    }
}

@media (max-width: 360px) {
    .testimonios .secundarios img {
        max-width: 90px;
    }
}

@media (min-width: 1200px) and (max-width: 1485px) {
    .logo-british {
        right: 12%;
    }
}

@media (max-width: 1485px) {
    .logo-british {
        width: 235px;
    }
}

@media (min-width: 576px) and (max-width: 884px) {
    .title h2 {
        margin-top: 82px;
    }

    .logo-british {
        width: 235px;
        top: 34px;
        left: 11%;
    }
}

@media (max-width: 395px) {
    .fixed-button a {
        height: 43px;
        width: 133px;
        font-size: 24px;
    }

    .fixed-button img {
        width: 135px;
        margin-top: 10px;
        margin-left: 0;
    }

    .fixed-button {
        padding-left: 18px;
        padding-right: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1406px) {
    .donde .padding-1 {
        padding-left: 13px !important;
    }
}

@media (min-width: 768px) and (max-width: 914px) {
    .donde .shadow h2 {
        font-size: 24px !important;
    }

    .donde .padding-1 {
        padding-left: 13px;
    }
}

@media (max-width: 412px) {
    .donde .precio-desde {
        font-size: 20px !important;
    }
}
