<template>
    <div class="message" v-bind:class="clase">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text">{{mensaje.body}}</div>
            <timeago class="timeago" :since="mensaje.created" :auto-update="30"></timeago>
            <!-- <button v-if="borrable" class="btn btn-danger btn-sm">Borrar</button> -->
        </div>
    </div>
</template>

<script>
    export default {
        props: ['mensaje','finalizado'],
        data: () => ({
           sender: "",
           clase: false,
           borrable: false
        }),
        mounted() {
            this.sender = this.mensaje.sender ? this.mensaje.sender.username : "?"
            this.clase = this.mensaje.enviado ? "right" : "left"
            if( this.mensaje.enviado )
            {
                this.borrable = !this.finalizado
            }    
        }
    }
</script>
