<template>
<div style="padding: 12px !important;">
    <a id="page-header-notifications-dropdown" 
      href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"
      style="padding: 12px !important;"
      >
      <i class="fa fa-fw fa-bell"></i>
      <span class="badge badge-secondary badge-pill">{{total}}</span>
      <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
      <li class="external">
          <h3><span class="bold">{{total}}</span> notificationes</h3>

          <a href="/notifications/list">
            <i class="fa fa-fw fa-eye mr-1"></i> Ver todas
          </a>

          <hr>
          <a href="javascript:void(0)" @click.prevent="markAllRead">
            <i class="fa fa-fw fa-eye mr-1"></i> Marcar todas como leídas
          </a>
          <hr>

      </li>
      
      <li>
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
          <ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;" data-handle-color="#637283" data-initialized="1">

            <li>
              <a href="javascript:void(0)">
                <notifications-button></notifications-button>
              </a>
            </li>

            <li v-if="!hasUnread">
              <a href="javascript:void(0)">
                Sin notificaciones pendientes
              </a>
            </li>

            <notification v-for="notification in notifications"
              :key="notification.id"
              :notification="notification"
              v-on:read="markAsRead(notification)"
            ></notification>

          </ul>
        </div>
      </li>

    </ul>
    
</div>
</template>

<script>
import $ from 'jquery'
import axios from 'axios'
import Notification from './Notification'

export default {
  components: { Notification },

  data: () => ({
    total: 0,
    notifications: [],
    intervalid1: 0
  }),

  mounted () {
    this.fetch()
    this.refrescar(60000)

    if (window.Echo) {
      this.listen()
    }

    this.initDropdown()
  },

  computed: {
    hasUnread () {
      return this.total > 0
    }
  },

  methods: {
    /**
     * Fetch notifications.
     *
     * @param {Number} limit
     */
    fetch (limit = 5) {

      $('.notification-icon').removeClass('animated flip');

      axios.get('/notifications', { params: { limit }})
        .then(({ data: { total, notifications }}) => {

          if(total>this.total)
          {
            $('.notification-icon').addClass('animated flip');
          }

          this.total = total
          this.notifications = notifications.map(({ id, data, created }) => {
            return {
              id: id,
              title: data.title,
              body: data.body,
              created: created,
              action_url: data.action_url
            }
          })
        }).catch( error => {
            console.log(error);
            clearInterval(this.intervalid1)
        });
    },

    /**
     * Refrescar notifications.
     */
    refrescar (tiempo = 10000) {
      const self = this;
      if(this.intervalid1>0) return;
      this.intervalid1 = setInterval(function(){
        self.fetch()
      }, tiempo);

    },

    /**
     * Mark the given notification as read.
     *
     * @param {Object} notification
     */
    markAsRead ({ id }) {
      const index = this.notifications.findIndex(n => n.id === id)

      if (index > -1) {
        this.total--
        this.notifications.splice(index, 1)
        axios.patch(`/notifications/${id}/read`)
      }
    },

    /**
     * Mark all notifications as read.
     */
    markAllRead () {
      this.total = 0
      this.notifications = []

      axios.post('/notifications/mark-all-read')
    },

    /**
     * Listen for Echo push notifications.
     */
    listen () {
      window.Echo.private(`FlowFit.User.${window.Laravel.user.id}`)
        .notification(notification => {
          this.total++
          this.notifications.unshift(notification)
        })
        .listen('NotificationRead', ({ notificationId }) => {
          this.total--

          const index = this.notifications.findIndex(n => n.id === notificationId)
          if (index > -1) {
            this.notifications.splice(index, 1)
          }
        })
        .listen('NotificationReadAll', () => {
          this.total = 0
          this.notifications = []
        })
    },

    /**
     * Initialize the notifications dropdown.
     */
    initDropdown () {
      const dropdown = $(this.$refs.dropdown)

      $(document).on('click', (e) => {
        if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0 &&
          !$(e.target).parent().hasClass('notification-mark-read')) {
          dropdown.removeClass('open')
        }
      })
    },

    /**
     * Toggle the notifications dropdown.
     */
    toggleDropdown () {
      $(this.$refs.dropdown).toggleClass('open')
    }
  }
}
</script>
