<template>

    <li>
        <a :href="notification.action_url" @click="markAsRead" target="_blank">
            <span class="time"><timeago :since="notification.created" :auto-update="30"></timeago></span>
            <span class="details">
                <span class="label label-sm label-icon label-success">
                    <i class="fa fa-fw fa-newspaper-o"></i>
                </span> 
                {{ notification.title }}
            </span>
        </a>
    </li>

</template>

<script>
export default {
  props: {
    notification: {
      type: Object,
      required: true
    }
  },

  methods: {
    markAsRead () {
      this.$emit('read')
    }
  }
}
</script>
