.textos-pre-after {
    display: block;
    font-size: 21px !important;
    line-height: 28.0px;
    margin: 32px 0 52px 0;
    text-align: justify;
}

.textos-form {
    display: block;
    font-size: 21px !important;
    color: white;
    line-height: 28.0px;
    margin: 32px 0 52px 0;
    text-align: center;
    width: 90%;
}

.boton-rojo {
    width: 300px;
    height: 70px;
    font-size: 36px;
    font-weight: 600;
    background-color: rgb(255, 90, 95);
    border-color: rgb(255, 90, 95);
}