$primaryColor: #0018a8;
$primaryHoverColor: #DFEAEF;
$primaryTextColor: #0018a8;

$bgColor: #f1f2f2;
$bgFooterColor: #343F49;
$bgSocialIcon: #606870;
// $txtPrimaryColor: #263746;
$txtPrimaryColor: #324049;
$txtSecondColor: #a9b0b6;
$txtThirdColor:#99b4ff;

//Colours
$lightOrange: #fbe4d3;
$orange: #f3c4aa;
$roofTile: #d4b8b6;
$mustard: #fdeca4;
$mustardLight: #fef6e1;
$green: #def2d3;
$pastelBlue1: #d3e8e9;
$pastelBlue2: #d6dff1;
$pastelPink: #f9dee4;
$pastelPink2: #f9b4c1;
$darkBlue: #343f49;
$lightBlue: #7BCFE0;




//Fonts
@font-face {
    font-family: Poppins-Bold;
    src: url("../../assets/fonts/Poppins-Bold.otf");
}
@font-face {
    font-family: Poppins-Light;
    src: url("../../assets/fonts/Poppins-Light.otf");
}
@font-face {
    font-family: Poppins-Medium;
    src: url("../../assets/fonts/Poppins-Medium.otf");
}
@font-face {
    font-family: Poppins-Regular;
    src: url("../../assets/fonts/Poppins-Regular.otf");
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url("../../assets/fonts/Poppins-SemiBold.otf");
}
@font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/Avenir.ttc");
}
@font-face {
    font-family: Futura;
    src: url("../../assets/fonts/Futura.ttc");
}
@font-face {
    font-family: Playfair-Regular;
    src: url("../../assets/fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: Playfair-Bold;
    src: url("../../assets/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: Lora-Regular;
    src: url("../../assets/fonts/Lora-Regular.ttf");
}
@font-face {
    font-family: Lora-Bold;
    src: url("../../assets/fonts/Lora-Bold.ttf");
}
// Small tablets and large smartphones (landscape view)
$screen-xs-min: 0px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
