@import 'base';
@import 'mixins';

///////////////////// MENU /////////////////////////////////
.heightFull {
    position: relative;
}

#cd-logo img {
    width: 100%;
}

.menuBtnsContainer {
    background-color: white;
    color: $txtPrimaryColor;
    height: 96px;
    left: 0;
    position: fixed;
    top: 103px;
    width: 30px;
    z-index: 11;
    #close {
        color: $txtPrimaryColor;
        font-size: 18px;
        font-weight: 600;
        left: 28px;
        position: absolute;
        top: 4px;
    }
    .menuTxt {
        color: $txtPrimaryColor;
        cursor: pointer;
        font-family: 'Poppins-SemiBold';
        font-size: 16px;
        margin-left: 6px;
        text-align: center;
        width: 16px;
        word-wrap: break-word;
    }
    .menuBtns {
        color: $txtPrimaryColor;
        cursor: pointer;
        height: 18px;
        margin: 32px auto 0 auto;
        position: relative;
        width: 33px;
        #open {
            font-size: 36px;
        }
    }
    #menuSearch {
        background: inherit;
        border: 1px solid lightgrey;
    }
}

.background--light {
    color: $txtPrimaryColor!important;
    transition: all 0.1s ease-in-out;

}
.background--dark {
    color: white!important;
    text-shadow: 0px 1px 2px #000000;
    transition: all 0.3s ease-in-out;
}

.menuContainer {
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins-SemiBold';
    height: 100vh;
    padding: 24px;
    position: absolute;
    width: 100%;
    z-index: 10;
    .menu {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); /* IE 9 */
        -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
        p {
            cursor: pointer;
        }
    }
    .secondMenu {
        font-family: 'Poppins-Regular';
        a {
            font-family: 'Poppins-Regular';
        }
        i {
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 0;
        }
        p { cursor: pointer; }
        ul {
            li {
                margin: 0;
            }
        }
    }
}

.menu-z {
    z-index: 0 !important;
}

#logo-responsive img {
    position: fixed;
    background-color: white;
    top: 0;
    padding: 14px;
    width: 100%;
    img {
        margin: 0 auto;
        width: 60%;
    }
}

.menuLeft{
    color: $txtPrimaryColor;
    height: 600px;
    left: 0px;
    padding-left: 60px;
    position: fixed;
    top: 80px;
    width: 300px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    p {
        cursor: pointer;
        font-family: 'Poppins-SemiBold';
        font-size: 13px;
        // letter-spacing: 1px;
        line-height: 21px;
        margin: 0 0 8px 0;
    }
    .secondMenu {
        font-family: 'Poppins-Regular';
        a {
            font-family: 'Poppins-Regular';
        }
        i {
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 0;
        }
        p { cursor: pointer; }
        ul {
            margin-top: -8px;
            li {
                margin: 0;
            }
        }
    }
    ul {
        list-style: none;
        // margin-top: 28px;
        li {
            margin: 0 0 8px 0;
        }
    }
    a {
        cursor: pointer;
        font-family: "Poppins-SemiBold";
        font-size: 13px;
        // letter-spacing: 1px;
        line-height: 18px;
        margin: 0 0 8px 0;
        color: $txtPrimaryColor;
        text-decoration: none;
    }
    .sub-menu {
        display: none;
    }
}

#searchMenu, #searchMenuResponsive {
    border: 1px solid rgba(lightgrey, 0.9);
    color: $txtPrimaryColor;
    display: none;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    line-height: 21px;
    // letter-spacing: 1.5px;
    outline: none;
    padding: 6px 9px;
}

.searchMenu {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.75);

    form {
        margin: 65px auto;
        background-color: white;
        .searchbox-input {
            font-size: 2em;
            padding: 12px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
} 
#searchMenuClose {
    display: block;
    font-size: 3em;
    color: white;
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}