@import 'base';
@import 'mixins';

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgColor;
    color: $txtPrimaryColor;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;

    a {
        text-decoration: none !important;
    }
}

.txtPrimaryColor { color: $txtPrimaryColor!important; }
.txtSecondColor { color: $txtSecondColor!important; }
.txtThirdColor { color: $txtThirdColor!important; }

.ffRegular { font-family: 'Poppins-Regular'!important; }
.ffLight { font-family: 'Poppins-Light'!important; }
.ffSemiBold { font-family: 'Poppins-SemiBold'!important; }
.ffBold { font-family: 'Poppins-Bold'!important; }


.container1 {
    min-height: 760px;
    p {
        font-family: 'Poppins-SemiBold';
        font-size: 44px;
        line-height: 48px;
        @include lg {
            font-size: 32px;
        }
    }
    .introTitle {
        font-family: 'Poppins-Regular';
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 69px;
    }

    .blockText {
        padding: 150px 0 75px 0;
        @include lg {
            padding: 62px 15px 0 0;
        }
    }
}

.container2 {
    .slider-item {
        background: #ccc;
        font-size: 72px;
        position: relative;
        text-align: center;
    }
    /* Slider arrows */
    .slick-arrow {
        z-index: 9;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .slick-dots {
        bottom: 48px;
        color: white;
        font-family: 'Poppins-SemiBold';
        font-size: 35px;
        left: 144px;
        text-align: unset!important;
        width: unset;
        @include lg {
            bottom: 24px;
            font-size: 30px;
            left: 84px;
        }
        @include sm {
            bottom: 18px;
            font-size: 24px;
            left: 30px;
        }
        li {
            height: unset;
            margin: 0 12px;
            width: unset;
            @include lg { margin: 0 10px; }
            @include lg { margin: 0 8px; }
        }
    }
    /* Fix height because dots */
    .slick-dotted.slick-slider {
        margin-bottom: -6px;
    }
    .slick-active {
        color: $pastelPink2;
        transition: all 0.1s ease-in-out;
    }
    /* Title in the middle */
    .title {
        color: $pastelPink2;
        font-family: 'Poppins-SemiBold';
        font-size: 75px;
        line-height: 85px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(-50%,-50%);
        @include md { font-size: 60px; }
        @include sm { font-size: 52px; }
        @include xs { font-size: 36px; }
    }
}

.container3 {
    .imgBg {
        background-image: url('../../assets/imgs/girl-sea.jpg');
        background-position: center;    
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    }
    .rightSide1 {
        background-color: $green;
        padding-left: 100px;   
        @include lg {
            padding: 100px 15px 100px 40px;
        }  
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        .content {
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
            color: $txtPrimaryColor;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding-bottom: 0;
            position: relative;
            text-align: left;
            p { 
                font-size: 20px;
                line-height: 26px;
                margin: 12px 0 48px 0;
            }
        }
    }
    .rightSide2 {
        background-color: $green;
    }
}

.container5 {
    background-color: $pastelPink2;
    color: white;
    height: 600px;
    font-size: 24px;
    padding: 60px 60px 150px 60px;
}

.container6{
    background-image: url('../../assets/imgs/travelbags.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white!important;
    height: 700px;
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding-bottom: 0;
        position: relative;
        text-align: center;
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        p, div {
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
            padding: 0 20%;
        }
        @include lg {
            padding-left: 25px;
        }
    }
}
.container7 { //BE HAPPY
    background-color: $mustardLight;
    color: $txtPrimaryColor;
    padding: 150px 0;
    @include lg {
        padding: 75px 0 75px 10px;
    }
    img {
        max-height: 650px;
        padding-top: 95px;
        @include lg {
            padding: 0 40px;
        }
    }
    .content {
         display: flex;
         flex-direction: column;
         height: 100%;
         position: relative;
         text-align: left;
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            // letter-spacing: 4px;
            line-height: 40px;
        }
        p, div { 
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
            padding-right: 15%;
        }
    }
}

.container8{ //LETS GO FAMILY
    background-color: $bgFooterColor;
    color: white;
    padding: 0;
    .imgBg {
        background-image: url('../../assets/imgs/sand-and-jump.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 850px;
        @include xl { height: 775px; }
        @include lg { height: 644px; }
        @include md { height: 576px; }
        @include sm { height: 512px; }
        @include xs { height: 440px; }
    }
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 80px 0 80px 0;
        position: relative;
        text-align: left;
        width: 70%;
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        p, div { 
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 26px;
        }
    }
}

.container9{ //BLA DI BLUM - GIRLS IN NEW YORK
    background-color: $lightBlue;
    color: white;
    padding: 0;
    .imgBg {
        background-image: url('../../assets/imgs/court-cook-6j79Y9G3Dfo-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 850px;
        @include xl { height: 775px; }
        @include lg { height: 644px; }
        @include md { height: 576px; }
        @include sm { height: 512px; }
        @include xs { height: 440px; }
    }
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        padding: 80px 180px 80px 80px;
        position: relative;
        text-align: left;
        @include lg {
            padding: 80px 15px 80px 40px;
        }
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        p, div { 
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
        }
    }
}
.container10 { //ESTAS EN BUENAS MANOS
    background-color: $lightOrange;
    color: $txtPrimaryColor;
    padding: 120px 0;
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        text-align: center;
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        p, div { 
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
        }
        .textBlock {
            margin: 0 auto;
            text-align: left;
            width: 45%;
            @include lg {
                padding: 0 15px;
                width: 100%;
            }
        }
    }
    .logos {
        display: flex;
        justify-content: space-between;
        margin: 60px 0 0 0;
        img {
            height: 60px;
            @include md {
                display: block;
                margin: 36px 0;
            }
        }
        @include lg {
            padding: 0 15px;
            width: 100%;
        }
        @include md {
            display: block;
            justify-content: unset;
            
        }
    }
}
.container11 { //BE HIPPY
    background-color: white;
    color: $txtPrimaryColor;
    .contentImg {
        @include lg {
            text-align: center;
        }
        img {
            float: right;
            max-height: 600px;
            @include lg {
                float: unset;
            }
        }
    }
    .content {
         display: flex;
         flex-direction: column;
         height: 100%;
         justify-content: center;
         margin: 0 auto;
         position: relative;
         text-align: left;
         width: 60%;
         @include xl { width: 65%; }
         @include lg { width: 70%; }
         @include md { width: 70%; }
         @include sm { width: 80%; }
         @include xs { width: 85%; }
        h1 {
            font-family: 'Poppins-SemiBold';
            font-size: 44px;
            line-height: 40px;
        }
        p, div { 
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 28px;
        }
    }
}
.container12 { // BLU DI BLA DI BLI BAM - LETRAS GRANDES
    background-color: white;
    color: $txtSecondColor;
    padding-bottom: 60px;
    padding-top: 60px;
    h1 {
        font-family: 'Poppins-SemiBold';
        font-size: 44px;
        line-height: 40px;
    }
    .content {
        p,div { 
            font-family: 'Poppins-Regular';
            font-size: 32px;
            line-height: 40px
        }
        a {
            color: $txtPrimaryColor!important;
            cursor: pointer;
            font-family: 'Poppins-Regular';
            font-size: 14px;
            line-height: 22px;
            text-decoration: none;
        }
    }
}

.linkContainer{
    border-bottom: 2px solid white;
    margin: 0 auto;
    width: fit-content;
    padding: 0 !important;
    &.colorTxt {
        border-bottom: 2px solid $txtPrimaryColor;
    } 
    &.noCentered {
        margin: unset;
        width: max-content;
    }
    a {
        color: white;
        font-family: 'Poppins-SemiBold';
        font-size: 14px;
        text-decoration: none;
        &.colorTxt{
            color: $txtPrimaryColor;
        } 
    }
}


.flex-fill {
    flex: 1 1 auto;
}

footer {
    background-color: $bgFooterColor;
    color: $txtSecondColor;
    font-family: 'Poppins-SemiBold';
    padding: 60px 0;
    p {
        font-size: 12px;
        line-height: 16px;
    }
    a {
        color: $txtSecondColor !important;
        text-decoration: none !important;
        &.amain {
            color: $bgColor !important;
        }
    }
    .title {
        color: white;
        margin-bottom: 24px;
        .underline {
            border-bottom: 3px solid white;
            padding-bottom: 8px;
        }
        @include lg {
            padding: 48px 0 0 0;
        }
    }
    .titleBig {
        color: white;
        font-size: 15px;
        margin-bottom: 36px;
    }
    .optionsFooter {
        @include lg {
            padding: 0 0 0 24px;
        }
    }
    .logoFirst {
        color: #ffffff;
        font-family: 'Poppins-Light', sans-serif;
        font-size: 36px;
        letter-spacing: 6px;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        @include sm {
            font-size: 24px;;
        }
    }
    .logoSecond {
        color: #ffffff;
        font-family: 'Poppins-SemiBold', sans-serif;
        font-size: 36px;
        letter-spacing: 6px;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        @include sm {
            font-size: 24px;;
        }
    }

    #cd-logo img {
        width: 145px;
    }

    .footer-rrss {
        margin-top: -40px;
        padding-left: 90px;
        width: 300px;
    }
    .footer-logo {
        position: absolute;
        width: 200%;
        bottom: 14px;
        left: 170px;
    }

    ul.sub-menu {
        font-size: 12px;
        list-style: none;
        padding: 0;
    }

    .acatalogo {
        margin-top: 110px;
    }
}

.socialIconContainer {
    border-radius: 48px;
    color: white !important;
    cursor: pointer;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 15px;
    a {
        color: $bgSocialIcon !important;
        &:hover {
            color: white !important;
        }
    }
    // i{
    //     filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.85));
    // }
}




///////////////////// SCROLL TO TOP /////////////////////////
#scrollToTop {
    bottom: 75px;
    color: $txtPrimaryColor;
    cursor: pointer;
    display: none;
    font-size: 48px;
    padding: 0 14px;
    position: fixed;
    right: 15px;
    z-index: 11;
    @include md {
        bottom: 16px;
        font-size: 24px;
        right: 9px;
    }
}


