.menu ul {
    /* list-style: none; */
    margin-left: 18% !important;
    margin-right: 18% !important;
}

.cd-logo-menu img {
    width: 240px !important;
}

.menuLeft {
    z-index: 9999;
    padding-left: 0 !important;
    /* padding-top: 10px; */
    width: 235px;
    margin-top: -14px;
    margin-left: 30px;
    overflow: hidden;
    height: 700px;
  }
  
  .secondMenuContainer {
    margin-left: 100px;
    margin-top: 50px;
    /* width: 200px; */
  }
  
  .secondMenu ul {
    margin-left: 0;
    padding: 0;
    margin-top: 0px !important;
  }
  
  .secondMenu ul li {
    margin: 0;
  }
  
  .headerbg {
    height: 130px !important;
    background-color: white;
    /* z-index: 999; */
  }

.headerbgoverlay {
    opacity: 1;
    width: 100%;
    height: 238px;
    display: block;
    position: absolute;
    top: 20px;
    z-index: 1;
    background-color: white !important;
}

.cd-main-content {
    overflow: hidden;
}

#Filters {
    margin-top: -12px;
    width: 100%;
    .checkboxes {
        padding-top: 12px;
    }
}

//movil
@media only screen and (max-width: 767px) {

    #sidebar-right {
        display: none; 
    }

    #sidebar-right-mv {
        .box {
            padding: 20px;
            font-family: 'Poppins-Regular';
            font-size: 11px;
            line-height: 14px;
            color: white;
    
            b,strong {    
                font-family: 'Poppins-SemiBold';
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .curso {
        overflow: hidden;
    }

    #infocurso {
        margin-top: 1100px !important;
        margin-left: 10%;
    }

    .curso #sidebar{
        float: right;
        height: auto;
        position: relative;
        min-height: 1px;
    }

    .sidebar-curso {
        width: 85%;
        margin-top: 180px !important;
        margin-right: 5%;
    }

    #sidebar-pinterest {
        float: none;
    }

    .headerbgoverlay {
        display: none;
    }

    #contenido {
        padding-top: 0px !important;
    }
}


.lista-menu {
    margin-top: -12px !important;
    background-color: white !important;
}

@media only screen and (min-width: 768px) {
    .slogan {
        margin-top: -20px;
        margin-bottom: 33px;
    }
}

.controls {
    background-color: white !important;
    border: 0px;
    .total-cursos {
        padding: 9px 0px;
    }
}

.sidebar-curso {
    font-family: 'Poppins-Regular';
    color: #263746 !important;
    background-color: #99B4FF !important;

    .frase{
        color: #158f76;
        font-size: 1.2em;
        font-family: 'Roboto Slab', monospace;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pibtn {
        background-color: #263746;
        color: #99B4FF;
        text-transform: lowercase;
        margin-right: 20px;
        
        &:hover {
            background-color: #263746 !important;
        }
    }

    #details {
        font-family: 'Poppins-Regular';
        font-size: 14px;
        line-height: 17px;
    }

    #details ul, #espes ul {
        letter-spacing: 0px !important;
    }

    #utils a {
        font-family: 'Poppins-Bold';
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        .second {
            
            border: 1px solid blue;
        }
    }
}

#details .fa {
    color: #263746 !important;
}

#frmFormulario {
    input:not([type=checkbox]) {
        background: none;
        border: none;
        color: #263746;
        box-shadow: none;
        border-bottom: 1px solid #263746;
        border-radius: 0;
        padding: 0px;

        &::placeholder {
            color: #969ca2;
        }
    }

    input[type='checkbox'] {
        float: left;
    }
}

#app_formulario_curso {
    .portlet-title {
        font-family: 'Poppins-Regular';
        font-size: 20px;
        line-height: 23px;

        span {
            display: block; 
            font-size: 14px;
            line-height: 15pt;
        }
    }

    .enviar {
        display: block;
        margin: 0 auto;
        font-family: 'Poppins-SemiBold';
        font-size: 34px;
        line-height: 23px;
        color: #99B4FF;
        background-color: #fff;
        padding: 18px;
    }

    .lopdtext {
        width: 88%;
        float: left;
        font-size: 10px;
        line-height: 12px;
        margin-left: 12px;
        margin-bottom: 22px;
    }
}

.introseccion {
    padding-right: 50px;
    // text-align: justify;
    font-family: "Lora-Regular";
    font-size: 15px;
    line-height: 23px;
    h1, h2 {
        font-family: 'Poppins-Regular';
    }
    overflow: hidden;
    margin-top: 100px;
}
.playfair {
    padding-right: 70px;
    font-family: "Lora-Regular";
    font-size: 15px;
    line-height: 23px;
    // text-align: justify;
    h1, h2 {
        font-family: 'Poppins-Regular';
    }
}
#infocurso .precio {
    width: 50%;
}
.verincluye {
    cursor: pointer;
}

#infocurso .incluye {
    margin-top: 20px;
    padding: 12px;
    li {
        list-style-type: square;
        list-style-position: inside;
        padding-left: 0px;
    }
}

.categorias {
    overflow: hidden;
    z-index: 1;
}

.incluye li:before {
    content: "";
}

.curso {
    font-family: "Poppins-Regular" !important;
    
    span {
        font-family: "Poppins-Regular" !important;
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0;
    }

    em {
        background-color: #99B4FF;
        font-style: normal !important;
        padding: 0 3px;
    }

    #sidebar-pinterest {
        margin-top: -12px;
    }

    .group-all {
        .form-group {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    #group-pregunta, #group-fechanac, #group-ciudad {
        font-size: 14px;
        // line-height: 17pt;
        margin-bottom: 12px;

        .input-group-addon {
            background: none;
            border: none;
        }
    }

    #group-pregunta {
        margin-top: 14px;
    }

    .introduccion {
        font-family: "Poppins-Regular" !important;
        font-size: 14px;
        line-height: 17pt;
        text-align: left !important;
    }

    .info-general {
        font-family: 'Poppins-Bold';
        font-size: 22px;
        line-height: 25pt;
        color: #99B4FF;
        text-align: left !important;
    }

    .info-basica{
        font-size: 0.85em;
        padding: 20px 0 10px 10px;
    }
    // .info-basica ul li{
    //     text-transform: uppercase;
    //     padding-left: 20px;
    // }
    // .info-basica ul li .fa {
    //     margin-left: -25px;
    // }
    // .info-basica.affix-top{
    //     margin-top: 0px;
    // }
    // .info-basica.affix{
    //     margin-top: -120px;
    // }
    
    // .info-basica .btn{
    //     color: #FFF;
    // }

}

.curso-menu {
    padding-bottom: 20px;
    a {
        font-family: 'Poppins-Medium';
        font-size: 14px;
        color: #99B4FF !important;
        
        &:not(:last-child):after {
            padding-left: 12px;
            content: "|";
        }
    }
}

.slogan-curso {
    background-color: white;
}

.titulo-cat {
    position: absolute;
    top: -30px;
    z-index: 99;
}

/*
breadcrumb
======================================= */
ul.breadcrumb{
    margin: 0;
    background: none;
    padding: 0px;
    margin-bottom: 8px;
    a {
        font-family: 'Poppins-Medium';
        font-size: 14px;
        color: #607C91 !important;
    }
}

.breadcrumb>li+li:before {content: ">"; font-size: 16px;}

/* .breadcrumb li {font-size: 12px;}
.breadcrumb a {color: rgba(0, 0, 0, 1); text-decoration: none;}
.breadcrumb a:hover {color: rgba(0, 0, 0, 0.59);}
.breadcrumb>.active {color: rgba(0, 0, 0, 0.5);}

.white #header .breadcrumb a:link, .white #header .breadcrumb a:visited{fotos
    color: #FFFFFF;
}
.white #header .breadcrumb a:active, .white #header .breadcrumb a:hover{
    text-decoration: underline;
}
*/

#infocurso {
    margin-top: 65px; /* ?!? */
    font-size: 15px;
    line-height: 17pt;
    font-family: "Lora-Regular";
    overflow: hidden;
    h2 {
        font-family: 'Poppins-Medium';
        font-size: 26px;
        color: #263746;
        margin-top: 20px;
        padding-top: 30px;
        margin-bottom: 20px;
    }
}

#header {
    .titulo {
        height: 92px !important;
        font-family: 'Poppins-SemiBold';
        font-size: 32px;
        color: #263746;

        .slogan {
            small {
                display: block;
                font-family: 'Poppins-SemiBold';
                font-size: 14px;
                line-height: 14px;
                padding-top: 4px;
            }
        }
    }
}

#sidebar-right 
{
    position: relative;
    overflow: hidden;
    letter-spacing: 0px !important;
    
    .box {
        position: fixed;
        top: 0;
        right: 78px;
        z-index: 9999;
        min-height: 40px;
        height: auto;
        width: 20%;
        background-color: #80A5B7;
        padding: 20px;
        
        font-family: 'Poppins-Regular';
        font-size: 11px;
        line-height: 19px;
        color: white;

        h5 > small {
            font-size: 14px;
        }

        ol {
            li:before {
                font-size: 10px;
                padding-top: 2px;
            }
            font-size: 11px;
            letter-spacing: 0px;
        }
        
        b,strong {
            font-family: 'Poppins-SemiBold';
            font-size: 14px;
        }
    }
}

#sidebar-right-mv {
    display: none; 
}

#contenido {
    padding-top: 20px;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    line-height: 15px;
    color: #263746;
}

#contenido-pagina {
    padding-top: 150px;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    line-height: 15px;
    color: #263746;
}

.pagina {
    text-align: justify;
    font-family: "Lora-Regular";
    font-size: 15px;
    line-height: 17px;
    h2 {
        font-family: 'Poppins-Regular';
        font-size: 22px;
    }
}

.fotos-grid {
    .foto-grid {
        img {
            height: 120px !important;
            width: 120px !important;
            object-fit: cover;
            margin-right: 10px;
            margin-bottom: 10px;
            // border: 1px solid #E5E5E5;
            padding: 2px;
        }
    }
}

#cursos-lista {
    .mix, .gap {
        background: none !important;
        height: auto !important;
    }

    .fotocurso {
        background-color: #E5E5E5;
    }

    .fichacurso {
        padding: 0px 0px 10px 0px;
        height: 245px;
    }

    .nombrecurso {
        font-family: 'Poppins-SemiBold';
        font-size: 24px !important;
        line-height: 28px;
    }

    .curso-pais {
        font-family: 'Poppins-Regular';
        font-size: 11px !important;
    }

    .curso-alojas {
        font-family: 'Poppins-SemiBold';
        font-size: 14px;
    }

    .curso-edades {
        font-family: 'Poppins-Regular';
        font-size: 16px;
    }

    .curso-especialidades {
        font-family: 'Poppins-Regular';
        font-size: 12px;
    }
}


// FOOTER

$bgColor: #f1f2f2;
$bgFooterColor: #343F49;
$bgSocialIcon: #606870;
$txtPrimaryColor: #263746;
$txtSecondColor: #a9b0b6;
$txtThirdColor:#99b4ff;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 0px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra small devices
@mixin xs {
    @media (max-width: #{$screen-xs-min}) {
        @content;
    }
 }

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }

 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }

 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

.footer-wrapper {
    margin-top : 180px;
    position: relative;
    z-index: 9999;
    width: 100%;
}

.text-lg-right {
    text-align: right !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
  
.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

footer {
    position: relative;
    background-color: $bgFooterColor;
    color: $txtSecondColor;
    font-family: 'Poppins-SemiBold';
    padding: 20px 0;
    p {
        font-size: 12px;
        line-height: 16px;
    }
    a {
        color: $txtSecondColor !important;
        text-decoration: none !important;
        &.amain {
            color: $bgColor !important;
        }
    }
    .title {
        font-size: 14px;
        color: white;
        margin-bottom: 24px;
        .underline {
            border-bottom: 3px solid white;
            padding-bottom: 8px;
        }
        @include lg {
            padding: 48px 0 0 0;
        }
    }
    .titleBig {
        color: white;
        font-size: 15px;
        margin-bottom: 36px;
    }
    .optionsFooter {
        @include lg {
            padding: 0 0 0 24px;
        }

        font-size: 14px;
        margin-top: 24px;
        a {
            padding-right: 20px;
        }
        
    }
    .logoFirst {
        color: #ffffff;
        font-family: 'Poppins-Light', sans-serif;
        font-size: 36px;
        letter-spacing: 6px;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        @include sm {
            font-size: 24px;;
        }
    }
    .logoSecond {
        color: #ffffff;
        font-family: 'Poppins-SemiBold', sans-serif;
        font-size: 36px;
        letter-spacing: 6px;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        @include sm {
            font-size: 24px;;
        }
    }

    .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    
    #cd-logo img {
        width: 145px;
    }

    .footer-rrss {
        margin-top: -50px;
        padding-left: 90px;
        width: 300px;
    }
    .footer-logo {
        position: absolute;
        width: 200%;
        top: 5px;
        margin-left: 38px;
    }

    ul.sub-menu {
        font-size: 12px;
        list-style: none;
        padding: 0;
    }

    .acatalogo {
        margin-top: 84px;
        a {
            padding-right: 0 !important;
        }
    }
}

#scrollToTop {
    bottom: 75px;
    color: $bgSocialIcon;
    cursor: pointer;
    display: none;
    font-size: 48px;
    padding: 0 14px;
    position: fixed;
    right: 15px;
    z-index: 99999;
    @include md {
        bottom: 16px;
        font-size: 24px;
        right: 9px;
    }
}

.socialIconContainer {
    border-radius: 48px;
    color: white !important;
    cursor: pointer;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 15px;
    a {
        color: $bgSocialIcon !important;
        &:hover {
            color: white !important;
        }
    }
    // i{
    //     filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.85));
    // }
}