.menu ul {
  /* list-style: none; */
  margin-left: 18% !important;
  margin-right: 18% !important;
}

.cd-logo-menu img {
  width: 240px !important;
}

.menuLeft {
  z-index: 9999;
  padding-left: 0 !important;
  /* padding-top: 10px; */
  width: 235px;
  margin-top: -14px;
  margin-left: 30px;
  overflow: hidden;
  height: 700px;
}

.secondMenuContainer {
  margin-left: 100px;
  margin-top: 50px;
  /* width: 200px; */
}

.secondMenu ul {
  margin-left: 0;
  padding: 0;
  margin-top: 0px !important;
}

.secondMenu ul li {
  margin: 0;
}

.headerbg {
  height: 130px !important;
  background-color: white;
  /* z-index: 999; */
}

.headerbgoverlay {
  opacity: 1;
  width: 100%;
  height: 238px;
  display: block;
  position: absolute;
  top: 20px;
  z-index: 1;
  background-color: white !important;
}

.cd-main-content {
  overflow: hidden;
}

#Filters {
  margin-top: -12px;
  width: 100%;
}
#Filters .checkboxes {
  padding-top: 12px;
}

@media only screen and (max-width: 767px) {
  #sidebar-right {
    display: none;
  }

  #sidebar-right-mv .box {
    padding: 20px;
    font-family: "Poppins-Regular";
    font-size: 11px;
    line-height: 14px;
    color: white;
  }
  #sidebar-right-mv .box b, #sidebar-right-mv .box strong {
    font-family: "Poppins-SemiBold";
    font-size: 14px;
    line-height: 17px;
  }

  .curso {
    overflow: hidden;
  }

  #infocurso {
    margin-top: 1100px !important;
    margin-left: 10%;
  }

  .curso #sidebar {
    float: right;
    height: auto;
    position: relative;
    min-height: 1px;
  }

  .sidebar-curso {
    width: 85%;
    margin-top: 180px !important;
    margin-right: 5%;
  }

  #sidebar-pinterest {
    float: none;
  }

  .headerbgoverlay {
    display: none;
  }

  #contenido {
    padding-top: 0px !important;
  }
}
.lista-menu {
  margin-top: -12px !important;
  background-color: white !important;
}

@media only screen and (min-width: 768px) {
  .slogan {
    margin-top: -20px;
    margin-bottom: 33px;
  }
}
.controls {
  background-color: white !important;
  border: 0px;
}
.controls .total-cursos {
  padding: 9px 0px;
}

.sidebar-curso {
  font-family: "Poppins-Regular";
  color: #263746 !important;
  background-color: #99B4FF !important;
}
.sidebar-curso .frase {
  color: #158f76;
  font-size: 1.2em;
  font-family: "Roboto Slab", monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar-curso .pibtn {
  background-color: #263746;
  color: #99B4FF;
  text-transform: lowercase;
  margin-right: 20px;
}
.sidebar-curso .pibtn:hover {
  background-color: #263746 !important;
}
.sidebar-curso #details {
  font-family: "Poppins-Regular";
  font-size: 14px;
  line-height: 17px;
}
.sidebar-curso #details ul, .sidebar-curso #espes ul {
  letter-spacing: 0px !important;
}
.sidebar-curso #utils a {
  font-family: "Poppins-Bold";
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}
.sidebar-curso #utils a .second {
  border: 1px solid blue;
}

#details .fa {
  color: #263746 !important;
}

#frmFormulario input:not([type=checkbox]) {
  background: none;
  border: none;
  color: #263746;
  box-shadow: none;
  border-bottom: 1px solid #263746;
  border-radius: 0;
  padding: 0px;
}
#frmFormulario input:not([type=checkbox])::placeholder {
  color: #969ca2;
}
#frmFormulario input[type=checkbox] {
  float: left;
}

#app_formulario_curso .portlet-title {
  font-family: "Poppins-Regular";
  font-size: 20px;
  line-height: 23px;
}
#app_formulario_curso .portlet-title span {
  display: block;
  font-size: 14px;
  line-height: 15pt;
}
#app_formulario_curso .enviar {
  display: block;
  margin: 0 auto;
  font-family: "Poppins-SemiBold";
  font-size: 34px;
  line-height: 23px;
  color: #99B4FF;
  background-color: #fff;
  padding: 18px;
}
#app_formulario_curso .lopdtext {
  width: 88%;
  float: left;
  font-size: 10px;
  line-height: 12px;
  margin-left: 12px;
  margin-bottom: 22px;
}

.introseccion {
  padding-right: 50px;
  font-family: "Lora-Regular";
  font-size: 15px;
  line-height: 23px;
  overflow: hidden;
  margin-top: 100px;
}
.introseccion h1, .introseccion h2 {
  font-family: "Poppins-Regular";
}

.playfair {
  padding-right: 70px;
  font-family: "Lora-Regular";
  font-size: 15px;
  line-height: 23px;
}
.playfair h1, .playfair h2 {
  font-family: "Poppins-Regular";
}

#infocurso .precio {
  width: 50%;
}

.verincluye {
  cursor: pointer;
}

#infocurso .incluye {
  margin-top: 20px;
  padding: 12px;
}
#infocurso .incluye li {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 0px;
}

.categorias {
  overflow: hidden;
  z-index: 1;
}

.incluye li:before {
  content: "";
}

.curso {
  font-family: "Poppins-Regular" !important;
}
.curso span {
  font-family: "Poppins-Regular" !important;
  font-size: 14px;
  line-height: 17px;
  margin: 6px 0;
}
.curso em {
  background-color: #99B4FF;
  font-style: normal !important;
  padding: 0 3px;
}
.curso #sidebar-pinterest {
  margin-top: -12px;
}
.curso .group-all .form-group {
  margin-top: 4px;
  margin-bottom: 4px;
}
.curso #group-pregunta, .curso #group-fechanac, .curso #group-ciudad {
  font-size: 14px;
  margin-bottom: 12px;
}
.curso #group-pregunta .input-group-addon, .curso #group-fechanac .input-group-addon, .curso #group-ciudad .input-group-addon {
  background: none;
  border: none;
}
.curso #group-pregunta {
  margin-top: 14px;
}
.curso .introduccion {
  font-family: "Poppins-Regular" !important;
  font-size: 14px;
  line-height: 17pt;
  text-align: left !important;
}
.curso .info-general {
  font-family: "Poppins-Bold";
  font-size: 22px;
  line-height: 25pt;
  color: #99B4FF;
  text-align: left !important;
}
.curso .info-basica {
  font-size: 0.85em;
  padding: 20px 0 10px 10px;
}

.curso-menu {
  padding-bottom: 20px;
}
.curso-menu a {
  font-family: "Poppins-Medium";
  font-size: 14px;
  color: #99B4FF !important;
}
.curso-menu a:not(:last-child):after {
  padding-left: 12px;
  content: "|";
}

.slogan-curso {
  background-color: white;
}

.titulo-cat {
  position: absolute;
  top: -30px;
  z-index: 99;
}

/*
breadcrumb
======================================= */
ul.breadcrumb {
  margin: 0;
  background: none;
  padding: 0px;
  margin-bottom: 8px;
}
ul.breadcrumb a {
  font-family: "Poppins-Medium";
  font-size: 14px;
  color: #607C91 !important;
}

.breadcrumb > li + li:before {
  content: ">";
  font-size: 16px;
}

/* .breadcrumb li {font-size: 12px;}
.breadcrumb a {color: rgba(0, 0, 0, 1); text-decoration: none;}
.breadcrumb a:hover {color: rgba(0, 0, 0, 0.59);}
.breadcrumb>.active {color: rgba(0, 0, 0, 0.5);}

.white #header .breadcrumb a:link, .white #header .breadcrumb a:visited{fotos
    color: #FFFFFF;
}
.white #header .breadcrumb a:active, .white #header .breadcrumb a:hover{
    text-decoration: underline;
}
*/
#infocurso {
  margin-top: 65px;
  /* ?!? */
  font-size: 15px;
  line-height: 17pt;
  font-family: "Lora-Regular";
  overflow: hidden;
}
#infocurso h2 {
  font-family: "Poppins-Medium";
  font-size: 26px;
  color: #263746;
  margin-top: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
}

#header .titulo {
  height: 92px !important;
  font-family: "Poppins-SemiBold";
  font-size: 32px;
  color: #263746;
}
#header .titulo .slogan small {
  display: block;
  font-family: "Poppins-SemiBold";
  font-size: 14px;
  line-height: 14px;
  padding-top: 4px;
}

#sidebar-right {
  position: relative;
  overflow: hidden;
  letter-spacing: 0px !important;
}
#sidebar-right .box {
  position: fixed;
  top: 0;
  right: 78px;
  z-index: 9999;
  min-height: 40px;
  height: auto;
  width: 20%;
  background-color: #80A5B7;
  padding: 20px;
  font-family: "Poppins-Regular";
  font-size: 11px;
  line-height: 19px;
  color: white;
}
#sidebar-right .box h5 > small {
  font-size: 14px;
}
#sidebar-right .box ol {
  font-size: 11px;
  letter-spacing: 0px;
}
#sidebar-right .box ol li:before {
  font-size: 10px;
  padding-top: 2px;
}
#sidebar-right .box b, #sidebar-right .box strong {
  font-family: "Poppins-SemiBold";
  font-size: 14px;
}

#sidebar-right-mv {
  display: none;
}

#contenido {
  padding-top: 20px;
  font-family: "Poppins-Regular";
  font-size: 13px;
  line-height: 15px;
  color: #263746;
}

#contenido-pagina {
  padding-top: 150px;
  font-family: "Poppins-Regular";
  font-size: 13px;
  line-height: 15px;
  color: #263746;
}

.pagina {
  text-align: justify;
  font-family: "Lora-Regular";
  font-size: 15px;
  line-height: 17px;
}
.pagina h2 {
  font-family: "Poppins-Regular";
  font-size: 22px;
}

.fotos-grid .foto-grid img {
  height: 120px !important;
  width: 120px !important;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

#cursos-lista .mix, #cursos-lista .gap {
  background: none !important;
  height: auto !important;
}
#cursos-lista .fotocurso {
  background-color: #E5E5E5;
}
#cursos-lista .fichacurso {
  padding: 0px 0px 10px 0px;
  height: 245px;
}
#cursos-lista .nombrecurso {
  font-family: "Poppins-SemiBold";
  font-size: 24px !important;
  line-height: 28px;
}
#cursos-lista .curso-pais {
  font-family: "Poppins-Regular";
  font-size: 11px !important;
}
#cursos-lista .curso-alojas {
  font-family: "Poppins-SemiBold";
  font-size: 14px;
}
#cursos-lista .curso-edades {
  font-family: "Poppins-Regular";
  font-size: 16px;
}
#cursos-lista .curso-especialidades {
  font-family: "Poppins-Regular";
  font-size: 12px;
}

.footer-wrapper {
  margin-top: 180px;
  position: relative;
  z-index: 9999;
  width: 100%;
}

.text-lg-right {
  text-align: right !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

footer {
  position: relative;
  background-color: #343F49;
  color: #a9b0b6;
  font-family: "Poppins-SemiBold";
  padding: 20px 0;
}
footer p {
  font-size: 12px;
  line-height: 16px;
}
footer a {
  color: #a9b0b6 !important;
  text-decoration: none !important;
}
footer a.amain {
  color: #f1f2f2 !important;
}
footer .title {
  font-size: 14px;
  color: white;
  margin-bottom: 24px;
}
footer .title .underline {
  border-bottom: 3px solid white;
  padding-bottom: 8px;
}
@media (max-width: 992px) {
  footer .title {
    padding: 48px 0 0 0;
  }
}
footer .titleBig {
  color: white;
  font-size: 15px;
  margin-bottom: 36px;
}
footer .optionsFooter {
  font-size: 14px;
  margin-top: 24px;
}
@media (max-width: 992px) {
  footer .optionsFooter {
    padding: 0 0 0 24px;
  }
}
footer .optionsFooter a {
  padding-right: 20px;
}
footer .logoFirst {
  color: #ffffff;
  font-family: "Poppins-Light", sans-serif;
  font-size: 36px;
  letter-spacing: 6px;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
@media (max-width: 576px) {
  footer .logoFirst {
    font-size: 24px;
  }
}
footer .logoSecond {
  color: #ffffff;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 36px;
  letter-spacing: 6px;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
@media (max-width: 576px) {
  footer .logoSecond {
    font-size: 24px;
  }
}
footer .d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
footer #cd-logo img {
  width: 145px;
}
footer .footer-rrss {
  margin-top: -50px;
  padding-left: 90px;
  width: 300px;
}
footer .footer-logo {
  position: absolute;
  width: 200%;
  top: 5px;
  margin-left: 38px;
}
footer ul.sub-menu {
  font-size: 12px;
  list-style: none;
  padding: 0;
}
footer .acatalogo {
  margin-top: 84px;
}
footer .acatalogo a {
  padding-right: 0 !important;
}

#scrollToTop {
  bottom: 75px;
  color: #606870;
  cursor: pointer;
  display: none;
  font-size: 48px;
  padding: 0 14px;
  position: fixed;
  right: 15px;
  z-index: 99999;
}
@media (max-width: 768px) {
  #scrollToTop {
    bottom: 16px;
    font-size: 24px;
    right: 9px;
  }
}

.socialIconContainer {
  border-radius: 48px;
  color: white !important;
  cursor: pointer;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-top: 15px;
}
.socialIconContainer a {
  color: #606870 !important;
}
.socialIconContainer a:hover {
  color: white !important;
}

/*# sourceMappingURL=adapt2020.css.map */
