.home-seccion {
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}
.home-caja {
  height: calc(100vh - 200px);
  overflow: hidden;
}
.cd-main-header {
  z-index: 999 !important;
}
.boxcurso {
  word-wrap: break-word;
  text-align: center;
  height: calc(100vh - 200px);
  display: table;
}
.boxcurso .titulo {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 3em !important;
}
.boxcurso a {
  font-size: 1.4em !important;
}
.boxcurso2 {
  display: block;
  margin: 0 auto;
  font-size: 0.4em !important;
  line-height: 1.2em;
}
.infocurso {
  min-height: calc(100vh / 2);
}
