/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
/* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* -------------------------------- 

Main components 

-------------------------------- */
.cd-main-content {
/* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  z-index: 2;
  padding-top: 50px;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: #fff;
}
.cd-main-content.lateral-menu-is-open {
/* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
.whatsapp {
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.whatsapp.lateral-menu-is-open {
/* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
@media only screen and (min-width: 768px) {
  .cd-main-content {
    padding-top: 70px;
  }
}
@media only screen and (max-width: 736px) {
  .cd-main-content {
    padding-top: 0;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #eee;
  border-top: 4px solid #222;
  z-index: 5;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
header.lateral-menu-is-open {
/* translate to show the lateral menu */
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header.is-fixed {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  header {
    height: 70px;
  }
}
#cd-logo {
  display: block;
  float: left;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 15px 0 0 30px;
  }
}
@media only screen and (max-width: 767px) {
  #cd-logo img {
    width: auto;
    height: 28px;
    margin: 12px 0 0 12px;
  }
}
#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none;
}
#cd-top-nav-small {
  position: absolute;
  top: 0;
  right: 55px;
  height: 100%;
  display: none;
}
#cd-top-nav ul,
#cd-top-nav-small ul {
  height: 100%;
  padding-top: 0px;
  margin-bottom: 0px;
}
#cd-top-nav li,
#cd-top-nav-small li {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  margin-right: -4px;
}
#cd-top-nav a {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: inherit;
  text-decoration: none;
  padding: 22px;
  height: 100%;
  width: 100%;
}
#cd-top-nav-small a {
  display: inline-block;
  padding: 14px 4px 0px 10px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: inherit;
  text-decoration: none;
  height: 100%;
}
#cd-top-nav li > ul li {
  width: 100%;
}
#cd-top-nav li > ul {
  width: 100%;
  height: auto;
}
#cd-top-nav a.current,
#cd-top-nav-small a.current {
  background-color: #242e30;
}
.no-touch #cd-top-nav a:hover,
.no-touch #cd-top-nav-small a:hover {
  color: #fff;
  background-color: #545454;
}
@media only screen and (min-width: 768px) {
  #cd-top-nav {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #cd-top-nav-small {
    display: block;
  }
}
#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #ccc;
}
#cd-menu-trigger .cd-menu-text {
  height: 100%;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  display: none;
}
#cd-menu-trigger .cd-menu-icon {
/* this span is the central line in the menu menu */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #000;
/* these are the upper and lower lines in the menu menu */
}
#cd-menu-trigger .cd-menu-icon::before,
#cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
  bottom: 5px;
}
#cd-menu-trigger .cd-menu-icon::after {
  top: 5px;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255,255,255,0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before,
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: #fff;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#cd-menu-trigger:active,
#cd-menu-trigger:hover {
  background: #000;
}
#cd-menu-trigger:active .cd-menu-text,
#cd-menu-trigger:hover .cd-menu-text {
  color: #fff;
}
#cd-menu-trigger:not(.is-clicked):active .cd-menu-icon,
#cd-menu-trigger:not(.is-clicked):hover .cd-menu-icon {
  background-color: #fff;
  color: #fff;
}
#cd-menu-trigger.is-clicked,
#cd-menu-trigger.is-clicked .cd-menu-text {
  color: #fff;
  background: #000;
}
@media only screen and (min-width: 768px) {
  #cd-menu-trigger {
    width: 110px;
    padding-left: 1.25em;
  }
  #cd-menu-trigger .cd-menu-text {
    display: inline-block;
    line-height: 70px;
  }
  #cd-menu-trigger .cd-menu-icon {
    left: auto;
    right: 1.25em;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
/* the secondary navigation is covered by the main element */
  z-index: 100;
  width: 260px;
  background-color: #000;
  overflow-y: auto;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
/* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
}
#cd-lateral-nav .cd-navigation {
  margin: 10px 0 16px;
  padding: 0 20px 0 30px;
  list-style: none;
}
#cd-lateral-nav .sub-menu {
  padding: 0;
  display: none;
  list-style: none;
  margin-bottom: 30px;
}
#cd-lateral-nav a {
  display: block;
  line-height: 2em;
  padding: 0 16px 0 0;
  color: #aab5b7;
  text-decoration: none;
}
#cd-lateral-nav .cd-single-item-wrapper a {
  line-height: 1.5em;
}
#cd-lateral-nav .sub-menu a {
  line-height: 1em;
  padding: 6px 16px;
}
#cd-lateral-nav a.current {
  background-color: #3a4a4d;
  color: #fff;
  text-decoration: none;
}
#cd-lateral-nav a.submenu-open {
  color: #fff;
  text-decoration: none;
}
.no-touch #cd-lateral-nav a:hover {
  color: #fff;
  text-decoration: none;
}
#cd-lateral-nav .cd-navigation .cd-single-item-wrapper {
  text-transform: uppercase;
  margin-top: 30px;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 30px 0 16px;
    padding: 0 20px 0 30px;
    list-style: none;
  }
  #cd-lateral-nav .cd-navigation .cd-single-item-wrapper {
    text-transform: uppercase;
    margin-top: 30px;
    padding: 0;
  }
  #cd-lateral-nav .cd-navigation .socials {
    padding: 0;
  }
}
#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
/* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}
/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a,
#cd-lateral-nav .item > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2em;
/* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.5em;
  background: url("../img/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
#cd-lateral-nav .socials {
  padding: 0;
}
#cd-lateral-nav .socials:after {
  content: "";
  display: table;
  clear: both;
}
#cd-lateral-nav .socials a {
  float: left;
  padding: 0;
  margin-right: 0.5em;
  font-size: 1.2em;
}
#cd-lateral-nav .socials a:last-child {
  margin-right: 0;
}
.no-touch #cd-lateral-nav .socials a:hover {
  color: #fff;
}
.cd-nav input {
  font-family: sans-serif;
  font-size: 1.6rem;
}
.cd-nav input[type="search"]::-ms-clear {
/* removes close icon - IE */
  display: none;
}
.cd-nav input[type="search"]::-webkit-search-decoration,
.cd-nav input[type="search"]::-webkit-search-cancel-button,
.cd-nav input[type="search"]::-webkit-search-results-button,
.cd-nav input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.cd-search-trigger,
.cd-nav-trigger {
  position: relative;
  display: block;
  width: 60px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
/* hide text */
  color: transparent !important;
  z-index: 3;
  margin-right: -6px;
}
.cd-search-trigger::before,
.cd-search-trigger::after {
/* search icon */
  content: '';
  position: absolute;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-search-trigger:hover::before {
  border-color: #fff;
}
.cd-search-trigger:hover::after {
  background-color: #fff;
}
.cd-search-trigger::before {
/* lens */
  top: 21px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #2e3233;
}
.cd-search-trigger::after {
/* handle */
  height: 3px;
  width: 8px;
  background: #2e3233;
  bottom: 25px;
  right: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-search-trigger span {
/* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
a.cd-search-trigger.search-is-visible {
  background: #545454;
}
.cd-search-trigger span::before,
.cd-search-trigger span::after {
/* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 18px;
  margin-top: 12px;
  left: 18px;
  margin-left: 0;
  background: #fff;
  opacity: 0;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-search-trigger span::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before,
.cd-search-trigger.search-is-visible::after {
/* hide search icon */
  opacity: 0;
}
.cd-search-trigger.search-is-visible span::before,
.cd-search-trigger.search-is-visible span::after {
/* show close icon */
  opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-nav-trigger span,
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
/* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #2e3233;
}
.cd-nav-trigger span {
/* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
/* other 2 lines */
  content: '';
  right: 0;
/* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
/* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
/* menu icon bottom line */
  top: 6px;
}
.cd-search {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 70px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-search form {
  height: 100%;
  width: 100%;
}
.cd-search input {
  border-radius: 0;
  border: none;
  background: #fff;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0,0,0,0.05);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 2em;
}
.cd-search input::-webkit-input-placeholder {
  color: #c9cbc4;
}
.cd-search input::-moz-placeholder {
  color: #c9cbc4;
}
.cd-search input:-moz-placeholder {
  color: #c9cbc4;
}
.cd-search input:-ms-input-placeholder {
  color: #c9cbc4;
}
.cd-search input:focus {
  outline: none;
}
.cd-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
#cd-top-nav-small .cd-search-trigger,
.cd-nav-trigger {
  width: 45px;
}
@media only screen and (max-width: 767px) {
  .cd-search {
    top: 50px;
  }
  .cd-search-trigger::before {
    top: 15px;
    left: 10px;
  }
  .cd-search-trigger::after {
    bottom: 12px;
    right: 15px;
  }
}
.cd-header-buttons .fa {
  font-size: 1.5em;
  vertical-align: text-top;
  margin-right: 6px;
}
@media only screen and (max-width: 880px) {
  header {
    height: 50px;
  }
  #cd-logo {
    margin: 0;
  }
  #cd-logo img {
    width: auto;
    height: 28px;
    margin: 12px 0 0 12px;
  }
  #cd-top-nav {
    display: none;
  }
  #cd-top-nav-small {
    display: block;
  }
  #cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #ccc;
  }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    display: none;
  }
  #cd-menu-trigger .cd-menu-icon {
/* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #000;
/* these are the upper and lower lines in the menu menu */
  }
  #cd-lateral-nav .cd-navigation {
    margin: 30px 0 16px;
    padding: 0 20px 0 30px;
    list-style: none;
  }
  #cd-lateral-nav .cd-navigation .cd-single-item-wrapper {
    text-transform: uppercase;
    margin-top: 30px;
    padding: 0;
  }
  #cd-lateral-nav .cd-navigation .socials {
    padding: 0;
  }
  .cd-search {
    top: 50px;
  }
  .cd-search-trigger::before {
    top: 15px;
    left: 10px;
  }
  .cd-search-trigger::after {
    bottom: 12px;
    right: 15px;
  }
}
