/* ==============================================================

Template name : Bacceo metro style eCommerce template
Categorie : Site template
Author : Nce18cex
Version : v1.0.0
Created : 09 September 2013
Last update : 20 August 2013

-----------------------------------------------------------------
CSS structure
-----------------------------------------------------------------

01. Fontawesome
02. Typography
03. Header
04. Intro
05. Featured
06. Contain
07. Team
08. Gallery
09. Filter
10. Isotope
11. Gallery detail
12. Comments
13. Testimoni
14. Accordion
15. Pricing table
16. Contact
17. Bottom
18. Footer
19. Heading
20. Tabs
21. Divider
22. Helper class
23. Clear spacer
24. Custom top spacer
25. Custom bottom spacer
26. Custom left spacer
27. Custom right spacer
28. Forms
29. Alert
30. Fontawesome setting
31. Button
32. Ui to top
33. Custom responsive

============================================================== */
body{
    margin: 0;
    padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}
a:link, a:visited{
	color: #B69510;
	text-decoration: none;	
}
a:active, a:hover{
	color:#f1c40f;
}




/*
Header
======================================= */
header{
}

/*
Wrapper
======================================= */
#wrapper{
	/* margin-top: 40px;*/ 
	margin-bottom:32px;
}

.box{
	position:relative;
	padding:20px 0 20px 0;
	z-index:2;
	font-size: 0.8em;
}

.right-wrapp{
	float:right;
}

/*
Search form
======================================= */
.search-form{
	float:left;
	position:relative;
	color: #939393;
	margin:0px 10px;
}

input.search{
	float:left;
	font-size:12px;
	background:none;
	color: #939393;
	background:#313131;	
	border:1px solid #CCC;
	margin:0;
	padding:0px 4px;
}

input.search:focus{
	border:1px solid;
	outline:none;
}

input.search:-moz-placeholder{
  font-weight:normal;
  color: #939393;
  font-size:14px;
}

input.search:-ms-input-placeholder{
  font-weight:normal;
  color: #939393;
  font-size:14px;
}

input.search::-webkit-input-placeholder{
  font-weight:normal;
  color: #939393;
  font-size:14px;
}

button.search-button{
	background-image:url(../img/search-icon-small.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:#313131;
	/* background-size: cover; */
	border:none;
	width:14px;
	height:13px;
	text-indent:-99999;
	position:absolute;
	right:10px;
	top:6px;
}

/*
Advanced search
======================================= */
.advanced{
	/* position:absolute; */
	/* right:0; */
	/* bottom:-18px; */
	/* font-size:10px; */
	/* line-height:10px; */
	/* padding:3px 0 3px 10px; */
	/* color: #939393; */
}

.advanced:hover{
	text-decoration:none;
}

a.advanced-close{
	position:absolute;
	font-size:11px;
	top:0;
	right:0;
	color:#fff;
	padding:4px 10px 4px 10px;
}

a.advanced-close:hover{
	color:#141414;
	background:#fff;
	text-decoration:none;
}

#advanced{
	display:none;
	position: fixed;
	float: left;
	width: 100%;
	background: #282829;
	padding-bottom: 20px;
	z-index: 99999;
	height: 100% !important;
	margin-top: 0px;
	padding-top: 0px;
	}
.advancedform{
	margin:20px 0 20px 0;
}

.advancedform label{
	display:inline-block;
	margin-right:15px;
	font-weight:400;
}

/*
Cart
======================================= */
.checkout{
	float:left;
	margin-left:10px;
	font-weight: 400;
	border-bottom:2px solid #fff;
	text-transform: uppercase;
}

.checkout:hover{
	background:#fff;
	border-bottom:2px solid;
}

.cart{
	color:#fff;
	font-size:16px;
	display:block;
	padding:21px 15px 21px 15px;	
}

.cart:hover{
	text-decoration:none;
}

.shopping-review{
	width:90%;
	margin:0 auto;
	padding:0 20px 0 20px;
}

/*
Theme background
======================================= */
.wrapper-bg{
	position:relative;
}

.bg1{
	background:#519092;
}

.bg2{
	background:#909090;
}

.bg3{
	background:#2e4a46;
}

.bg4{
	background:#7fbcad;
}

.bg5{
	background:#393a4e;
}

.bg6{
	background:#000;
}

.bg7{
	background:#57B2DD;
}

.bg8{
	background:#900;
}

.bg9{
	background:#FFF;
	color: #000;
}

.bg10{
	background: #f0f0f0;
	color: #000;	
}

/*
Social network
======================================= */
.social-wrapper{
	background:#00aeef;
}

.social-link{
	width:100%;
	height:120px;
	position:relative;
	display:block;
}

.social-icon{
	float:right;
	margin:25px 25px 0 0;
}

.facebook{
	background:#1182c1;
}

.twitter{
	background:#00aeef;
}

.gplus{
	background:#e34220;
}

.dribbble{
	background:#f30e5a;
}

/*
Footer
======================================= */
footer{
	float:left;
	background:#000;
	color: #939393;
	width:100%;
	position:fixed;
	padding:0;
	bottom:0;
	left:0;
	z-index:5000;
}


/*
Contact
=========================== */
#dropdown-contact{
	bottom:0;
	left:0;	
	position: fixed;
	background:#FFF;
	color:#000;
	padding:20px 0 0 0;
	width:100%;
	height:100%;
	z-index:99;
	overflow: auto;
	font-size:0.8em;
	display:block;
	visibility: hidden;
}
#dropdown-contact .head span{
	background-color: #f1c40f;	
}

#dropdown-contact a:link, #dropdown-contact a:visited{
	color: #f1c40f !important;	
}
#dropdown-contact a:active, #dropdown-contact a:hover{
	color: #000000 !important;	
}
#dropdown-contact  a.contact-close:link, #dropdown-contact  a.contact-close:visited{
	background: #f1c40f !important;	
	color: #FFF !important;
}
#dropdown-contact a.contact-close:active, #dropdown-contact a.contact-close:hover{
	background: #000000 !important;
	color: #FFF !important;	
}
ul.listForm{
	width:100%;
	padding:0;
	margin:0;	
	list-style:none;
}

ul.listForm li {
	margin-bottom: 15px;
}

ul.listForm label{
	font-weight:400;
	display:block;
}

ul.listForm .form-control{
	background:none;
}
ul.listForm textarea{
	height: 140px;
}

.validation {
	display:none;
	margin-top: 5px;
}

#sendmessage{
	display:none;
}

#sendmessage.show,.show  {
	display:block;
}

a.contact-close{
	position: absolute;
	font-size: 36px;
	top: -40px;
	right: -40px;
	color: #000 !important;
	padding: 55px 0px 0px 30px;
	background: #f1c40f;
	font-family: sans-serif;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
	font-weight: 100;
}

a.contact-close:hover{
	color:#FFF !important;
	background:#000;
	text-decoration:none;
}

#mapa_info p{
	cursor: crosshair;
}


#mapa_info p strong{
	text-transform: uppercase;	
}


/*
Product
=========================== */
.product-title{
	position:absolute;
	width:100%;
	background: rgba(255,255,255,0.9);/*#cecece;*/
	color:#1c1c1c;
	z-index:2;
	left:0;
	bottom:0;
	padding:0;
	text-align:left;
}

.product-title h5{
	float:left;
	margin:14px 0 0 20px;
}

.product-title h5 a{
	color:#333;
	text-decoration:none;
}
.infoicons{
	height: 100%;
	display: inline-block;
	padding-top: 15px;
	padding-right: 20px;
}

.info{
	font-size: 0.8em;
	display: inline-table;
	position: relative;
	cursor: default;	
	/*margin-top: 15px;*/
	vertical-align:middle;
	text-align: center;
	
}
.info.big{
	width: 60px; 
	height: 60px;
	border-radius: 30px;
	background: #e5e5e5;
	padding: 6px;
	margin-right: 15px;
}
.info .icon{
	display: inline-block;
	cursor: help;
}
.info .icon:before{
	font-size: 36px;
	vertical-align: middle;	
	line-height: 48px;
}
.info.tipo{
	color: #8997B1;
}
.info.aloja{
	color: #8ABDC2;
	margin-right: 20px;
}
.info .fa{
	font-size: 1.5em;	
	color: #FFF;
	display: table-cell;
	line-height: 24px;
	vertical-align: middle;
}
.info span.edad{
	font-weight: 400;
	display: table-cell;
	line-height:1em;
	vertical-align: middle;
	letter-spacing: normal;
}

div.edad{
	font-weight: 400;	
	margin-left: 20px;
	margin-top: 20px;
	font-size: 0.8em;
}

.info:last-child:after{
	content: none;
}

.info-lg{
	color:#fff;
	font-weight: 400;
	font-size:16px;
	line-height:16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding:15px 25px 15px 25px;
	margin:20px 20px 0 0;
	border-radius:2px;
}

.product-label{
	position: absolute;
	padding: 0px 2px 2px 8px;
	z-index: 20;
	top: 8px;
	right: -20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 0.7em;
	font-weight: 500;
	margin-right: 10px;
	background: transparent;
	color: #fff;
	height: 22px;
}
.product-label.completo{
	background: #EE0303;	
}
.product-label.completo .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: #A20000 transparent transparent #A20000;
	position: absolute;
	z-index: 3;
	right: 0px;
	top: 22px;
}
.product-label.promo{
	background:#3C0;	
}
.product-label.promo .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: #060 transparent transparent #060;
	position: absolute;
	z-index: 3;
	right: 0px;
	top: 22px;
}
.product-label.ultimas{
	background:#F93;	
}
.product-label.ultimas .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: #960 transparent transparent #960;
	position: absolute;
	z-index: 3;
	right: 0px;
	top: 22px;
}
span.caption-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	top:0;
	left:0;
}

.plus{
	position:absolute;
	width:auto;
	height:auto;
	z-index:10;
	left:75%;
	bottom:100%;
	margin-top: -10px;
	text-align:center;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;	
	color:#fff;
	text-decoration: none;
	opacity: 0;
	
}

.plus span{
	display:block;
	
}



ul.detail-list{
	list-style:none;
	margin:0;
	padding:0;
	font-size:16px;
}

ul.detail-list li{
	border-bottom:1px dotted #636466;
	padding:0 0 10px 0;
	margin:0 0 15px 0;
}



/*
Shopping Cart
=========================== */
.cart-img{
	width:80px;
	height:auto;
	background:#cecece;
}

.item-name, .item-name:hover{
	margin:0 0 0 10px;
	color:#fff;
}

.cart-qty{
	padding: 5px 0 5px 0;
	text-align:center;
	border:1px solid #fff;
	border-radius:2px;
	background:none;
	color:#fff;
	width:55px;
}

.cart-qty:focus{
	outline:none;
	border:1px solid;
}

.remove-cart{
	position:absolute;
	top:15px;
	right:8px;
	display:none;
	background:#fff;
	color:#333;
	text-decoration:none;
	font-size:14px;
	line-height:14px;
	padding:1px 5px 1px 5px;
}

.table thead > tr:hover .remove-cart,
.table tbody > tr:hover .remove-cart,
.table tfoot > tr:hover .remove-cart,
.table thead > tr:hover .remove-cart,
.table tbody > tr:hover .remove-cart,
.table tfoot > tr:hover .remove-cart {
	display:block;
}

.remove-cart:hover{
	color:#fff;
	text-decoration:none;
}

.cart-bottom{
	text-align:right;
	text-transform:uppercase;
	letter-spacing: 4px;
}

.cart-action{
	padding:20px 0 20px 0;
	margin:0;
	text-align:center;
}

/*
Social share
=========================== */
ul.social-share{
	float:left;
	margin:10px 0 20px 0;
	padding:0;
	list-style:none;
}

ul.social-share li{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

ul.social-share li.fb{
	margin:0 30px 0 0;
}	
	
/*
Blog
=========================== */
.page-count{
	margin-top:14px;
	font-size:14px;
	line-height:14px;
}

.page-count.pull-left{
	margin-left:20px;
}

.page-count.pull-right{
	margin-right:20px;
}

.meta{
	list-style:none;
	float:left;
	width:100%;
	margin:0 0 10px 0;
	padding:0;
}

.meta li{
	float:left;
	margin:0 15px 0 0;
	padding:0;
}

article{
	/* background:#353637; */
	margin-bottom:1px;
}

article blockquote{
	background:#eeeeee;
	color:#333;
	border-left:8px solid;
	padding:20px;
	font-size:18px;
	margin:0;
}

article blockquote p{
	line-height:28px;
}

aside .widget{
	margin-bottom:20px;
}

aside a{
	color:#fff;
}

aside a:hover{
	color:#fff;
	text-decoration:underline;
}

aside .head{
	margin-bottom: 20px;
	margin-top: 4px;
}

aside .head span{
	background-color:#CCC;
}

.cat{
	margin:0 0 0 15px;
	padding:0;
}

.recent{
	margin:0;
	padding:0;
	list-style:none;
}

.recent li{
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	list-style:none;
	border-bottom:1px dotted #fff;
}

.recent li img{
	margin-top:5px;
}



/*
Ticker
=========================== */
ul.ticker{
	float:left;
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
}

ul.ticker li{
	float:left;
	background:none;
	line-height:26px;
	margin:0;
	padding:0;	
}

ul.ticker-one{
	float:left;
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
}

ul.ticker-one li{
	float:left;
	background:none;
	line-height:26px;
	margin:0;
	padding:0;	
}

/*
Heading
======================================= */
.heading{
	float:left;
	color:#000;
	margin:0 20px 0 0;
	padding:0;
	background: #FFF;
}

.heading h4{
	float:left;
	color:#000;
	border-top:2px solid #000;
	margin:0 20px 0 0;
	padding:28px 40px 30px 40px;
	background: none;
}

.head{
	position: relative;
	border-bottom: 1px solid #dedede;
	padding-bottom: 9px;
	margin-bottom:25px;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.head span{
	position: absolute;
	width: 80px;
	height: 2px;
	bottom: -1px;
	left: 0;
}

/*
Sort item
======================================= */
.sort-item{
	float:left;
}

.sort-item label{
	font-weight:400;
	margin:10px 0 0 20px;
}

.sort-item select{
	color: #939393;
	background:#313131;	
	border:1px solid #474747;
	padding:5px 10px 5px 10px;
	outline:none;
	cursor:pointer;
}

.sort-item select:focus{
	border:1px solid;
}

/*
Helper
======================================= */
.frame-hover{
	width:100%;
	height:100%;
	border:8px solid rgba(0,0,0,0.4);
	display:block;
	position:absolute;
	opacity: 0.2;
	filter: alpha(opacity=20);	
	z-index:1;
	text-align: center;
	padding: 15px;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.fixed{
	position:fixed;
}

.alignleft{
	text-align:left;
	float:left;
	margin:5px 20px 20px 0;
}

.alignright{
	text-align:right;
	float:right;
	margin:5px 0 20px 20px;
}

.aligncenter{
	text-align:center;
}

/*
Clear spacer
======================================= */
.marginnone{
	margin:0;
}

.margintop-clear{
	margin-top:0;
}

.marginbot-clear{
	margin-bottom:0;
}

/*
Custom top spacer
======================================= */
.margintop5{
	margin-top:5px;
}

.margintop10{
	margin-top:10px;
}

.margintop15{
	margin-top:15px;
}

.margintop20{
	margin-top:20px;
}

.margintop25{
	margin-top:25px;
}

.margintop30{
	margin-top:30px;
}

.margintop35{
	margin-top:35px;
}

.margintop40{
	margin-top:40px;
}

.margintop45{
	margin-top:45px;
}

.margintop50{
	margin-top:50px;
}

.margintop55{
	margin-top:55px;
}

.margintop60{
	margin-top:60px;
}

/*
Custom bottom spacer
======================================= */
.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}

.marginbot15{
	margin-bottom:15px;
}

.marginbot20{
	margin-bottom:20px;
}

.marginbot25{
	margin-bottom:25px;
}

.marginbot30{
	margin-bottom:30px;
}

.marginbot35{
	margin-bottom:35px;
}

.marginbot40{
	margin-bottom:40px;
}

.marginbot45{
	margin-bottom:45px;
}

.margintop50{
	margin-bottom:50px;
}

.marginbot55{
	margin-bottom:55px;
}

.marginbot60{
	margin-bottom:60px;
}

/*
Custom left spacer
======================================= */
.marginleft5{
	margin-left:1px;
}

.marginleft10{
	margin-left:10px;
}

.marginleft15{
	margin-left:15px;
}

.marginleft20{
	margin-left:20px;
}

/*
Custom right spacer
======================================= */
.marginright5{
	margin-right:1px;
}

.marginright10{
	margin-right:10px;
}

.marginright15{
	margin-right:15px;
}

.marginright20{
	margin-right:20px;
}

/*
Ui to top
======================================= */
#toTop{
	display:none;
	text-decoration:none;
	z-index:50;
	position:fixed;
	bottom:50px;
	right:20px;
	overflow:hidden;
	width:45px;
	height:44px;
	border:none;
	text-indent:-999px;
	background-image:url(../img/ui.totop.png);
	background-repeat:no-repeat;
	background-position: top left;
	background-color:#000;
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
}

#toTopHover{
	background-image:url(../img/ui.totop.png);
	background-repeat:no-repeat;
	background-position: left -44px;
	width:45px;
	height:44px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);	
}

#toTop:active, #toTop:focus{
	outline:none;
}



/*
Custom responsive
======================================= */
@media (min-width: 1200px) {
	.navbar-nav > li > a {
		padding: 25px 20px 25px 20px;
		margin:0 0.5px 0 0.5px;
		line-height: 16px;
		font-size:16px;
		color: #939393;
		border-radius: 0;
		text-transform:uppercase;
		font-size:16px;
	}
	.cart{
		color:#fff;
		display:block;
		padding:21px 20px 21px 20px;	
	}
	.checkout{
		margin-left:20px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	header{
		position:fixed;
	}
	#wrapper{
		/*margin-top:40px;*/
		margin-bottom:64px;
	}
	.max-width{
		padding-bottom:89px;
	}
	#contenido{
		margin-bottom: 85px;	
	}
	.collapse {
	  display: inline-block;
	  float:left;
	  width:100%;
	}
	.panel-collapse.collapse{
	  display: none;
	  float:none;
	  width:auto;	
	}
	.panel-collapse.collapse.in {
	  display: block;
	}	
	.navbar .nav-collapse .nav{
		width:100%;
	}
	.navbar .nav-collapse .nav li{
		display:none;
	}
	.navbar .nav-collapse .nav select{
		display:block;
		color: #939393;
		border:1px solid #474747;
		margin-top:20px;
		padding:10px 15px 10px 15px;		
	}
	.navbar-brand{
		float:left;
		max-width:100%;
		width:100%;
		text-align:center;
		display:block;
	}
	.right-wrapp{
		width:100%;
	}
	.right-wrapp form.pull-left{
		width:100%;
	}
	.search-form{
		float:none;
		margin:0 auto;
		/* margin-top:15px; */
		width:90%;
	}
	input.search{
		width:100%;	
	}
	.advanced{
		right:5%;
	}
	.checkout{
		float:left;
		width:100%;
		margin:30px 0 0 0;
		border-bottom:2px solid #fff;
		font-weight: 400;
		text-transform: uppercase;
	}
	.cart{
		text-align:center;
		padding:10px 0 8px 0;	
	}
	.heading{
		float:left;
		width:100%;
		margin:0;
	}
	.heading h4{
		float:left;
		width:100%;
		padding:30px 0 30px 0;
		margin:0;
		text-align:center;
	}
	ul.ticker li{
		text-align:center;
	}
	.copyright{
		width:100%;
		text-align:center;
	}
	.sort-item{
		width:100%;
		margin-bottom:5px;
	}
	.pagination.pull-left, .pagination.pull-right{
		float:left;
		width:100%;
		margin-bottom:5px;
	}
	.pagination-wrapp{
		width:100%;
	}
	.page-count, .page-count.pull-left, .page-count.pull-right{
		float:left;
		width:100%;
		margin:0;
		padding:10px 20px 10px 20px;
	}
	span.info-lg{
		float:left;
		margin-bottom:20px;
	}
	#toTop{
		bottom:110px;
	}
}

@media (max-width: 767px) {
	header{
		position:relative;
	}
	#wrapper{
		/*margin-top:0;*/
		margin-bottom:32px;
	}
	#contenido{
		margin-bottom: 55px;	
		padding-top: 0px;
	}
	#header{
		position: relative;
		height: auto;	
	}
	.seccion{
		position: relative !important;	
		top: 0;
	}
	.collapse {
	  display: inline-block;
	  float:left;
	  width:100%;
	}
	.panel-collapse.collapse{
	  display: none;
	  float:none;
	  width:auto;	
	}
	.panel-collapse.collapse.in {
	  display: block;
	}
	.navbar .nav-collapse .nav{
		width:100%;
	}
	.navbar .nav-collapse .nav li{
		display:none;
	}
	.navbar .nav-collapse .nav select{
		display:block;
		color: #939393;
		border:1px solid #474747;
		margin-top:9px;
		padding:10px 15px 10px 15px;		
	}
	.navbar-brand{
		float:left;
		max-width:100%;
		width:100%;
		text-align:center;
		display:block;
	}
	.right-wrapp{
		width:100%;
	}
	.right-wrapp form.pull-left{
		width:100%;
	}
	.search-form{
		float:none;
		margin:0 auto;
		width:90%;
	}
	input.search{
		width:100%;	
	}
	.advanced{
		right:5%;
	}
	.checkout{
		float:left;
		width:100%;
		margin:30px 0 0 0;
		border-bottom:2px solid #fff;
		font-weight: 400;
		text-transform: uppercase;
	}
	.cart{
		text-align:center;
		padding:10px 0 8px 0;	
	}
	.heading{
		float:left;
		width:100%;
		margin:0;
	}
	.heading h4{
		float:left;
		width:100%;
		padding:30px 0 30px 0;
		margin:0;
		text-align:center;
	}
	ul.ticker li{
		text-align:center;
	}
	.copyright{
		width:100%;
		text-align:center;
	}
	.sort-item{
		width:100%;
		margin-bottom:5px;
	}
	.pagination.pull-left, .pagination.pull-right{
		float:left;
		width:100%;
		margin-bottom:5px;
	}
	.pagination-wrapp{
		width:100%;
	}
	.page-count, .page-count.pull-left, .page-count.pull-right{
		float:left;
		width:100%;
		margin:0;
		padding:10px 20px 10px 20px;
	}
	span.info-lg{
		float:left;
		margin-bottom:20px;
	}
	.cart-img{
		display:none;
	}
	.item-name{
		margin:0;
	}
	#toTop{
		bottom:110px;
	}	
}

/*
STYLESWITCHER
======================================= */
#panel {
	position:fixed;
	top: 100px;
	left:-230px;
	width: 230px;
	color: #fff;
    z-index: 5000;
    font-size: 11px;
	background:#181818;
}

#panel input{
	width:160px;
	background:#fff;
}

.colorpicker {
    z-index: 5001;	
}
.panel-inner {
	position: relative;
	width: 100%;
	height: 100%;
}
.options_box {
	margin:0;
	padding:0;
	overflow:hidden;
}

.options_box .solidline {
	margin-bottom:10px;
}

.options_box h6 {
	text-align:center;
	font-weight:bold;
	background:#333333;
	padding:14px 0 13px 0;
	margin-top:0;
	margin-bottom:20px;
}


.options_box .layout{
	width: 190px;
	margin:0 20px 20px 20px;
}

.options_toggle_holder {
	position:absolute;
	right:-40px;
}

.options_toggle  {
	margin: 0 0 0 4px;
	padding:10px 10px 10px 10px;
	cursor: pointer;
	border-left:none;
	display:block;
	background:#333333;
	font-size:28px;
	line-height:28px;
	text-align:center;
}
.options_toggle  i{
	margin:0;
	padding:0;
}


.options_toggle:hover,.options_toggle:focus,.options_toggle:active{
	outline:0;
	text-decoration:none;
}

#accent_color{
	color: #333;
	border: none;
	text-transform: uppercase;
	margin-left: 2px;
	text-align: center;
	outline:0;
}

.ventaja{
	display: inline-block;
	height: 150px;	
	border: 8px solid #FFF;
	text-align: center;
	padding: 20px 10px;
	color: #000;
	font-size: 16px;
	background: #e5e5e5;
}
.ventaja span.big{
	font-size: 36px;
}

.credenciales{
	display: inline-block;
	height: 180px;	
	border: 8px solid #FFF;
	text-align: center;
	padding: 20px 10px;
	color: #FFF;
	font-size: 16px;
}
.credenciales span.big{
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
}



