html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
}
body{
    /* font-family: 'Lato', sans-serif; */
    font-family: "Roboto condensed", sans-serif;
    font-size: 16px;
    padding: 0 !important;
    background: #FFFFFF;
}
a:focus {
    outline: none;
    outline-offset: 0;
}


/* HOME */
.multiselect-container {
    min-width: 100%;
    border-radius: 0;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #a2a72a;
}

.fullscreen.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
.fullscreen{
    width:100%;
    height:100%;
    overflow:hidden;
}
.content-a {
    display:table;
    width:100%;
    height:100%;
    overflow:hidden;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:bottom;
    text-align:center;
}

.content-b h2 {
    margin-bottom: 100px;
    color: #000;
}

#message .message{
    font-family: 'mt_matto_scriptbold';
    font-size: 30px;
    color: #000;
}

#steps{
    min-height: 300px;
    background: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
}
#steps .steps{
    font-size: 2em;
    color: #333;
    text-align: left;
}
.steps div {
    padding-right: 30px;
}
#steps h2{
    margin-bottom: 40px;
    color: #333;
}
#steps h2 span{
    font-weight: 600;
    font-size: 36px;
}
#steps .steps .number{
    font-size: 42px;
    width: 64px;
    height: 64px;
    display: block;
    border: 5px solid #dbf500;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    text-align: center;
    line-height: 54px;
    font-weight: 900;
    color: #dbf500;
}
#steps .steps .steptitle{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 2px;
}
#steps .steps p{
    font-size: 16px;
    color: #333;
}
#clients{
    height: 100vh;
    padding-top: 100px;
    background: url("/assets/dippy/home/map.jpg") no-repeat center center;
    background-size: cover;
}
#clients .big{
    color: #ffffff;
    font-size: 65px;
    font-weight: 800;
    /*font-family: 'mt_matto_scriptnormal';*/
}
#clients .big small{
    color:#ffffff;
    font-size:45px;
    /*font-family: 'mt_matto_scriptnormal';*/
}
#clients .small{
    color:#ffffff;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
#clients .client{
    min-height: 200px;
    text-align: center;
}

.home-thumb {
    /*border-radius: 100%;*/
    overflow: hidden;
    /*width: 50%;*/
    display: table;
    /*border: 5px solid #d7dd3b;*/
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
}

/* FOOTER */
#footer{
    min-height: 300px;
    background: #000000;
    margin-top: 60px;
    padding-top: 40px;
    color: #ffffff;
}
.home #footer{
    margin-top: 0;
}
#footer ul.menu li{
    text-transform: uppercase;
    padding: 2px 0;
}
#footer ul.menu,
#footer ul.legal{
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
#footer ul.legal li a:link,
#footer ul.legal li a:visited {
    color: #CCCCCC;
}

#footer .contacto h4{
    font-size: 1.3em;
}
#footer .contacto h4 small{
    font-size: 0.8em;
    color: #CCCCCC;
    display: block;
}
#footer .contacto .footermail{
    margin-top: 20px;
    display: block;
}
#footer .social{
    /*margin-top: 30px;*/
}
#footer .social .fa{
    font-size: 30px;
    margin-left: 10px;
}
#footer .contacto a:link,
#footer .contacto a:visited,
#footer .social a:link,
#footer .social a:visited{
    color: #CCCCCC;
}

#footer .logos{
    text-align: right;
}
#footer .logos img:first-child{
    margin-right: 20px;
    vertical-align: top;
}

@media screen and (max-width: 767px){
    #footer .logos {
        text-align: left;
        margin-bottom: 60px;
        margin-top: 60px;
    }

}



.titulo-pag{
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.btn {
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #222;
    border-color: #222;
    -webkit-box-shadow: 0 0 0 0 #000000;
    -moz-box-shadow: 0 0 0 0 #000000;
    box-shadow: 0 0 0 0 #000000;
}


/*
Cookie accept
======================================= */
.cc-cookies {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.5em 5%;
    background: rgba(0,0,0,0.95);
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing:1px;
    z-index: 99999;
    text-align: left;
    color: #fff;
    padding: 30px 20px;
}
.cc-cookie-accept{
    padding: 0px 6px;
    margin: 0 20px;
    text-transform:uppercase;
    border: 1px solid;
}

/*
whatsapp link
======================================= */
.whatsapp {
    height: 40px;
    top: 50px;
    position: absolute;
    width: 100%;
    z-index: 100;
    background: #58e870;
    text-align: center;
    color: #000000;
    line-height: 40px;
    font-weight: 400;
}
.whatsapp a:link,
.whatsapp a:visited,
.whatsapp a:active,
.whatsapp a:hover{
    color: #FFFFFF;
}

/*
Home
======================================= */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0,0,0,0.3);
    border-right: 1px dashed rgba(255,255,255,0.4);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.swiper-slide:last-child{
    border: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: absolute;
    bottom: 100px !important;
    z-index: 10;
}
.swiper-home {
    position: relative;
    height: 100vh;
    z-index: 2;
}

.bghome, .bghome .bg-slide{
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #cba307;
    position: absolute;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.bg-slide.active{
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.bg-slide{
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
}
.swiper-pagination-bullet-active{
    background: #f1c40f !important;
}

.swiper-slide h1{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.6em;
    display: block;
    text-align: left;
    position: absolute;
    bottom: 100px;
    left: 30px;
    width: 75%;
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
    font-weight: 100;
}
.swiper-slide:hover h1,
.swiper-slide.active h1{
    bottom: 150px;
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}
.swiper-slide h1 .btn{
    margin-top: 30px;
    display: none;
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;

}
.swiper-slide h1 a.seccion{
    min-height: 155px;
    display: block;
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}
.swiper-slide:hover h1 .btn,
.swiper-slide.active h1 .btn{
    display: inline-block;
}
.swiper-pagination{
    display: none !important;
}

.swiper-slide .slogan{
    color: #ffef00;
    font-size: 1.2em;
    display: block;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 30px;
    width: 75%;
    max-width: 350px;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    font-weight: 100;
}
.swiper-slide:hover .slogan,
.swiper-slide.active .slogan{
    top: 15%;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
}

.swiper-slide .slogan h3{
    color: #fffaad;
}

.sloganitem{
    border-bottom: 1px dotted #000000;
    padding-bottom: 10px;
    display: block;
    float: left;
    padding-top: 20px;
    width: 100%;
    text-align: left;
}
.sloganitem h2{
    font-size: 20px;
    float: left;
    margin-top: 0;
    margin-right: 16px;
    display: inline;
    clear: none;
    max-width: 80%;
}
.sloganitem a.btn.btn-promo {
    border: 2px solid #fffaad !important;
    color: #fffaad;
    padding: 3px 6px;
    font-size: 11px;
    cursor: pointer;
    float: right;
    display: inline;
    clear: none;
}

.swiper-slide.active a.seccion.seccion-promo {
    min-height: 120px !important;
}


@media screen and (max-width: 1170px){
    .swiper-slide h1, .swiper-slide:hover h1, .swiper-slide.active h1 {
        position: relative;
        width: 50%;
        text-align: center;
        bottom: 0;
        font-size: 2.5em;
        font-weight: 300;
        z-index: 3;
        border: none !important;
        left: 0;
        min-height: 120px;
    }
    .swiper-slide h1 .btn, .swiper-slide:hover h1 .btn, .swiper-slide.active h1 .btn {
        display: inline-block;
        margin-top: 30px;
    }
    .swiper-slide-double h1, .swiper-slide-double:hover h1, .swiper-slide-double.active h1 {
        bottom: -10%;
    }
    .swiper-slide:before{
        background: rgba(0,0,0,0.3);
        display: block;
        height: 100%;
        width: 100%;
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
    }
    .swiper-pagination{
        display: block !important;
    }
    .swiper-slide .slogan{
        position: absolute;
        margin: 0 auto;
        clear: both;
        display: block;
        top: 15%;
        z-index: 1;
        left: 50%;
        width: 350px;
        margin-left: -175px;
    }
    .swiper-slide .slogan h2{
        text-align: center;
        font-size: 1em;

    }
    .swiper-slide .slogan h3{
        text-align: center;
        font-size: 0.8em;

    }
    .swiper-slide:hover .slogan,
    .swiper-slide.active .slogan{
        top: 15%;
    }
    .swiper-slide.active a.seccion.seccion-promo{
        min-height: 85px !important;
    }
}

.swiper-wrapper h1 a{
    text-decoration: none;
    color: #ffffff;
}


.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-outlined.btn-white {
    background: none;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}
.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
    color: #FFF;
    background: #000000;
    border-color: #000000:
}


.btn-grey {
    border-radius: 0;
}
.btn-grey {
    background: #E5E5E5;
    border: none;
    color: #000000;
}
.btn-grey:hover,
.btn-grey:active {
    color: #FFF;
    background: #777777;
    border-color: #777777;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.btn-dippy-info{
    background: url(/assets/dippy/img/button-bg-hover.png);
    color: #000000;
    min-width: 20%;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
}
.btn-dippy-info:hover{
    background: url(/assets/dippy/img/button-bg.png);
    color: #dbf500;

}

#contenido .btn-dippy-info{
    background: url(/assets/dippy/img/button-bg.png);
    color: #FFFFFF;
    min-width: 20%;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900;
}
#contenido .btn-dippy-info:hover{
    background: url(/assets/dippy/img/button-bg.png);
    color: #dbf500;

}

@media screen and (max-width: 767px){

    .swiper-slide h1,
    .swiper-slide:hover h1,
    .swiper-slide.active h1{
        font-size: 1.8em;
        left: 0;
        width: 75%;
        bottom: 0;
    }

    .swiper-slide .slogan {
        left: 50%;
        width: 350px;
        margin-left: -175px;
    }
    .swiper-slide .slogan h2{
        text-align: left;
        font-size: 0.8em;

    }
    .swiper-slide .slogan h3{
        text-align: center;
        font-size: 0.6em;

    }

    .swiper-slide-double h1, .swiper-slide-double:hover h1, .swiper-slide-double.active h1{
        bottom: 20px;
        height: 25px;
        min-height: initial;
    }
    .swiper-slide-double h1 a.seccion{
        min-height: 30px;
    }
    .swiper-slide-double .sloganitem{
        text-align: left;
    }


}

@media screen and (max-width: 375px) and (orientation: portait){

    .swiper-slide h1,
    .swiper-slide:hover h1,
    .swiper-slide.active h1{
        font-size: 1.8em;
        left: 0;
        width: 80%;
    }

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
    .swiper-slide h1, .swiper-slide:hover h1, .swiper-slide.active h1{
        bottom: 80px;
        height: 30px;
        min-height: initial;
    }
    .swiper-slide h1 a.seccion{
        min-height: 50px;
    }
    .swiper-slide-double h1, .swiper-slide-double:hover h1, .swiper-slide-double.active h1{
        bottom: 20px;
        height: 25px;
        min-height: initial;
    }
    .swiper-slide-double h1 a.seccion{
        min-height: 30px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 50px !important;
    }
    .swiper-slide h1 .btn, .swiper-slide:hover h1 .btn, .swiper-slide.active h1 .btn{
        margin-top: 0;
    }
    .swiper-slide h1 a.seccion-promo{
        height: 35px;
    }
    .swiper-slide .slogan h3{
        margin-top: 0;
    }
}

/*
Header
======================================= */
#header .titulo{
    position: relative;
    z-index: 3;
}
.headerbg{
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 3;
    top: 0;
    padding-top: 80px;
    /* border-bottom: 10px solid #FFFFFF; */
    background-position: center center;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s
}
.headerbg.lateral-menu-is-open {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}
.headerbgoverlay{
    opacity: 0.7;
    width: 100%;
    height: 200px;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.white .headerbgoverlay{
    height: 450px;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    z-index: -1;
}

@media only screen and (max-width: 1169px) {
    .headerbg{
        width: 100%;
    }
    .headerbgoverlay{
    }
}
.white #header h1{
    color: #FFFFFF;
    font-size: 2.5em;
    line-height: 1em;
}
.white #header .titulo h1 small {
    text-transform: uppercase;
    display: block;
    font-weight: 100;
    font-size: 55%;
    color: #fff;
    margin-top: 10px;
}

.white #header .titulo a:link, .white #header .titulo a:visited{
    color: #FFFFFF;
}
.white #header .titulo a:active, .white #header .titulo a:hover{
    text-decoration: underline;
}
.white #header .titulo {
    height: 160px;
}

#intro-img {
    height: 450px;
    -webkit-transition: -webkit-transform 0.4s, height 0.5s;
    -moz-transition: -moz-transform 0.4s, height 0.5s;
    -ms-transition: -ms-transform 0.4s, height 0.5s;
    -o-transition: -o-transform 0.4s, height 0.5s;
    transition: transform 0.4s, height 0.5s;
}


#header.curso {
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.cd-main-content.curso{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    padding-top: 50px;
    display: block;
}
.curso .panel-title > a{
    width: 100%;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
}
.curso .panel-group .panel{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}





/*
Modal
======================================= */
.modal-content{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.modal-header{
    border: none;
}
.modal-footer {
    text-align: center;
    border: none;
}

ul.msgsocial{
   list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 40px;
}
ul.msgsocial .fa{
    display: inline-block;
}
.msgsocial li {
    display: inline-block;
    margin-right: 30px;
}

#respuesta h2{
    font-size: 24px;
}
.modal-footer p{
    line-height: 1em;
}

.modal-logo{
    height: 50px;
}

/*
Contents
======================================= */
.controls{
    height: 40px;
}
.controls button{
    display: inline-block;
    vertical-align: top;
    border: 0;
    color: #CCCCCC;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: transparent;
    border-left: 1px solid #ccc;
    margin: 0;
    margin-right: -3px;
    padding: 9px 14px;
}

.filtros{
    margin-top: 8px;
}

.controls button:last-child{
    border-right: 1px solid #ccc;
}

.controls .separator{
    display: inline-block;
    border-left: 1px solid #ccc;
    height: 100%;
    width: 5px;
    background: #ccc;
    margin-right: -4px;
}

.controls .total-cursos{
    display: inline-block;
    height: 40px;
    vertical-align: top;
    margin: 0;
    padding: 9px 14px;
    color: #777;
}

.lista button:focus{
    outline: 0 none;
}

.lista fieldset{
    display: inline-block;
    vertical-align: top;
}

.filter-group .btn{
    padding: 2px 8px;
    letter-spacing: normal;
}


.layout.active{
    color: #000;
}

.order.active{
    color: #000;
}


.bootstrap-datetimepicker-widget table td:not(.disabled){
    font-weight: bold;
}


/**
 * Container/Target Styles
 */
.cd-main-content.lista{
    background: #d7dd3b;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 736px){
    .cd-main-content.lista{
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
.slides{
    width: 100%;
}
#cursos-lista{
    padding: 0;
    min-height: 400px;
    text-align: justify;
    position: relative;
    /*overflow: hidden;*/
}
#cursos-lista .mix.one:hover {
    width: 104% !important;
    height: 290px !important;
    margin-left: -2%;
}
#cursos-lista .mix.one:hover .fotocurso {
    height: 290px !important;
    margin-left: -2%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
#cursos-lista .fichacurso .nombrecurso{
    min-height: 55px;
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
#cursos-lista .fichacurso .nombrecurso small{
    font-size: 0.6em;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}
#cursos-lista .fichacurso .nombrecurso .nombrepais{
    color: #222;
}
#cursos-lista .fichacurso .nombrecurso .plazas {
    font-size: 0.5em;
    font-weight: bold;
}
#cursos-lista .mix.one .fichacurso .nombrecurso .row {
    height: 30px;
}
#cursos-lista .fichacurso p {
    color: #222;
    line-height: 1em;
}
#cursos-lista .fichacurso .nombrepais {
    text-transform: uppercase;
    font-size: 0.9em;
}
#cursos-lista .fichacurso .edades {
    color: #98999A;
}
#cursos-lista .fichacurso .cursoalojas{
    margin-top: 10px;
    display: block;
    font-size: 0.9em;
    /* text-transform: uppercase; */
    margin-left: 22px;
    /* letter-spacing: 0.5px; */
}
#cursos-lista .fichacurso .cursoalojas::before {
    content: '\f236';
    color: #98999A;
    margin-right: 6px;
    margin-left: -22px;
    font-family: 'FontAwesome';
}

#cursos-lista .separator-ficha{
    border-bottom: 1px dashed #e5e5e5;
    height: 1px;
    width: 100%;
    display: block;
    padding-top: 10px;
}
#cursos-lista .one .separator-ficha{
    padding-top: 40px;
}
#cursos-lista .fichacurso .especialidades {
    font-size: 0.9em;
    color: #000;
    padding-left: 20px;
    display: block;
    line-height: 1.1em;
}
#cursos-lista .fichacurso .especialidades::before {
    content: '\f005';
    margin-right: 4px;
    font-family: 'FontAwesome';
    color: #98999A;
    margin-left: -18px;
}

#cursos-lista a:link, #cursos-lista a:visited{
    text-decoration: none;
}

#cursos-lista .mix,
#cursos-lista .gap{
    width: 32%;
    height: 350px;
    display: inline-block;
    margin-bottom: 1%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

#cursos-lista .mix{
    width: 32%;
    margin-bottom: 1%;
    background: #ffffff;
    display: none;
    overflow: hidden;
}



#cursos-lista .mix.one,
#cursos-lista .gap.one{
    width: 100%;
    height: 280px;
}

#cursos-lista .mix.two,
#cursos-lista .gap.two{
    width: 49%;
    height: 450px;
}

#cursos-lista .fotocurso {
    width: 100%;
    position: relative;
    height: 45% !important;
    display: block !important;
    z-index: 1;
    margin-left: 0;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#cursos-lista .foto{
    display: block;
    height: 100%;
    width: 100%;
}
#cursos-lista a.foto:hover, #cursos-lista a.foto.active{
    background: rgba(0,0,0,0.2);
}
#cursos-lista a.foto.active::before,
#cursos-lista a.foto:hover::before{
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 5em;
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 20px;
    color: rgba(255,255,255,0.6);
}

#cursos-lista .one a.foto.active::before,
#cursos-lista .one a.foto:hover::before{
    padding-top: 80px;
}

#cursos-lista .one .fotocurso {
    position: absolute;
    left: 0;
    height: 280px !important;
    width: 32%;
    display: block;
    z-index: 1;
}

#cursos-lista .two .fotocurso {
    height: 60% !important;
}

#cursos-lista .promo-lista,
#cursos-lista .ultimas-lista,
#cursos-lista .sinplazas-lista{
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 8;
    /* margin-left: -40px; */
    /* right: -14px; */
    right: -40px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -40px;
    float: right;
}
#cursos-lista .two .promo-lista,
#cursos-lista .two .ultimas-lista,
#cursos-lista .two .sinplazas-lista{
    /*top: -466px;*/
}
#cursos-lista .one .promo-lista,
#cursos-lista .one .ultimas-lista,
#cursos-lista .one .sinplazas-lista{
    /*top: -180px;*/
}
#cursos-lista .promo-lista .fa,
#cursos-lista .ultimas-lista .fa,
#cursos-lista .sinplazas-lista .fa{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    float: left;
    text-align: left;
    margin-top: 30px;
    left: 58px;
    display: block;
    position: relative;
    color: #fff;
}
#cursos-lista .promo-lista {
    background: rgb(236, 224, 9);
}
#cursos-lista .ultimas-lista {
    background: orange;
}
#cursos-lista .sinplazas-lista {
    background: red;
}
#cursos-lista .one .fichacurso {
    padding-top: 30px;
}

#cursos-lista .fichacurso {
    display: block;
    padding: 0px 20px 10px 20px;
    height: 140px;
    position: relative;
    z-index: 4;
    text-align: left;

}

#cursos-lista .one .rowpais{
    max-height: 30px;
}
@media screen and (max-width: 1200px){
    #cursos-lista .mix,
    #cursos-lista .gap{
        width: 32%;
    }
}
#cursos-lista .one .fichacurso {
    margin-left: 32%;
    margin-top: 0;
}

#cursos-lista .two .fichacurso {
    /*margin-top: -480px;*/
}



#cursos-lista .gap{
    display: inline-block;
}
#cursos-lista .gap:before{
    content: '';
}


@media screen and (max-width: 767px){
    #cursos-lista .mix{
        font-size: 0.8em;
    }
    #cursos-lista .fichacurso .nombrecurso {
        min-height: 40px;
        font-size: 16px;
    }
}


#cursos-lista .frase{
    color: #158f76;
    text-align: right;
}
#sidebar .frase{
    color: #158f76;
    font-size: 1.2em;
    font-family: 'Roboto Slab', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}



/**
* Landed Slide
*/


.swiper-slide.landed{
    background: #75df25;
}
.swiper-slide.landed h1{
    line-height: .6em;
}
.swiper-slide.landed h1 small{
    line-height: 0.9em;
    padding-top: 12px;
    display: block;
    color: #ffffff;
}
.swiper-slide.landed .icons{
    margin-left: 0;
    padding: 0;
}
.swiper-slide.landed .icons .fa{
    color: #b3ff7a;
    margin-right: 10px;
    font-size: 1.5em;
}


/**
* Fail message styles
*/

#cursos-lista .fail-message{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    transition: 150ms;
}

#cursos-lista .fail-message:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#cursos-lista .fail-message span{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
}

#cursos-lista.fail .fail-message{
    opacity: 1;
    pointer-events: auto;
}

.lista #programas{
}

#sidebar.lista{
    background: #F5F5F5;
    margin-top: 28px;
    position: fixed;
    z-index: 6;
    width: 100%;
    padding: 0;
    height: 40px;
}
.lista #contenido{
    margin-top: 0px;
    position: relative;
}
.lista #contenido .categorias {
    margin-top: 0px;
}

.lista .ultimasplazas{
    background: #FFB100;
    width: auto;
    padding: 4px;
    margin-right: 10px;
    text-align: right;
    color: #000;
    margin-top: -4px;
}
.lista .grupocerrado{
    background: #ff0000;
    width: auto;
    padding: 4px;
    margin-right: 10px;
    text-align: right;
    color: #000;
    margin-top: -4px;
}

@media only screen and (max-width: 767px) {
    .controls button,
    .controls .separator,
    .filtros {
        display: none;
        visibility: hidden;
    }
    .lista #contenido{
        padding-top: 0;
        margin-top: 0;
    }
}




/*
Contents
======================================= */
#contenido{
    margin-top: 160px;
    -webkit-transition: margin-top 0.5s ease;
    -moz-transition: margin-top 0.5s ease;
    -ms-transition: margin-top 0.5s ease;
    -o-transition: margin-top 0.5s ease;
    transition: margin-top 0.5s ease;
}
.curso #contenido {
    padding-top: 80px;
    min-height: 100%;
}

.curso #sidebar{
    margin-top: 50px;
}

.categorias .categoria,
#sidebar .categoria{
    border-bottom: 1px solid #c9cbc4;
    padding: 0;
}
.categorias a p, .categorias p {
    color: #777;
}

.categorias .categoria:before, .categorias .categoria:after,
#sidebar .categoria:before, #sidebar .categoria:after{
    background: #c9cbc4;
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: 9px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: inline-block;
    height: 2px;
    width: 10px;
    background: #464c4e;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.categorias .categoria:before,
#sidebar .categoria:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.categorias .categoria:after,
#sidebar .categoria:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.introseccion{
    margin-bottom: 30px;
    color: #000000;
}
.introseccion p{
    color: #000000;
}

h1.slogan small{
    color: rgba(51, 51, 51, 0.7);
}

h1.slogan.fixed{
    /*position: fixed;*/
    width: 100%;
    margin-top: 180px;
    z-index: 50;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
    line-height: 1em;
    padding: 0 10vw;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1.slogan.fixed small{
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
}
.introduccion{
    width: 65%;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
.introduccion div,
.introduccion p{
    text-align: center !important;
}
.titulo .especialidades{
    font-family: 'mt_matto_scriptnormal';
    font-size: 40px;
    text-transform: lowercase;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1em;
    color: #dbf500;
    margin-top: 40px;
}
.headerinfo{
    width: 100%;
    margin-top: 20px;
    color: #ffffff;
}
.headerinfo ul{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.headerinfo ul li{
    padding-right: 30px;
}
.headerinfo ul li .fa{
    font-size: 2.5em;
    width: 100%;
}
.headerinfo .flaticon:before {
    font-size: 2em;
    vertical-align: middle;
    margin-top: -8px;
}

.titulo .info-general{
    font-size: 1.5em;
    width: 80%;
    text-align: center;
    margin: 30px auto;
    left: 10%;
    top: 200px;
    line-height: 1em;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
}

.fichacurso span.subtitulo{
    font-style: italic;
    font-size: 0.7em;
    clear: left;
    display: block;
}
h1#slogan span.subtitulo{
    font-style: italic;
    font-size: 0.7em;
}

ul.colonies {
    list-style: none;
    padding: 0;
}
ul.colonies li {
    line-height: 1.5em;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
}
ul.colonies li span {
    background: rgb(0, 152, 0);
    padding: 0 6px;
    color: #FFF;
    margin-right: 2px;
}


#sidebar.summer-camps-ingles ul.listadocolonias{
    text-indent: -18px;
    margin-left: 20px;
    line-height: 1em;
}
#sidebar.summer-camps-ingles ul.listadocolonias li{
    margin-bottom: 12px;
}
#sidebar.summer-camps-ingles ul.listadocolonias li:before {
    content: '';
    padding-right: 6px;
    font-family: 'FontAwesome';
    color: #999999;
    font-size: 0.9em;
    margin-bottom: 4px;
}

.info-curso-list {
    z-index: 99999;
    position: absolute;
    background: grey;
    margin-top: -80px;
    width: 500px;
    right: 2em;
}
#contenido .categorias{
    margin-top: 80px;
}

@media only screen and (max-width: 767px) {
    #contenido {
        margin-top: 0;
    }
    #contenido .categorias{
        margin-top: 0;
    }

}

.navtabscontent {
    width: auto;
    display: inline-block;
}

h1.content-titulo{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}
h1.content-titulo small{
    display: block;
}

#cursotabs{
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    margin-top: 80px;
    margin: 30px auto;
    display: inline-block;
    border: none;
}
#cursotabs > li{
    padding: 0 10px;
    display: table-cell;
    text-align: center;

}
#cursotabs > li:first-child{
    padding-left: 0;
}
#cursotabs > li > a{
    border-radius: 0;
    font-weight: 900;
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    background: none;
    text-decoration: none !important;
    border: none;
    border-bottom: 2px solid #d7dd3b;
    padding: 6px 2px;
}
#cursotabs > li:not(.active) > a:link, #cursotabs > li:not(.active) > a:visited{
    border-radius: 0;
    color: #222222;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}
#cursotabs > li:not(.active) > a:active, #cursotabs > li:not(.active) > a:hover{
    border-radius: 0;
    color: #FFFFFF;
    border: none;
}
#cursotabs > li:not(.active) > a{
    background: none;
    text-decoration: none !important;
}
#cursotabs > li:not(.active) > a:hover{
    border-bottom: 2px solid #d7dd3b;
    color: #000000;
    text-decoration: none;
}

/* responsive tabs on small devices */
.responsive-tabs-container a.accordion-link {
    display: block;
    /* background: #fff; */
    border-bottom: 2px solid #222;
    color: #222;
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 100%;
}
/* ---------------------- */

.white #sidebar {
    background: #FFF;
    margin-top: 80px;
    height: 300px;
    -webkit-transition: margin-top 0.5s ease;
    -moz-transition: margin-top 0.5s ease;
    -ms-transition: margin-top 0.5s ease;
    -o-transition: margin-top 0.5s ease;
    transition: margin-top 0.5s ease;
    position: absolute;
    right: 0;
    z-index: 5;
}
.idioma,
.internet{
    margin-top: 30px;
}
#details ul, #utils ul,
#espes ul{
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#details ul .fa,
#espes ul .fa{
    color: #98999A;
    margin-right: 6px;
    width: 18px;
}
#espes ul li{
    line-height: 1em;
    margin-bottom: 10px;
}
#details ul{
    margin-bottom: 20px;
}
ul.downloads{
    list-style: none;
    padding:0;
    margin:0;
    margin-bottom: 20px;
    font-size:1.2em;
}
ul.downloads a:active, ul.downloads a:hover{
    color: #000;
    text-decoration: none;
}
.info-basica{
    font-size: 0.85em;
}
.info-basica ul li{
    text-transform: uppercase;
    padding-left: 20px;
}
.info-basica ul li .fa {
    margin-left: -25px;
}
.info-basica.affix-top{
    margin-top: 0px;
}
.info-basica.affix{
    margin-top: -120px;
}

.info-basica .btn{
    color: #FFF;
}
#promocion{
    background: rgb(236, 224, 9);
    padding: 10px;
    text-align: center;
    color: #463906;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
    margin-top: 15px;
    text-transform: uppercase;
}
#promocion h4{
    font-weight: 900;
    letter-spacing: 1px;
}
#promocion small{
    text-transform: none;
    color: #FFF;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight:300;
}

#sidebar.campamentos-verano-ingles ul,
#sidebar.summer-camps-ingles ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidebar.campamentos-verano-ingles li:before,
#sidebar.summer-camps-ingles li:before {
    content: '';
    padding-right: 6px;
    font-family: 'FontAwesome';
    color: #999999;
}
#sidebar.campamentos-verano-ingles li a:link, #sidebar.campamentos-verano-ingles li a:visited,
#sidebar.summer-camps-ingles li a:link, #sidebar.summer-camps-ingles li a:visited{
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 1.1em;
    text-decoration: none;
}
#sidebar.campamentos-verano-ingles li a:link small, #sidebar.campamentos-verano-ingles li a:active small,
#sidebar.campamentos-verano-ingles li a:visited small, #sidebar.campamentos-verano-ingles li a:hover small,
#sidebar.summer-camps-ingles li a:link small, #sidebar.summer-camps-ingles li a:active small,
#sidebar.summer-camps-ingles li a:visited small, #sidebar.summer-camps-ingles li a:hover small{
    text-transform: uppercase;
    color: #333;
    font-weight: 400;
}

ol{
    line-height: 1.2em;
    padding-left: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    list-style: none;
    counter-reset: li-counter;
}
ol > li{
    margin-bottom: 6px;
    position: relative;
    padding-left: 6px;
    border-left: 1px solid #CCC;
}
ol > li:before{
    position: absolute;
    top: 0;
    left: -1.3em;
    width: 1em;

    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
    text-align: right !important;
    display:block;
    letter-spacing: normal;

    content: counter(li-counter);
    counter-increment: li-counter;
}
.tab-content{
    margin-top: 50px;
}
.tab-content h2{
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 20px;
}
.tab-content h4{
    font-weight: 700;
    margin-top: 60px;
}


.tab-content h3{
    margin-top: 20px;
    margin-bottom: 6px;
    font-weight: 700;
    text-transform: capitalize;
}
.tab-content h5{
    margin-top: 20px;
}
.tab-content .fechas-precios h5{
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1em;
    font-size: 1.4em;
    clear: both;
}
.tab-content .fechas-precios h5 span{
    font-size: 0.8em;
    text-transform: none;
}
.tab-content .fechas-precios p.duracion{
    font-size: 1.2em;
}
.tab-content h6{
    font-size: 0.9em;
    line-height: 0.9em;
    margin-top: 40px;
    margin-bottom: 6px;
    font-weight: 700;
    letter-spacing: 1px;
}


p.financiacion{
    margin-top: 60px;
}


.tab-content .plazasdisponibles{
    display: block;
}
.tab-content .plazasdisponibles p{
    font-weight: bold;
    font-size: 0.7em;
    width: auto;
    padding: 4px;
    /*background: #e5e5e5;*/
    float: left;
    clear: both;
    text-transform: uppercase;
}

.tab-content .fechas-precios h6{
    margin-top: 40px;
    letter-spacing: 0.5px;
    font-size: 1.2em;
}

.tab-content .fechas-precios h6:first-child{
    margin-top: 0px;
}

.tab-content .fechas-precios .separator{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 4px;
}
.tab-content .fechas-precios h6.separator{
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.tab-content .fechas-precios .preciototal{
    min-height: 30px;
    background-color: #E5E5E5;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.tab-content #booking-total{
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1em;
    font-size: 1.2em;
}
.tab-content #booking-total small{
    color: darkred;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1em;
    font-size: 14px;
}
.tab-content .fechas-precios .preciosubtotal{
    min-height: 30px;
    background-color: #E5E5E5;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.tab-content .fechas-precios #booking-subtotal-div h5{
    color: #000000;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1em;
    font-size: 1em;
    min-height: 40px;
    padding-top: 20px;
}
.tab-content .fechas-precios #booking-subtotal{
    padding-top: 10px;
}
.tab-content #booking-sub-total small{
    color: darkred;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 0.5px;
    line-height: 1em;
    font-size: 14px;
}
.tab-content .fechas-precios h4.divisas {
    font-size: 1em;
}
.tab-content .fechas-precios ul.divisas {
    padding-left: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.tab-content .fechas-precios a:link.verincluye, .tab-content .fechas-precios a:visited.verincluye{
    cursor: pointer;
    color: #B69510;
    text-decoration: none;
    padding-left: 20px;
}
.tab-content .fechas-precios a:active.verincluye, .tab-content .fechas-precios a:hover.verincluye{
    cursor: pointer;
    color: #222;
    text-decoration: none;
}
.tab-content .fechas-precios a.verincluye.collapsed:before{
    content: "\f067"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.tab-content .fechas-precios a.verincluye:not(.collapsed):before{
    content: "\f067"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    color: #B69510 !important;
}
.tab-content .fechas-precios h2{
    font-size: 1.5em;
    color: #222;
    margin-top: 100px;
}
.tab-content ul.incluye{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.tab-content ul.incluye li {
    padding-left: 1.3em;
    letter-spacing: normal;
    line-height: 1em;
    font-size: 0.9em;
}
.tab-content ul.incluye li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color: #CCC;
}
.tab-content .fechas-precios a.verincluye{
    font-size: 0.9em;
    letter-spacing: 0px;
}
.tab-content .fechas-precios .precio{
    margin-bottom: 30px;
}
.tab-content .extras{
    margin-bottom: 30px;
}
.tab-content .extras p{
    margin-bottom: 0px;
}
.tab-content .introduccion{
    font-weight: 700;
    margin-bottom: 30px;
}
.tab-content .incluye span:not(.hps){
    min-width: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 2px;
    font-weight: bold;
}
.tab-content .incluyecurso{
    font-weight: bold;
}
.tab-pane > h4:first-child{
    margin-top: 0px;
}

#programa.tab-pane img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.incluye ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.incluye li {
    padding-bottom: 0.4em;
    letter-spacing: normal;
}
.incluye li:before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: 4px;
}
.tab-content table{
    margin-top: 30px;
    width: 100%;
}
.tab-content tr {
    border-bottom: 1px solid #ccc;
}
.tab-content td {
    padding-top: 6px;
    padding-bottom: 6px;
}
.tab-content thead {
    font-weight: 400;
}
.tab-content .planb {
    margin-bottom: 40px;
}
.tab-content .planbinfo {
    cursor: help;
    color: #999;
}

.tab-content .videoslink{
    display:block;
    background: #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 60px;
}
.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.info-general{
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-general > p{
    font-size: 0.8em;
    color: #000;
    font-weight: 300;
    margin-top: 20px;
}
.info-general p:first-child {
    margin-bottom: 0;
}

ul.relacionados{
    list-style: none;
    padding: 0;
}
ul.relacionados li{
    padding: 4px 0px 4px 20px;
    border-bottom: 1px solid #e5e5e5;
}
ul.relacionados li:before{
    position: absolute;
    content: '\25b6';
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -16px;
    font-size: 0.6em;
}

#fotos-aloja{
    margin-top: 40px;
}

#fotos-curso .fotos,
#fotos-aloja .fotos{
    padding-bottom: 25%;
    overflow: hidden;
}
#fotos-curso .fotos .foto,
#fotos-aloja .fotos .foto{
    position: absolute;
    height:96%;
    width:94%;
    padding: 2% 3%;
}

@media screen and (max-width: 991px) {
    #fotos-curso .fotos,
    #fotos-aloja .fotos {
        padding-bottom: 35%;
        overflow: hidden;
    }

    #fotos-curso .fotos .foto,
    #fotos-aloja .fotos .foto {
        position: absolute;
        height: 92%;
        width: 96%;
        padding: 4% 2%;
    }
}

@media screen and (max-width: 767px) {
    #fotos-curso .fotos,
    #fotos-aloja .fotos {
        padding-bottom: 64%;
        overflow: hidden;
    }

    #fotos-curso .fotos .foto,
    #fotos-aloja .fotos .foto {
        position: absolute;
        height: 84%;
        width: 98%;
        padding: 8% 1%;
    }

    #fotos-curso .fotos img,
    #fotos-aloja .fotos img {
        width: 100%;
    }
}


#fotos-curso img,
#fotos-aloja img{
    /*width: 180px;*/
    /*margin: 5px;*/
    border: 1px solid #666;
}
#fotos-curso a:hover img,
#fotos-aloja a:hover img{
    border-color: #B69510;
}
#fotos-curso a:focus,
#fotos-aloja a:focus{
    outline: none;
}

.earlybird, #fechas-precios img{
    vertical-align: bottom;
    cursor: help;
    margin-left: -4px;
}
#fechas-precios .tabla-precios{
    margin-bottom: 60px;
}

.tooltipinfo p{
    font-weight: 100;
}

.tooltipinfo span{
    font-size: 1.2em;
    margin-top: 6px;
    display: block;
    font-weight: 300;
    margin-bottom: 0;
}


.bootstrap-datetimepicker-widget{
    z-index: 8;
}


@media screen and (max-width: 767px){
    .curso #sidebar{
        float: left;
        margin-top: 0 !important;
        height: auto;
        position: relative;
        min-height: 1px;
    }
    .curso .tabscurso{
        float: right;
        margin-top: 0px;
        position: relative;
    }
}



/*
contacto
======================================= */

.head{
    font-size: 1.5em;
    border-bottom: 1px solid #e5e5e5;
    display: block;
}
.horario{
    margin-top: 40px;
}
.obligatorio{
    line-height: 0.5em;
}

.formlist small{
    line-height: 1em;
}

/*
breadcrumb
======================================= */
ul.breadcrumb{
    margin: 0;
    padding: 6px;
    text-transform: uppercase;
    line-height: 0.1em;
    margin-top: -10px;
}
.breadcrumb {background: rgba(245, 245, 245, 0); border: none; display: block;}
.breadcrumb li {font-size: 12px;}
.breadcrumb a {color: rgba(0, 0, 0, 1); text-decoration: none;}
.breadcrumb a:hover {color: rgba(0, 0, 0, 0.59);}
.breadcrumb>.active {color: rgba(0, 0, 0, 0.5);}
.breadcrumb>li+li:before {color: rgba(255, 255, 255, 1); content: "\276F\00a0";}
.white #header .breadcrumb a:link, .white #header .breadcrumb a:visited{
    color: #FFFFFF;
}
.white #header .breadcrumb a:active, .white #header .breadcrumb a:hover{
    text-decoration: underline;
}


.addmargintop20{
    margin-top: 20px;
}

.addmargintop30{
    margin-top: 30px;
}

.addmargintop60{
    margin-top: 60px;
}

.addmarginbottom30{
    margin-bottom: 30px;
}

.addmarginbottom60{
    margin-bottom: 60px;
}

img.catalogo{
    border: 1px solid #000000;
}

/*
Contacto
======================================= */
.validation {
    display:none;
    margin-top: 5px;
    color: red;
}

#sendmessage{
    display:none;
}

#sendmessage.show,.show  {
    display:block;
}

#mapa_info p{
    cursor: crosshair;
}

#mapa_info p strong{
    text-transform: uppercase;
}

#mapa{
    display: block;
}

.formlist{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.formlist .form-group{
    margin-bottom: 15px;
    float: left;
    width: 100%;
}


/*
Copyright
======================================= */
#copy{
    margin-top: 80px;
    margin-bottom: 60px;
    display: block;
    float: left;
}
#copy p{
    color: #999;
    font-size: 12px;
    width: auto;
    float: left;
    line-height: 20px;
    margin-bottom:0;
}
#copy ul.legal{
    list-style: none;
    display: inline;
    float: left;
    font-size: 12px;
    color: #222;
    padding-left: 0px;
    margin-left: 20px;
    letter-spacing: normal;
    margin-bottom: 0;
    line-height: 20px;
}
#copy ul.legal li{
    display: inline;
    border-right: 1px solid #CCC;
    padding-right: 10px;
    margin-right: 10px;
}
#copy ul.legal li:last-child{
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}
#copy a:link, #copy a:visited{
    color: #2c2c2c;
}
#copy a:active, #copy a:hover{
    color: #000000;
}

/*
Footer
======================================= */
footer{
    float:left;
    background:#000;
    color: #939393;
    width:100%;
    position:fixed;
    padding:0;
    bottom:0;
    left:0;
    z-index:5000;
}

#main-footer ul.secondary li .destacado{
    color: #FFF;
}

#main-footer{
    display: block;
    position: fixed;
    bottom: 0px;
    background: black;
    height: 32px;
    width: 100%;
    border-top: 3px solid white;
    z-index:100;
}
#main-footer .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
#main-footer a{
    text-decoration: none;
}

#main-footer ul.social{
    list-style: none;
    display: inline;
    float: right;
    font-size: 1.2em;
    color: #FFF;
    background: #ccc url(../img/pattern03.png) 2px 2px repeat;
    padding: 0;
    padding-left: 40px;
    margin: 0;
    height: 32px;
    padding-top: 4px;
    margin-right: 32px;
}
#main-footer ul.social li{
    display: inline;
    padding-right: 18px;
}
#main-footer ul.social a:link, #main-footer ul.social a:visited{
    color: #FFF;
}
#main-footer ul.social a:active, #main-footer ul.social a:hover{
    color: #000;
}

#main-footer ul.secondary{
    list-style: none;
    display: inline;
    float: left;
    font-size: 12px;
    color: #222;
    padding-top: 2px;
    padding-left: 0px;
    margin-left: 20px;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-top: 2px;
}
#main-footer ul.secondary li{
    display: inline;
    margin-right: 15px;
}
#main-footer ul.secondary li:last-child{
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}
#main-footer ul.secondary li.separator:before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #FFF;
    content: '';
    position: absolute;
}

#main-footer ul.secondary a:active, #main-footer ul.secondary a:hover{
    color: #FFF;
}

.btn-contact{
    background: #f1c40f;
    height: 32px;
    min-width: 120px;
    display: table-cell;
    float: right;
    text-align: center;
    padding-top: 4px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    border-right: 4px solid #fff;
}
.btn-clientes{
    background:#e5e5e5;
    height: 32px;
    min-width: 180px;
    display: table-cell;
    float: right;
    text-align: center;
    padding-top: 4px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    border-right: 4px solid #fff;
}
.btn-idioma{
    background:#333;
    height: 32px;
    min-width: 60px;
    display: table-cell;
    float: right;
    text-align: center;
    padding-top: 4px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    font-size: 0.8em;
}
.btn-search{
    background: #000;
    height: 32px;
    width: 32px;
    display: block;
    float: right;
    text-align: center;
    color: #FFF;
    padding-top: 4px;
    position: absolute;
    right: 0;
    z-index: 60;
}

#search-box{
    position: absolute;
    /* bottom: 0px; */
    width: 0px;
    height: 30px;
    z-index: 50;
    background: #000;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    display: block;
    right: 18px;
    overflow: hidden;
}

#search-box input.searchbox-input {
    width: 190px;
    float: right;
    padding: 0;
    height: 30px;
    padding-bottom: 2px;
    border: none;
    background: #000;
    text-indent: 6px;
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    transform: skewX(45deg);
    margin-right: 20px;
    color: #ccc;
}
#search-box input.searchbox-input:focus {
    border: none;
    outline: none;
}
input#search::-webkit-input-placeholder {
    color: rgb(132, 132, 132);
}
input#search::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(132, 132, 132);
}
input#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(132, 132, 132);
    opacity:  1;
}
input#search::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(132, 132, 132);
    opacity:  1;
}
input#search:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(132, 132, 132);
}

.btn-clientes span, .btn-contact span, .btn-idioma span{
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    transform: skewX(45deg);
    display: block;
}
a.btn-contact:link, a.btn-contact:visited,
a.btn-clientes:link, a.btn-clientes:visited{
    color: #000;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    display:block;
}
a.btn-contact:active, a.btn-contact:hover,
a.btn-clientes:active, a.btn-clientes:hover{
    color: #FFF;
}
a.btn-idioma:link, a.btn-idioma:visited{
    color: #FFF;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    display:block;
}
a.btn-idioma:active, a.btn-idioma:hover{
    color: #f1c40f;
}
a.btn-contact{
    margin-right: -20px;
}
a.btn-search:link, a.btn-search:visited{
    color: #FFF;
}
a.btn-search:active, a.btn-search:hover{
    color: #f1c40f;
}


@media only screen and (max-width: 1320px) {
    .btns-div{
        clear: both;
        width: 114%;
        position: absolute;
        margin-top: -32px;
        margin-left: -20px;
    }
    .btn-clientes, .btn-contact{
        width: 45%;
        max-width: 45%;
        font-size: 1em;
        border: none;
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    a.btn-contact {
        margin-right: 0px;
        padding-right: 60px;
    }
    .btn-idioma{
        width: 10%;
        max-width: 10%;
        border: none;
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
        padding-left: 20px;
    }

    .copyright, .social-div{
        margin-top: 32px;
        font-size: 0.9em;
    }
    #main-footer{
        height: 64px;
    }
    #menu-close{
        margin-left: 0px;
    }
    #main-footer ul.secondary{
        margin-top: 0;
    }
    #main-footer ul.secondary .separator{
        margin-right: 14px;
    }
    #main-footer ul.secondary li{
        margin-right: 10px;
    }
    #main-footer ul.social {
        padding-left: 20px;
        padding-top: 3px;
        padding-right: 20px;
        margin-right: 10px;
        border-left: 4px #fff solid;
        -webkit-transform: skewX(-45deg);
        -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
        -o-transform: skewX(-45deg);
        transform: skewX(-45deg);
    }
    #main-footer ul.secondary li.separator:before {
        height: 16px;
        margin-top: 3px;
    }
    #main-footer ul.social li a{
        -webkit-transform: skewX(45deg);
        -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
        -o-transform: skewX(45deg);
        transform: skewX(45deg);
        display: inline-block;
    }
}

@media only screen and (max-width: 1024px) {
    .btn-contact{
        font-size: 0.8em;
        width:96px;
        min-width:96px;
        padding-top: 6px;
        letter-spacing: 1px;
    }
    .btn-clientes{
        font-size: 0.8em;
        width: 144px;
        min-width: 144px;
        padding-top: 6px;
        letter-spacing: 1px;
    }
    #main-footer p, #main-footer ul.legal{
        padding-top: 8px;
    }
    #main-footer ul.legal li{
        padding-right: 10px;
        margin-right: 10px;
    }
    #main-footer .fa, #main-footer ul.social{
        padding-top: 2px;
    }
}
@media only screen and (max-width: 768px) {
    .btns-div{
        clear: both;
        width: 114%;
        position: absolute;
        margin-top: -32px;
        margin-left: -20px;
    }
    .btn-clientes, .btn-contact{
        width: 45%;
        max-width: 45%;
        font-size: 1em;
        border: none;
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    a.btn-contact {
        margin-right: 0px;
        padding-right: 60px;
    }
    .btn-idioma{
        width: 10%;
        max-width: 10%;
        border: none;
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
        padding-left: 20px;
    }
    .btn-search{
        padding-top: 2px;
    }
    .copyright, .social-div{
        margin-top: 32px;
        font-size: 0.9em;
    }
    #main-footer{
        height: 64px;
    }
    #main-footer ul.secondary{
        font-size: 0.6em;
    }
    #main-footer ul.secondary li{
        margin-right: 10px;
    }
    #main-footer ul.social {
        padding-left: 20px;
        padding-top: 4px;
    }
    #main-footer ul.secondary li.separator:before {
        height: 12px;
        margin-top: 4px;
    }
}


#scroll-down {
    width: 100px;
    bottom: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 10;
}
.curso #scroll-down{
    bottom: 0px;
}
#scroll-down .text{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 12px;
    color: #fff;
}
#scroll-down > span {
    background-color: #fff;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    opacity: 0;
    position: relative;
}
#scroll-down > span:nth-child(1) {
    width: 8px;
    height: 8px;
    -webkit-animation: opacidad 1.5s ease-in-out 0.5s infinite normal;
    -o-animation: opacidad 1.5s ease-in-out 0.5s infinite normal;
    animation: opacidad 1.5s ease-in-out 0.5s infinite normal;
}
#scroll-down > span:nth-child(2) {
    height: 6px;
    width: 6px;
    -webkit-animation: opacidad 1.5s ease-in-out 0.75s infinite normal;
    -o-animation: opacidad 1.5s ease-in-out 0.75s infinite normal;
    animation: opacidad 1.5s ease-in-out 0.75s infinite normal;
}
#scroll-down > span:nth-child(3) {
    width: 4px;
    height: 4px;
    -webkit-animation: opacidad 1.5s ease-in-out 1s infinite normal;
    -o-animation: opacidad 1.5s ease-in-out 1s infinite normal;
    animation: opacidad 1.5s ease-in-out 1s infinite normal;
}
#scroll-down > p {
    position: relative;
    top: 0px;
    -webkit-animation: move 1.5s ease-in-out 1.25s infinite normal;
    -o-animation: move 1.5s ease-in-out 1.25s infinite normal;
    animation: move 1.5s ease-in-out 1.25s infinite normal;
    opacity: 0;
}
#scroll-down > p span {
    margin: 0 auto;
}
#scroll-down > p span:nth-child(1) {
    width: 50px;
    height: 50px;
    display: block;
}
#scroll-down > p span:nth-child(2) {
    width: 20px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-16px) rotate(45deg);
}
#scroll-down > p span:nth-child(3) {
    width: 20px;
    height: 3px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(16px) rotate(-45deg);
}

@keyframes opacidad {
    0% {
        opacity: 0;
        top: -10px;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 10px;
    }
}
@keyframes move {
    0% {
        opacity: 0;
        top: -35px;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 0px;
    }
}





#loading {
    position: absolute;
    z-index: 90;
    left: 50%;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dbf500;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.btn-arrows {
    width: auto;
    display: inline-block;
    overflow: visible;
    max-height: 40px;
}

.btn-arrows:after {
    content: '';
    display: block;
    background: url(/assets/dippy/img/arrows.gif) center top no-repeat;
    width: 100%;
    height: 45px;
}


.btn-dippy.btn-black,
.btn.plusinfolink{
    background: url(/assets/dippy/img/button-bg.png);
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    font-weight: 900;
}

.btn-dippy.btn-black.btn-curso:hover,
.btn.plusinfolink.btn-curso:hover{
    background: url(/assets/dippy/img/button-bg-yellow.png);
    color: #000000;
}

#cursodata h4 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.btn#fotos{
    margin-top: -80px;
    margin-left: 10px;
}
@media only screen and (max-width: 768px){
    .btn#fotos {
        margin: 20px 0 30px 0;
    }
}



.btn-group .multiselect {
    padding: 20px 40px; /*10px 25px;*/
    background: #ffffff;
    border: none;
}
.btn-dippy.btn-black{
    padding: 20px 40px;
}


.cursos-group-item {
    height: 100vh;
    padding: 50px 0;
    background: #dbf500;
    position: relative;
}

.cursos-group-item h2 {
    padding: 0;
    /* text-align: right; */
    line-height: 1.2em;
    width: 60vw;
    /* float: right; */
    z-index: 5;
    position: relative;
}
.cursos-group-item h2 a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    letter-spacing: 1px;
}
.cursos-group-item h4 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 3px;
}
.fotocurso{
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-size: cover;
    padding-bottom: 160%;
    margin-right: -15px;
    margin-left: -15px;
}
.course-img{
    position: relative;
    z-index: 0;
    width: 60vw;
    height: auto;
}
.infocurso{
    position: relative;
    z-index: 1;
}
#cursodata .infocurso{
    margin-top: 15vh;
}
.course-container{
    margin: 50px;
    height: calc(100vh - 180px);
    background: #dbf500;
    position: relative;
}
.cursos-group-item:after {
    /*content: '\2193';*/
    left: 50%;
    background: none;
    width: 6vw;
    height: 1px;
    position: absolute;
    bottom: 6vw;
    margin-left: -3vw;
}
#cursodata{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: #ffffff;
    top:0;
    display: none;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}
#cursodata:before {
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
#cursodata.nofoto:before{
    height: 100vh;
    padding: 0;
    background: transparent;
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
#cursodata.nofoto a:link,#cursodata.nofoto a:visited{
    color: #000000;
}
#cursodata.nofoto{
    background: #26abe2;
}
#cursodata .cursonamemodal{
    color: #FFFFFF;
    font-size: 2em;
    line-height: 1em;
    width: 74%;
    z-index: 50;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 10vw;
    letter-spacing: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 40px;
    margin-left: 13%;
}
#cursodata .cursonamemodal small{
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    font-size: 40%;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 4px;
}

#app{
    min-height: 100vh;
    display: block;
    background: #dbf500;
}
#sectionfixed{
    /*background: #ffffff;*/
    position: relative;
}


.coursnumber{
    /*font-family: 'wc_mano_negra_btaregular';*/
    /* margin-top: 30px; */
    font-weight: 900;
    font-size: 60px;
    /*position: absolute;*/
    /*bottom: 30px;*/
    /*right: 0;*/
    color: #b2c510;
}
.subespecialidades{
    position: absolute;
    z-index: 1;
    left: 25px;
    text-align: left;
    top: -15px;
    /*font-family: 'wc_mano_negra_btaregular';*/
    font-family: 'mt_matto_scriptnormal';
    font-size: 24px;
    color: #000000;
    letter-spacing: 2px;
}
.cursoimg{
    /*filter: grayscale(75%) brightness(220%);*/
    /*opacity: 1;*/
}
.cursointro,
.cursointro div,
.cursointro p{
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 800;
    text-align: left !important;
}
.introduccion p{
    text-align: left !important;
}
.leftcolumn{
    position: relative;
    margin-top: -100px;
    z-index: 0;
}
.especialidades{
    margin: 10px 0 10px;
    font-family: 'mt_matto_scriptnormal';
    font-size: 36px;
    color: #000000;
    letter-spacing: 2px;
    line-height: 0.8em;
}
.especialidades span {
    background: #afc10f;
    color: #dbf500;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px 5px;
    margin-right: 6px;
    font-weight: 900;
    letter-spacing: 1px;
}
.edades{
    background: #afc10f;
    color: #dbf500;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 900;
    letter-spacing: 1px;
    display: inline-block;
}
.linkcurso{
    margin-top: 80px;
}

.fullhome{
    padding: 10% 80px 80px 40px;
}
.texthome{
    vertical-align: top;
}
.fullscreen-home{
    background: #dbf500 url(/assets/dippy/home/foto-home.png) no-repeat 20px bottom;
    background-size: calc(100vh - 150px);
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.texthome h1 {
    text-align: right;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 80px;
    color: #000000;
}
.texthome h1 span{
    font-family: 'mt_matto_scriptbold';
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1em;
    display: block;
}
.texthome h1 span.separador{
    margin-top: 20px;
}
.arrows{
    display: block;
    padding-right:20px;
}



#doodles{
    position: relative;
    margin-top: -150px;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    height: 150px;
    overflow: hidden;
}

i.underline{
    font-style: normal;
    background: url('/assets/dippy/img/underline.png') left bottom repeat-x;
    display: inline-block;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
#btn-login{
    cursor: pointer;
}

#style-selector{
    position: fixed;
    top: 150px;
    z-index: 90;
    margin: 0 auto;
    width: 100%;
}
#style-selector .selector{
    color: #afc10f;
    cursor: pointer;
}
#style-selector .selector.active{
    color: #000000;
    cursor: default;
}

#app.block .cursos-group-item{
    float: left;
    width: 45%;
    border: 1px solid #000000;
}
#app.block .cursos-group-item:nth-child(even){
    margin: 4% 2% 2% 5%;
}
#app.block .cursos-group-item:nth-child(odd){
    margin: 4% 0 4% 2%;
}

#app.block .leftcolumn {
    margin-top: 0;
}

#app.block .cursos-group-item h2 {
    width: auto;
    line-height: 24px;
}
#app.block .cursos-group-item h2 a {
    font-size: 24px;
    line-height: 24px;
}