body{
	color: #000;	
	overflow-x: hidden;
}
#allcontent{
	position: absolute;
	top: 0;	
}
.cc-cookies {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 28px;
	padding: 0.5em 5%;
	background: rgba(0,0,0,0.95);
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	z-index: 99999;
	text-align: left;
	color: #fff;
	padding: 30px 20px;
	letter-spacing:1px;
	
}
.cc-cookie-accept{
	padding: 0px 6px;
	margin: 0 20px;
	text-transform:uppercase;
	border: 1px solid;	
}

#inside-menu .container-fluid{
	max-width: 1200px;	
}
#inside-menu p{
	margin-left: 6px;
	line-height: 1em;
}

#inside-menu{
    top: -100%;
    left: 0;
    display: none;
    position: fixed;
	z-index: 90;
	width: 100%;
	height: 100%;
	font-size: 0.8em;
	letter-spacing: normal;
	font-weight: 400;
}
#inside-menu h6{
	margin-top: -5px;	
	letter-spacing: normal;
	text-transform: uppercase;
}
#inside-menu h5{
	margin-bottom: 4px;	
	font-weight: 700;
	letter-spacing: normal;
	margin-top: 0px;
	text-transform: uppercase;
	padding-right: 30px;
	font-size: 1.5em;
}
#inside-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 20px;
}
#inside-menu ul li {
	padding-left: 16px;
line-height: 1em;
margin-bottom: 6px;
}
#inside-menu ul li:before {
	position: absolute;
	content: '\25b6';
	vertical-align: middle;
	margin-top: -2px;
	margin-left: -10px;
	font-size: 0.6em;
	color: #f1c40f;
}
#inside-menu ul li li:before, #inside-menu ul.secondary li:before{
	display: none;
}
#inside-menu ul ul li, #inside-menu ul.secondary li{
	text-indent: 0px;
}
#inside-menu .col{
	margin-bottom: 20px;
}
#inside-menu .caja{
	background: #FFF;
	padding: 10px;
	margin-bottom: 20px;
}

#inside-menu a:link, #inside-menu a:visited {
	color: #000;
}
#inside-menu a:active, #inside-menu a:hover {
	color: #B69510;
}
#inside-menu a small {
	color: #999;
}
#inside-menu ul ul{	
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: -6px;
	line-height: 1em;
}
#inside-menu ul ul li{
	display: inline-block;	
	margin-top: 0px;
	padding-right:6px;
	padding-left: 6px;
	border-right: 1px solid #CCC;
	font-size: 0.7em;
}
#inside-menu ul ul li:last-child{
	border-right: none;
}
#menu-close{
	font-size: 50px;
	margin-bottom:60px;	
	cursor: pointer;
}

#inside-menu ul.secondary{
	list-style: none;
	padding: 0;
	margin: 0;	
}
#inside-menu ul.secondary li{
	display: inline-block;
	margin-right: 15px;	
	-webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-o-transform: skewX(-10deg);
	transform: skewX(-10deg);
	background: #000;
	padding: 0px 10px;
}
#main-footer ul.secondary li .destacado{
    color: #FFF;
}
#inside-menu ul.secondary li a{
	display: inline-block;
	-webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	-o-transform: skewX(10deg);
	transform: skewX(10deg);
	color: #fff;
}
#inside-menu ul.secondary li:last-child{
	margin-right: 0px;	
}
#inside-menu ul.secondary li.separator{
	background: #000;
	height: 16px;
	width: 1px;
	display: inline-block;
	padding: 0;
	margin-right: 20px;
	margin-bottom: -3px;
}

#inside-menu .tituloseccion{
	/* border-left: 4px solid #000;	 */
	padding-left: 5px;
}
#inside-menu h5, #inside-menu h6, #inside-menu ul li{

}

#copy{
    margin-top: 60px;
	margin-left: -15px;
}
#copy p{
    color: #999;
	font-size: 12px;
	width: auto;
	float: left;
	line-height: 25px;
	margin-bottom:0;
}
#copy ul.legal{
    list-style: none;
	display: inline;
	float: left;
	font-size: 11px;
	color: #222;
	padding-top: 2px;
	padding-left: 0px;
	margin-left: 20px;
	letter-spacing: normal;
	margin-bottom: 0;
}
#copy ul.legal li{
    display: inline;
	border-right: 1px solid #CCC;
	padding-right: 20px;
	margin-right: 20px;
}
#copy ul.legal li:last-child{
	border-right: none;
	padding-right: 0px;
	margin-right: 0px;
}


#main-footer{
    display: block;
    position: fixed;
    bottom: 0px;
    background: black;
    height: 32px;    
    width: 100%;
    border-top: 3px solid white;
	z-index:100;
}
#main-footer .container-fluid{
	padding-left: 0;
	padding-right: 0;
}
#main-footer a{
    text-decoration: none;
}

#main-footer ul.social{
    list-style: none;
	display: inline;
	float: right;
	font-size: 1.2em;
	color: #FFF;
	background: #ccc url(../img/pattern03.png) 2px 2px repeat;
	padding: 0;
	padding-left: 40px;
	margin: 0;
	height: 32px;
	padding-top: 4px;
	margin-right: 32px;
}
#main-footer ul.social li{
    display: inline;
	padding-right: 18px;
}
#main-footer ul.social a:link, #main-footer ul.social a:visited{
    color: #FFF;
}
#main-footer ul.social a:active, #main-footer ul.social a:hover{
    color: #000;
}

#main-footer ul.secondary{
    list-style: none;
	display: inline;
	float: left;
	font-size: 12px;
	color: #222;
	padding-top: 2px;
	padding-left: 0px;
	margin-left: 20px;
	letter-spacing: normal;
	margin-bottom: 0;
	margin-top: 2px;
}
#main-footer ul.secondary li{
    display: inline;
	margin-right: 15px;
}
#main-footer ul.secondary li:last-child{
	border-right: none;
	padding-right: 0px;
	margin-right: 0px;
}
#main-footer ul.secondary li.separator:before{
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	display: inline-block;
	width: 1px;
	height: 20px;
	background: #FFF;
	content: '';
	position: absolute;
}

#main-footer ul.secondary a:active, #main-footer ul.secondary a:hover{
    color: #FFF;
}

.btn-contact{
	background: #f1c40f;
	height: 32px;
	min-width: 120px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
}
.btn-clientes{
	background:#e5e5e5;
	height: 32px;
	min-width: 180px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
}
.btn-idioma{
	background:#333;
	height: 32px;
	min-width: 60px;
	display: table-cell;
	float: right;
	text-align: center;
	padding-top: 4px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 4px solid #fff;
	border-left: 4px solid #fff;
	font-size: 0.8em;
}
.btn-search{
	background: #000;
	height: 32px;
	width: 32px;
	display: block;
	float: right;
	text-align: center;
	color: #FFF;
	padding-top: 4px;
	position: absolute;
	right: 0;
	z-index: 60;
}
 
#search-box{
	position: absolute;
	/* bottom: 0px; */
	width: 0px;
	height: 30px;
	z-index: 50;
	background: #000;
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display: block;
	right: 18px;
	overflow: hidden;
}

#search-box input.searchbox-input {
	width: 190px;
	float: right;
	padding: 0;
	height: 30px;
	padding-bottom: 2px;
	border: none;
	background: #000;
	text-indent: 6px;
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	transform: skewX(45deg);
	margin-right: 20px;
	color: #ccc;
}
#search-box input.searchbox-input:focus {
	border: none;
	outline: none;
}
input#search::-webkit-input-placeholder {
	color: rgb(132, 132, 132);
}
input#search::-webkit-input-placeholder { /* WebKit browsers */
   color: rgb(132, 132, 132);
}
input#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(132, 132, 132);
   opacity:  1;
}
input#search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(132, 132, 132);
   opacity:  1;
}
input#search:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(132, 132, 132);
}

.btn-clientes span, .btn-contact span, .btn-idioma span{
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	transform: skewX(45deg);
	display: block;
}
a.btn-contact:link, a.btn-contact:visited,
a.btn-clientes:link, a.btn-clientes:visited{
	color: #000;	
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display:block;
}
a.btn-contact:active, a.btn-contact:hover,
a.btn-clientes:active, a.btn-clientes:hover{
	color: #FFF;	
}
a.btn-idioma:link, a.btn-idioma:visited{
	color: #FFF;	
	-webkit-transform: skewX(-45deg);
	-moz-transform: skewX(-45deg);
	-ms-transform: skewX(-45deg);
	-o-transform: skewX(-45deg);
	transform: skewX(-45deg);
	display:block;
}
a.btn-idioma:active, a.btn-idioma:hover{
	color: #f1c40f;	
}
a.btn-contact{
	margin-right: -20px;	
}
a.btn-search:link, a.btn-search:visited{
	color: #FFF;	
}
a.btn-search:active, a.btn-search:hover{
	color: #f1c40f;	
}





.removepaddingright{
	padding-right: 0px;	
}
.removepadding{
	padding-right: 0px;
	padding-left: 0px;	
}
.addmargintop30{
	margin-top: 30px;
}
.addmargintop20{
	margin-top: 20px;
}
.addmargintop60{
	margin-top: 60px;
}
.addmarginbottom60{
	margin-bottom: 60px;
}
.addmarginbottom30{
	margin-bottom: 30px;
}
.addmarginbottom20{
	margin-bottom: 20px;
}
.addmarginbottom10{
	margin-bottom: 10px !important;
}
.addpadding10{
	padding-right: 10px !important;
}


.oculto{
	display: none;
	visibility: hidden;
}



/*   programas  */

.programa{
	margin-bottom: 20px;
	background: #F1F1F1;
	/*padding-bottom: 10px;*/
	margin-right: 4%;	
	width: 46%;
	min-height: 210px !important;
}
.programaactivo{
	border: 2px solid cornflowerblue;
}
.programa.academico{
	margin-bottom: 20px;
	background: #F1F1F1;
	margin-right: 0;	
	width: 100%;
}
.programa.categoria{
	margin-bottom: 20px;
	background: #F1F1F1;
	margin-right: 0;	
	width: 100%;
	height: 120px !important;
	min-height: 120px !important;
}
.programa p{
	margin: 0 20px;
}
.programa .overflow{
	/*overflow: hidden;	*/
	position: relative;
}


.programa a{
	color: #FFF;	
}
.programa a.titular:link, .programa a.titular:visited{
	color: #000; /*#2A849E*/

}
.programa a.titular:active, .programa a.titular:hover{
	text-decoration: none;
}

.programa h5{
	line-height: 1em;
	margin: 20px 10px 10px 20px;
	font-size: 22px;
	color: #000;
	font-weight: 400;
	letter-spacing: normal;
	font-family: 'Roboto Slab', monospace;
	text-transform: uppercase;
	min-height: 60px;
	display: inline-block;
}
.programa h5 small{
	color: #666;
	font-weight: 100;
	font-family: 'Roboto condensed';
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 2px;	
	margin-top: 4px;
	display: block;
}

.programa h6{
	margin: 10px 20px 0px 20px;	
	/* color: #00CFA2; */
	font-weight: 700;
}


.programa .mask { 
    background: #00e7b4;
	opacity: 0;
	width: 500px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	top: -120px;
	left: 145%;
	z-index: 5;
}
.programa .mask.active{ 
    opacity: 1; 
    right: -200px; 
    transition-delay: 0s; 
    animation: bounceY 0.3s linear;
	transition: all 0.3s ease-in-out 0.3s;
}   

.programa .mask-1{
    opacity: 1;
    transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
}


.programa .extras{
	font-weight: 400;
	margin-left: 20px;
	font-size: 0.8em;	
	color: cornflowerblue;
	min-height: 30px;
	margin-right: 20px;
	line-height: 1.4em;
}

.alojamientos .icon {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 20px;
}
.alojamientos .icon:before{
	font-size: 28px;
}
.alojamientos{
	text-align: center;
	vertical-align: bottom;
	display:table;
	width: 100%;
}
.aloja-group{
	width: 18%;
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.7em;
	display:table-cell;
	vertical-align: top;
	text-align: center;
}
.alojamientos .all-label{
	display: inline;
	text-transform: uppercase;
	font-size: 0.8em;
	width: 100%;
	vertical-align: top;
	line-height: 2.2em;
}
.alojamientos label{
	width: 18%;
	display: table-cell;
	letter-spacing: normal;
}

.paises label{
	font-size: 0.8em;
	text-transform: uppercase;	
}

.all-label{
	font-size: 1em !important;	
	line-height: 1.8em !important;
}
.extras .all-label{
	line-height: 1em !important;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: normal;
	color: cornflowerblue;	
}
#header{
	z-index: 40;
	position: fixed;	
	border-bottom: 20px solid #FFF;	
	overflow: visible;	
	padding: 0;
}

#header.headersmall{
	height: 220px;
}
#header.headersmall .intro, #header.headersmall .intro-img{
	height: 200px;
	font-size: 0.5em;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#header.headersmall .intro-img:after{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.3s;
	margin-left: 100px;
}
#header.headersmall #logo{
	margin-bottom: 30px;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#header.headersmall #logo img{
	height: 30px;
	width:auto;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


#contenido{
	padding-top: 360px;
	margin-bottom: 100px;
}
#contenido.smallfixed{
	padding-top: 180px;	
}
.seccion{
	position: absolute !important;
	z-index:30;
	color:	#666;
	border-bottom: 1px solid #dedede;
	top: 360px;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
	font-size: 16px;
	min-height: 30px;
}
.headersmall .seccion{
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
	font-size: 2em;
	top: 171px;
}
.headersmall.smallfixed .seccion{
	top: 141px;
}

#details ul, #utils ul{
	list-style: none;
	padding:0;
	margin:0;
	margin-bottom: 20px;
}

ul.downloads{
	list-style: none;
	padding:0;
	margin:0;
	margin-bottom: 20px;
	font-size:1.2em;	
}
ul.downloads a:active, ul.downloads a:hover{
	color: #000;	
	text-decoration: none;
}
.info-basica{
	/*position: fixed;	*/
	/*margin-top: -100px;*/
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
	max-width: 140px;
}
.info-basica ul li{
	text-transform: uppercase;
}
.info-basica.affix-top{
	margin-top: 0px;
}
.info-basica.affix{
	margin-top: -120px;
}

.info-basica .btn{
	color: #FFF;
}
#promocion{
	position: fixed;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	display: block;
	z-index: 70;
	background: #F1C40F;
    padding: 30px 20px;
    text-align: center;
    color: #463906;
	font-weight: 900;	
	top: 50px;
	left: 50%;
	margin-left: 150px;
}
#promocion h4{
	font-weight: 900;	
	letter-spacing: 1px;
}
#promocion small{
	text-transform: none;
	color: #FFF;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	letter-spacing: 1px;
	margin-top: 10px;
	font-weight:300;	
}
#logo{
	margin-bottom: 60px;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#logo img{
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

#sidebar.campamentos-verano-ingles ul{
	padding: 0;
	margin: 0;
	list-style: none;	
}
#sidebar.campamentos-verano-ingles li a:link, #sidebar.campamentos-verano-ingles li a:visited{
	text-transform: uppercase;
	color: #000;	
	font-weight: 700;
	letter-spacing: normal;
	font-size: 1.1em;
	text-decoration: none;
}
#sidebar.campamentos-verano-ingles li a:link small, #sidebar.campamentos-verano-ingles li a:active small, #sidebar.campamentos-verano-ingles li a:visited small, #sidebar.campamentos-verano-ingles li a:hover small{
	text-transform: uppercase;
	color: #333;
	font-weight: 400;	
}

.intro{
	padding: 35px 20px 20px 0px;
	z-index: 2;
	background: #fff;	
}
.intro .slogan{	
	line-height:0.8em;
	font-size: 3em;
	font-weight:900;
	text-transform: uppercase;
}
.intro .slogan small{
	font-size: 0.5em;
	color: #666;
	font-weight: 300;
	text-transform: none;
}
.intro .slogan span{
	color: #000;
	font-weight: 300;	
	/* margin-top: 6px; */
	display: block;
	font-size: 0.6em;
	letter-spacing: normal;
}
.intro-img:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -2px;
	background: #fff;
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
	left: -470px;
	width: 600px;
	height: 600px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}	

.curso .intro, .curso #header.headersmall .intro{
	position: absolute;
	z-index: 50;
	background: #fff;
	height: 280px;
}	
.curso .intro-img:after, .curso #header.headersmall .intro-img:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	left: -125%;
	width: 150%;
	height: 150%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.curso #header.headersmall .intro-img:after{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.3s;
	margin-left: 20px;
}

.curso #header.headersmall .seccion{
	top: 251px;
}

.intro-img, .intro{
	height: 300px;	
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.intro-img{
	overflow: hidden;
}

.curso .intro-img, .curso #header.headersmall .intro-img{
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	height:100%;
	margin-top: 0;
	margin-right:0;
	background-size: cover;
	background-position: center center;
}

.filtros.affix{
	top: 220px;
	width: 23%;
	/* padding: 20px 0 20px 0; */
	-webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -o-transition: all 0.5s;
    transition: all 0.5s;
	max-width: 235px;
}

.filtros .filter-results{
	min-height: 40px;	
}


.option-set .form-group{
	margin: 0;
	height: 18px;
}
.capa{
	background: #FFF;
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 60;
    top: -100%;	
}
#menubg{
	/* background: #FFF; */
	position: fixed;
	margin: 0 auto;
	overflow: hidden;
	z-index: 80;
	height: 150px;
	width: 150px;
	display: table;
	color: #000;
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	margin-top: -120px;
	left: 50%;
	margin-left: -75px;
}
#menubg:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: 1;
    /*background: url(../img/pattern.png) 0 0 repeat;*/
    transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
#menubg .inside{
	display: table-cell;
	vertical-align: middle;	
	transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
	position: relative;
	z-index: 70;
}
#menubg .inside .text{
	text-align: center;
	padding-top: 115px;
}
#menubg .inside .text .fa{
	font-size: 2.5em;
	cursor:pointer;
}
#menu{
	z-index: 75;
	display: table;
	width: 3000px;
	height: 3000px;
	position: fixed;
	top: -3520px;
	left: 50%;
	overflow: hidden;
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	margin-left: -1500px;
	border: 3px solid #fff;	
}
#menu:before{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -100%;
    z-index: 11;
    background: #fff url(../img/pattern03.png) 0 0 repeat;
    
}


#plusinfo{
	width: 147px;
	height: 147px;
	display: block;
	position: fixed;
	right: 70px;
	bottom: 100px;
	cursor: help;
	z-index: 50;
  animation: plusinfoanim 7s infinite;
  -webkit-animation: plusinfoanim 7s infinite;
  transition:all 1s ease;
  transform: translate3d(0,0,0);
}
	@keyframes plusinfoanim
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 14px}
	  100% {margin-right: 0px}
	}
	
	@-webkit-keyframes plusinfoanim
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 14px}
	  100% {margin-right: 0px}
	}


.plusinfoinside {
  animation:plusinfoinsideanim 2s infinite;
  -webkit-animation:plusinfoinsideanim 2s infinite;
  margin-bottom: 0px;
  	 transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	background: transparent url(../img/plusinfobg.jpg) no-repeat center center;
	width: 147px;
	height: 147px;
	display: block;
	transition:all 1s ease;
}

  @keyframes plusinfoinsideanim
  {
    0%   {margin-top: 0px}
    50%  {margin-top: 6px}
    100% {margin-top: 0px}
  }

  @-webkit-keyframes plusinfoinsideanim
  {
    0%   {margin-top: 0px}
    50%  {margin-top: 6px}
    100% {margin-top: 0px}
  }

.plusinfotext{
	width: 147px;
	height: 147px;
	display: block;
   transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);	
	text-align: center;
	color: #FFF;
	transition:all 1s ease;
}
.plusinfotext p{
	height: 60px;
	letter-spacing: 1px;
	position: relative;
	top: -5px;
	margin: 0;
	transition:opacity 1.5s ease;
}
.plusinfotext .icon-info{
	position: relative;
	top: -10px;
	transition:all 1s ease;
}
.plusinfotext .icon-info:before{
	font-size: 36px;
	display:block;
	width: 126px;
	text-align: center;
	padding-left: 16px;
}
a.plusinfobtn:link, a.plusinfobtn:visited{
	width: 192px;
	height: 71px;
	display: block;
	position: relative;
	top: -13px;
	left: -22px;
	transition:opacity 1s ease;
	transition-delay: 0.8s;
	border: none;
	outline: 0;
}	
a.plusinfobtn:active, a.plusinfobtn:hover{
	background: transparent url(../img/plusinfohover-es.png) no-repeat center center;
	top: -15px;
	border: none;
	outline: 0;
}	
a.plusinfobtn_cat:link, a.plusinfobtn_cat:visited{
	background: transparent url(../img/plusinfo-ca.png) no-repeat center center;
	width: 192px;
	height: 71px;
	display: block;
	position: relative;
	top: -13px;
	left: -22px;
	transition:opacity 1s ease;
	transition-delay: 0.8s;
	border: none;
	outline: 0;
}	
a.plusinfobtn_cat:active, a.plusinfobtn_cat:hover{
	background: transparent url(../img/plusinfohover-ca.png) no-repeat center center;
	top: -6px;
	border: none;
	outline: 0;
}
a.plusinfobtn:focus{
	border: none;
	outline: 0;
}

#plusinfo .close{
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	background: #000;
	left: -10px;
	top: 10px;
	color: #FFF;
	font-weight: 100;
	opacity: 1;
	text-align: center;
	cursor: pointer;
	transition:all 1s ease;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	line-height: 20px;
}

#plusinfo.smallbtn{
	width: 45px;
	height: 44px;
	right: 20px;
	margin: 0;
	bottom: 120px;	
	cursor: pointer;
	transition: all 1s ease;
	/*transition-delay: 1s;*/
	transform: translate3d(0,0,0);
	  animation:plusinfosmallbtn 2s 1;
  -webkit-animation:plusinfosmallbtn 2s 1;
}

	@keyframes plusinfosmallbtn
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 0px}
	  100% {margin-right: 0px}
	}
	
	@-webkit-keyframes plusinfosmallbtn
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 0px}
	  100% {margin-right: 0px}
	}

#plusinfo.smallbtn .plusinfoinside{
	width: 45px;
	height: 45px;
	margin: 0;
 animation:plusinfosmallbtninside 2s 1;
  -webkit-animation:plusinfosmallbtninside 2s 1;
}

	@keyframes plusinfosmallbtninside
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 0px}
	  100% {margin-right: 0px}
	}
	
	@-webkit-keyframes plusinfosmallbtninside
	{
	  0%   {margin-right: 0px}
	  50%  {margin-right: 0px}
	  100% {margin-right: 0px}
	}
#plusinfo.smallbtn .close, #plusinfo.smallbtn .plusinfotext p, #plusinfo.smallbtn .plusinfobtn, #plusinfo.smallbtn .plusinfobtn_cat {
	opacity: 0;
	transition: opacity 0.5s ease;
}
#plusinfo.smallbtn .icon-info {
	top: -18px;
}




#chat{
	display:none;
	text-decoration:none;
	z-index:50;
	position:fixed;
	bottom:190px;
	right:20px;
	overflow:hidden;
	width:45px;
	height:44px;
	border:none;
	background-color: #f1c40f;
	color:#FFF;
	transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(45deg) scale(1) skew(0deg) translate(0px);
	display: block;
	cursor: pointer;
}
#chat a:link, #chat a:visited{
	color: #FFF;	
}
#chat a:active, #chat a:hover{
	color: #000;	
}
.chatinside{
	transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);
    -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(0px);	
	text-indent: -2px;
	padding-top: 6px;
}
#chat .icon-chat:before{
	font-size: 36px;
	margin-left: 7px;
}



.info .tooltip.top{
	margin-top: 10px;	
	z-index: 20;
}



ol{
	line-height: 1.2em;
	padding-left: 15px;	
	font-weight: 300;
	letter-spacing: 1px;
	list-style: none;
	counter-reset: li-counter;
}
ol > li{
	margin-bottom: 6px;
	position: relative;
	padding-left: 6px;
	border-left: 1px solid #CCC;
}
ol > li:before{
	position: absolute;
    top: 0;
    left: -1.3em;
    width: 1em;
     
    font-size: 1.2em;
    line-height: 1;
    font-weight: bold;
    text-align: right !important;
	display:block;
	letter-spacing: normal;
 
    content: counter(li-counter);
    counter-increment: li-counter;
}



.intro .nav-tabs{
	font-size: 0.8em;
	margin-top: 50px;	
	letter-spacing: 1px;
}
.tab-content {
	border-bottom: 1px solid #CCC;
	padding-bottom: 30px;
	margin-bottom:60px;
}
.tab-content h2{
	font-size: 1em;	
	line-height: 1em;	
	margin-bottom: 10px;
	margin-top: 20px;
}
.tab-content h4{
	font-weight: 700;
	margin-top: 60px;	
}


.tab-content h3{
	font-size: 0.9em;	
	line-height: 0.9em;
	margin-top: 20px;
	margin-bottom: 6px;
	font-weight: 700;
	letter-spacing: 1px;	
}
.tab-content h5{
	margin-top: 20px;	
}
.tab-content #fechas-precios h5{
	margin-top: 10px;
	margin-bottom: 0;
	letter-spacing: 0.5px;
	line-height: 1em;
	font-size: 1.4em;
}
.tab-content #fechas-precios h5 span{
	font-size: 0.8em;
	text-transform: none;
}
.tab-content #fechas-precios p.duracion{
	font-size: 1.2em;
}
.tab-content h6{
	font-size: 0.9em;	
	line-height: 0.9em;
	margin-top: 40px;
	margin-bottom: 6px;
	font-weight: 700;
	letter-spacing: 1px;	
}

.tab-content #fechas-precios h6{
	margin-top: 40px;
	letter-spacing: 0.5px;
	font-size: 1.2em;
}

.tab-content #fechas-precios h6:first-child{
	margin-top: 0px;
}

.tab-content #fechas-precios .separator{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 4px;
}
.tab-content #fechas-precios h6.separator{
	margin-bottom: 20px;
	letter-spacing: 3px;
}

.tab-content #fechas-precios a:link.verincluye, .tab-content #fechas-precios a:visited.verincluye{
	cursor: pointer;
	color: #B69510;
	text-decoration: none;
	padding-left: 20px;
}
.tab-content #fechas-precios a:active.verincluye, .tab-content #fechas-precios a:hover.verincluye{
	cursor: pointer;
	color: #222;
	text-decoration: none;
}
.tab-content #fechas-precios a.verincluye.collapsed:before{
	content: "\f067"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}
.tab-content #fechas-precios a.verincluye:not(.collapsed):before{
	content: "\f067"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	color: #B69510 !important;
}
.tab-content ul.incluye{
	list-style: none;
	padding: 0;
	margin-top: 10px;
}
.tab-content ul.incluye li {
	padding-left: 1.3em;
	letter-spacing: normal;
	line-height: 1em;
	font-size: 0.9em;
}
.tab-content ul.incluye li:before {
	content: "\f00c"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
	color: #CCC;
}
.tab-content #fechas-precios a.verincluye{
	font-size: 0.9em;
	letter-spacing: 0px;
}
.tab-content #fechas-precios .precio{
	margin-bottom: 30px;
}
.tab-content .extras{
	margin-bottom: 30px;
}
.tab-content .extras p{
	margin-bottom: 0px;
}
.tab-content .introduccion{
	font-weight: 700;
	margin-bottom: 30px;	
}
.tab-content .incluye span:not(.hps){
	min-width: 14px;
	display: inline-block;
	text-align: right;
	margin-right: 2px;
	font-weight: bold;
}
.tab-content .incluyecurso{
	font-weight: bold;
}
.tab-pane > h4:first-child{
	margin-top: 0px;
}

#programa.tab-pane img{
	margin-top: 20px;
	margin-bottom: 20px;
}
.incluye ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.incluye li {
	padding-bottom: 0.4em;
	letter-spacing: normal;
}
.incluye li:before {
	content: "\f00c";
	font-family: FontAwesome;
	margin-right: 4px;
}
.tab-content table{
	margin-top: 30px;
	width: 100%;
}
.tab-content tr {
	border-bottom: 1px solid #ccc;
}
.tab-content td {
	padding-top: 6px;
	padding-bottom: 6px;
}
.tab-content thead {
	font-weight: 400;
}
.tab-content .planb {
	margin-bottom: 40px;
}
.tab-content .planbinfo {
	cursor: help;
	color: #999;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-top: 60px;
}
.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.info-general{
	font-size: 1.2em;
	font-family: 'Roboto Slab', monospace;
	margin-top: 20px;
	margin-bottom: 20px;
}
.info-general > p{
	font-size: 0.8em;
	color: #000;
	font-weight: 300;
	margin-top: 20px;
}
.info-general p:first-child {
	margin-bottom: 0;
}

ul.relacionados{
	list-style: none;
	padding: 0;	
}
ul.relacionados li{
	padding: 4px 0px 4px 20px;
	border-bottom: 1px solid #e5e5e5;
}
ul.relacionados li:before{
	position: absolute;
	content: '\25b6';
	vertical-align: middle;
	margin-top: -2px;
	margin-left: -16px;
	font-size: 0.6em;
}

#fotos-curso img{
	/*width: 180px;*/
	/*margin: 5px;*/
	border: 2px solid #000;
}
#fotos-curso a:hover img{
	border-color: #B69510;
}
#fotos-curso a:focus{
	outline: none;
}

.earlybird, #fechas-precios img{
	vertical-align: bottom;	
	cursor: help;
	margin-left: -4px;
}
#fechas-precios .tabla-precios{
	margin-bottom: 60px;
}

.tooltipinfo p{
	font-weight: 100;
}

.tooltipinfo span{
	font-size: 1.2em;
	margin-top: 6px;
	display: block;
	font-weight: 300;
	margin-bottom: 0;
}

.breadcrumb {background: none;
border:none;
display: block;
padding: 0;
letter-spacing: normal;
font-weight: 500;
margin: 0;
margin-bottom: 10px;}
.breadcrumb li {font-size: 14px; display: inline;}
.breadcrumb a {color: rgba(168, 153, 91, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(0, 0, 0, 1);}
.breadcrumb>li+li:before {color: rgba(161, 161, 161, 1); content: "\00bb\00a0";}

.msgsocial ul {
	display: table;
	list-style: none;
	width: 100%;
}
.msgsocial li {
	display: inline-table;
	padding: 20px;
	text-align: center;
}
.msgsocial .fa {
	font-size: 2em;
}


.promo{
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
	background: rgb(0, 197, 0);
	width: 110px;
	text-align: center;
	margin-top: -6px;
	right: -6px;
	position: absolute;	
	color: #fff;
	padding-left: 2px;	
}
.promo .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 0;
	border-color: rgb(0, 145, 0) transparent transparent transparent;
	position: absolute;
	right: 0;
}
.ultimasplazas{
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
	background: orange;
	width: 110px;
	text-align: center;
	margin-top: -6px;
	right: -6px;
	position: absolute;
	color: #fff;
	padding-left: 2px;	
}
.ultimasplazas .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 0;
	border-color: rgb(205, 133, 0) transparent transparent transparent;
	position: absolute;
	right: 0;
}
.cursocerrado{
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
	background: red;
	width: 110px;
	text-align: center;
	margin-top: -6px;
	right: -6px;
	position: absolute;	
	color: #fff;
	padding-left: 2px;
}
.cursocerrado .marker{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 6px 0 0;
	border-color: #cc0000 transparent transparent transparent;
	position: absolute;
	right: 0;
}


ul.colonies {
  list-style: none;
  padding: 0;
}
ul.colonies li {
  line-height: 1.5em;
  font-weight: 700;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}
ul.colonies li span {
  background: rgb(0, 152, 0);
  padding: 0 6px;
  color: #FFF;
  margin-right: 2px;
}
#colonies.affix{
	top: 220px;	
}


.contactbig {
  font-size: 1.2em;
  line-height: 1.3em;
}

/*
Error 404
=========================== */

h1.error{
	font-size: 6em;	
	color: #3d848a;
	margin-left: -5px;
}
h1.error small {
  margin-left: 5px;
}

p.error{
	font-size: 2em;	
	margin-bottom: 30px;
}

/* ---------------------------- */

@media only screen and (max-width: 1320px) {
    .btns-div{
		clear: both;
		width: 114%;
		position: absolute;
		margin-top: -32px;
		margin-left: -20px;
	}
	.btn-clientes, .btn-contact{
		width: 45%;
		max-width: 45%;
		font-size: 1em;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	a.btn-contact {
		margin-right: 0px;
		padding-right: 60px;
	}
	.btn-idioma{
		width: 10%;
		max-width: 10%;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		padding-left: 20px;
	}
	.copyright, .social-div{
		margin-top: 32px;	
		font-size: 0.9em;
	}
	#main-footer{
		height: 64px;	
	}
	#menu-close{
		margin-left: 0px;
	}
	#main-footer ul.secondary{
		margin-top: 0;
	}
	#main-footer ul.secondary .separator{
		margin-right: 14px;
	}
	#main-footer ul.secondary li{
		margin-right: 10px;	
	}
	#main-footer ul.social {
		padding-left: 20px;
		padding-top: 3px;
		padding-right: 20px;
		margin-right: 10px;
		border-left: 4px #fff solid;
		-webkit-transform: skewX(-45deg);
		-moz-transform: skewX(-45deg);
		-ms-transform: skewX(-45deg);
		-o-transform: skewX(-45deg);
		transform: skewX(-45deg);
	}
	#main-footer ul.secondary li.separator:before {
		height: 16px;	
		margin-top: 3px;
	}
	#main-footer ul.social li a{
	-webkit-transform: skewX(45deg);
		-moz-transform: skewX(45deg);
		-ms-transform: skewX(45deg);
		-o-transform: skewX(45deg);
		transform: skewX(45deg);
		display: inline-block;
	}
}
@media (min-width: 768px){
	.container {
		width: 100%;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 979px) and (min-width: 768px){
	.container {
		width: 100%;
		padding: 0 15px 0 30px;
	}
}


@media (min-width: 1200px){

	.filtros.affix{
		max-width: 304px;	
	}
}
@media only screen and (max-width: 1024px) {
    .btn-contact{
		font-size: 0.8em;
		width:96px;
		min-width:96px;
		padding-top: 6px;
		letter-spacing: 1px;
	}
	.btn-clientes{
		font-size: 0.8em;
		width: 144px;
		min-width: 144px;
		padding-top: 6px;
		letter-spacing: 1px;
	}
	#main-footer p, #main-footer ul.legal{
		padding-top: 8px;
	}
	#main-footer ul.legal li{
		padding-right: 10px;
		margin-right: 10px;
	}
	#main-footer .fa, #main-footer ul.social{
		padding-top: 2px;	
	}
}
@media only screen and (max-width: 768px) {
    .btns-div{
		clear: both;
		width: 114%;
		position: absolute;
		margin-top: -32px;
		margin-left: -20px;
	}
	.btn-clientes, .btn-contact{
		width: 45%;
		max-width: 45%;
		font-size: 1em;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	a.btn-contact {
		margin-right: 0px;
		padding-right: 60px;
	}
	.btn-idioma{
		width: 10%;
		max-width: 10%;
		border: none;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		transform: skewX(0deg);
		padding-left: 20px;
	}
	.btn-search{
		padding-top: 2px;	
	}
	.copyright, .social-div{
		margin-top: 32px;	
		font-size: 0.9em;
	}
	#main-footer{
		height: 64px;	
	}
	#menu-close{
		margin-left: 0px;
	}
	#main-footer ul.secondary{
		font-size: 0.6em;
	}
	#main-footer ul.secondary li{
		margin-right: 10px;	
	}
	#main-footer ul.social {
		padding-left: 20px;
		padding-top: 4px;
	}
	#main-footer ul.secondary li.separator:before {
		height: 12px;
		margin-top: 4px;	
	}
	#header.headersmall #logo img {
		width: auto;
		height: 25px;	
	}
	#header.headersmall #logo{
		margin-bottom: 20px;	
	}
	#header.headersmall {
		height: 180px;
	}
	.headersmall .seccion {
		top: 135px;	
		font-size: 1.2em;
		min-height: 20px; 
	}
	#main-footer{
		height: 64px;	
	}
	#menu-close{
		margin-left: 0px;
		margin-bottom: 10px;
	}
	#inside-menu, #menubg{
		/*display: none;*/
		/*visibility:hidden;*/	
	}
	#menu{
		/*top: -1750px;	*/
		left: 50%;
	}
	#programas{
		margin-top: 0px !important;	
	}
	.programa {
		margin-right: 0 !important;
		width: 100% !important;
	}
	#chat, #plusinfo{
		display: none;
		visibility: hidden;	
	}
	.intro{
		padding-top: 15px;	
	}
	.intro-img:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: -2px;
		background: #fff;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		left: -670px;
		width: 600px;
		height: 600px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		left: -490% !important
	}
	#header{
		position: absolute;	
	}
	.head{
		line-height: 0.9em;	
	}
	.breadcrumb li{
		font-size: 10px;	
	}
	.intro .slogan {
		font-size: 2em;
		letter-spacing: 1px;
	}
	.intro, intro-img{
		height: auto;	
	}
	#contenido {
		padding-top: 180px;
	}
	#copy ul.legal{
		margin-left: 0px;	
		padding-top: 0px;
	}
	#copy p {
		line-height: 10px;
	}
	#toTop{
		display: none;
		visibility: hidden;	
	}
}