/*
Typography
==================================== */
body{
	background:#FFF;
	font-family: 'Roboto Condensed', sans-serif;
	/* word-spacing:1px; */
	letter-spacing:1px;
	font-weight:300;
	font-size:14px;
	line-height:22px;
	padding:0;
}
.container-fluid{
	max-width: 1600px;	
}
.alignleft {
  text-align: left;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin:0 0 20px 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
}

h1{
  font-size: 38px;
  line-height:42px;
}

h2{
  font-size: 32px;
  line-height:42px;  
}

h3{
  font-size: 24px;
  line-height:32px;  
}

h4{
  font-size: 18px;
  line-height:20px;   
}

h5 {
  font-size: 14px;
  line-height:18px;  
  margin: -16px 0 10px 0;  
}

h6{
  font-size: 12px;
  line-height:18px;  
  margin:0 0 10px 0;
}

h1 small{
  font-size: 24px;
}

h2 small{
  font-size: 18px;
}

h3 small,
h4 small {
  font-size: 14px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

p {
  margin: 0 0 10px;
  line-height: 1.2em;
  letter-spacing: normal;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

img {
  border:0;
  vertical-align: middle;
}

.list-line {
  padding-left: 0;
  list-style: none;
}

.list-line > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

blockquote {
  padding: 10px 15px;
  margin: 0 0 20px;
  border-left: 3px solid #fff;
  font-style:italic;
}

b,
strong {
  font-weight: 600;
}

label, .label {
  font-weight: 400;
}

.video-responsive{
	width:100%;
	border:0;
	height:385px;
}

/*
Navbar
==================================== */
.navbar {
  position: relative;
  min-height: 50px;
  padding:0;
  margin-bottom: 0;
  background-color: #1c1c1c;
  border-radius: 0;
}

.navbar-brand{
	margin:0 0.5px 0 0;
}

.navbar-nav > li > a {
  padding: 27px 10px 26px 10px;
  margin:0 0.5px 0 0.5px;
  font-size: 13px;
  line-height: 13px;
  color: #939393;
  border-radius: 0;
  text-transform:uppercase;
}

header .navbar-nav > .dropdown > a .caret{
  border-top-color: #939393;
  border-bottom-color: #939393;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus, 
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #c5c5c5;
  background-color: #313131;
  padding-bottom: 24px;
  border-bottom:1px solid;
}

header .navbar-nav > .dropdown.active > a .caret, 
header .navbar-nav > .dropdown > a:hover .caret, 
header .navbar-nav > .dropdown > a:focus .caret{
  border-top-color: #c5c5c5;
  border-bottom-color: #c5c5c5;
}

header .dropdown-menu{
  background-color: #313131;
  margin:0;
  padding:0;
  top:99%;
}

header .dropdown-menu li a{
  color: #c5c5c5;
  text-transform:uppercase;
  font-size:16px;
  padding-top:10px;
  padding-bottom:10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}

.navbar .nav-collapse .nav select{
  color: #939393;
  border:1px solid #474747;
  margin:0 auto;
  margin-top:9px;
  background:#313131;		
  padding:10px 15px 10px 15px;
  outline:none;
  cursor:pointer;
  display:none;
  width:90%;
}

/*
Custom grid
==================================== */
.max-width{	
  width:100%;
  /* padding-left:40px; */
  /* margin-top: 40px; */
}
@media (min-width: 768px) {
  .row {
  margin-right: 0;
  margin-left: 0;
  }
}
.row, .row .row {
  margin-right: 0;
  margin-left: 0;
}

#contenido .col-1,
#contenido .col-2,
#contenido .col-3,
#contenido .col-4,
#contenido .col-5,
#contenido .col-6,
#contenido .col-7,
#contenido .col-8,
#contenido .col-9,
#contenido .col-10,
#contenido .col-11,
#contenido .col-12,
#contenido .col-sm-1,
#contenido .col-sm-2,
#contenido .col-sm-3,
#contenido .col-sm-4,
#contenido .col-sm-5,
#contenido .col-sm-6,
#contenido .col-sm-7,
#contenido .col-sm-8,
#contenido .col-sm-9,
#contenido .col-sm-10,
#contenido .col-sm-11,
#contenido .col-sm-12,
#contenido .col-lg-1,
#contenido .col-lg-2,
#contenido .col-lg-3,
#contenido .col-lg-4,
#contenido .col-lg-5,
#contenido .col-lg-6,
#contenido .col-lg-7,
#contenido .col-lg-8,
#contenido .col-lg-9,
#contenido .col-lg-10,
#contenido .col-lg-11,
#contenido .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

/*
Form
==================================== */

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline:none;
}

input[type="radio"]{
	background:none;
	border:none;
	cursor:pointer;	
	outline:none;
}



.form-control:focus{
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-horizontal .control-label,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 6px;
  margin-right:20px;
}

.form-horizontal .radio{
	display:inline-block;
	margin:0;
}

.form-block{
  display: block;
  width: 100%;
}
 
.form-auto{
	width:auto;
}

.qty{
	width:60px;
}

.crd-number{
	width:80px;
	text-align:center;
	margin-right:15px;
}

.form-info{
  font-size:11px;
  line-height:11px;
  font-style:italic;
  margin:10px 0 0 0;
  opacity: 0.65;
  filter: alpha(opacity=65);	
}

.not-empty{
	font-size:10px;
	line-height:10px;
}

fieldset:focus{
	border:1px solid;
	outline:none;
}

/*
Media
==================================== */
.media,
.media .media {
  margin:0 0 1px 0;
  padding:25px 20px 10px 20px;
  background:#909090;
}

.media-object {
	border:3px solid #fff;
	border-radius:2px;
}

.media-object:hover {
	border:3px solid;
}

.media-heading {
  margin: 0 0 15px;
}

.media-heading a, .media-heading a:hover{
  color:#fff;
}

.media > .pull-left {
  margin-right: 20px;
}

.media > .pull-right {
  margin-left: 20px;
}

/*
Accordion
==================================== */
.panel {
  padding: 0;
  margin:0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel-heading {
  padding: 10px 15px;
  margin:0 0 1px 0;
  background-color: #676869;
  border-bottom: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  cursor:pointer;
}

.panel-heading:hover{
	background-color:#828384;
}

.panel-heading a, .panel-heading a:hover{
	color:#fff;
	display:block;
	text-decoration:none;
}

.panel-title {
  margin:0;
  font-size: 14px;
  font-weight: 400;
}

.panel-body{
	padding:20px;
}

/*
Pagination
==================================== */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin:0;
  border-radius:0;
}

.pagination li{
  margin:0;
}

.pagination.pull-left li a{
	margin-right:1px;
}

.pagination.pull-right li a{
	margin-left:1px;
}

.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 6px 12px;
  margin:0;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #676869;
  border:none;
  border-left-width: 0;
  color:#fff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #828384;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #fff;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #b0b2b4;
  cursor: not-allowed;
  background-color: #414243;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 14px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}



/*
Table
==================================== */
.table thead tr th{
	font-weight:400;
	text-transform:uppercase;
	letter-spacing: 4px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
	padding:15px 8px 15px 8px;
	position:relative;
}

.table h1, .table h2, .table h3, .table h4, .table h5, .table h6{
	margin:0;
}

/*
Alert
==================================== */
.alert {
  padding: 15px 35px 15px 15px;
  margin-bottom: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border:none;
  border-left:5px solid #c09853;
  border-radius:2px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border:none;
  border-left:5px solid #468847;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border:none;
  border-left:5px solid #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border:none;
  border-left:5px solid #3a87ad;
}

/*
Button
==================================== */
.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;	
  color:#fff;
  border:1px solid #fff;
  background:none;
  border-radius: 2px;
 /* padding:10px 20px 10px 20px;*/
}

.box .btn, .frame-hover .btn{
	margin-bottom: 6px;	
	clear: both;
	/*float:left;*/
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active{
  background:#fff;
}

.btn-default {
  color: #333333;
  background-color: #E4E4E4;
  border: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active{
  background-color: #ffffff;
  border: none;
  opacity: 0.90;
  filter: alpha(opacity=90);  
}

.btn-lg {
  padding:20px 35px 20px 35px;
  font-size: 16px;
  line-height:16px;
  line-height: 14px;
}

.btn-sm{
  padding: 6px 12px;
}

.btn-xs {
  font-size:12px;
  padding: 3px 10px;
}

.btn-link{
	text-decoration:none;
	color:#fff;
	background:none;
	border:none;
}

.btn-link span{
	background:#fff;
	width:25px;
	height:1px;
	margin-right:5px;
	margin-bottom:2px;
	display:inline-block;
	text-indent:-99999;
}

.btn-link:hover{
	text-decoration:underline;
	color:#fff;	
}

.btn-primary {
  color: #ffffff;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  border-color: none;
  opacity: 0.90;
  filter: alpha(opacity=90);  
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border: none;
  opacity: 0.50;
  filter: alpha(opacity=50);    
}


.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border: none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #ed9c28;
  border: none;
  opacity: 0.90;
  filter: alpha(opacity=90);    
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ed9c28;
  border: none;
  opacity: 0.50;
  filter: alpha(opacity=50);    
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border: none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #d9534f;
  border: none;
  opacity: 0.90;
  filter: alpha(opacity=90); 
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border: none;
  opacity: 0.50;
  filter: alpha(opacity=50);  
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #5cb85c;
  border: none;
  opacity: 0.90;
  filter: alpha(opacity=90); 
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border: none;
  opacity: 0.50;
  filter: alpha(opacity=50);  
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5bc0de;
  border: none;
  opacity: 0.90;
  filter: alpha(opacity=90); 
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border: none;
  opacity: 0.50;
  filter: alpha(opacity=50);  
}

/*
Documentation
==================================== */

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0;
  border-radius: 0;
  background: #4c4d4e;
  box-shadow: none;
  border: none;
}

.bs-example + .highlight {
  margin:0 0 40px 0;
  border-radius: 0;
  padding-bottom:20px;
  border:none;
  background:#616263;
  color:#f7f7f9;
}

.highlight pre code {
  font-size: inherit;
  color:#fff; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color:#fff;
}

.highlight{
	margin:0;
}

.logo{
	float: left;
	margin-top: -8px;
	margin-left: -10px;	
}





input[type=checkbox] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	-moz-appearance: none;
    appearance: none;
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: transparent;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
	margin-left: 4px !important;
	display: inline-block;
	margin-right: 4px !important;
	border: 1px solid #999 !important;
	outline: none;
	box-shadow: none;
	background: #fff;
}
input[type=checkbox]::after {

	padding: 0;
	width: 10px;
	height: 10px;
	background: transparent;
	border: 1px solid #999;
}

.paises input[type=checkbox]:checked + label:before,  .alojamientos .all:checked + label:before{
	content: '\2714';
	color: black;
	font-size: 16px;
	position: absolute;
	margin-left: -18px;
	margin-top: -4px;
	border: 0 !important;
	border-color: transparent !important;
}
input[type=checkbox]:checked,  .alojamientos .all:checked{
	background: #00e7b4;	
	border: none;
}

input[type=checkbox]:focus{
	outline: none !important;	
}

.alojamientos input[type=checkbox]:not(.all){
	width: 36px;
	height: 36px;
	position: absolute;
	margin-left: -18px !important;
	margin-top: -2px;
	border: 1px solid #999;
	z-index:-1;
}
.alojamientos input[type=checkbox]:checked:not(.all){
	border: 2px solid #00e7b4 !important;	
	background: #FFF;
}
.alojamientos input[type=checkbox]:checked:not(.all) + label .icon{
	/* color: #FFF; */
}

.filtros input[type=checkbox], .filtros label{
	cursor: pointer;
	line-height: 1.2em;
}


#sidebar{
	margin-left: 6%;	
}


#edades {
  height: 60px;
}

#edades .edades-group {
  width: 24px;
  display: inline-block;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  vertical-align: middle;
  text-align: center;
    margin-left: -4px;
}
.edades-all-group {
  height: 20px;
}
#edades .edades-group input[type=checkbox] {
  float: left;
  margin-bottom: 6px;
  margin-top: 10px;
  margin-left: 8px !important;
  display: block;
}

#edades label:not(.all-label) {
  letter-spacing: normal;
  vertical-align: middle;
  width: 24px;
  /*padding-left: 2px;*/
  font-size: 1.1em;
  padding-top: 5px;
  font-weight: bold;
}

#edades label.all-label {
  text-transform: uppercase;
}

#edades edades-all-group {
	width: 100%;
}
#edades input[type=checkbox]:checked + label:before{
	content: '\2714';
	color: black;
	font-size: 16px;
	position: absolute;
	margin-top: -24px;
	border: 0 !important;
	border-color: transparent !important;
}
#edades input[type=checkbox]:checked + label.all-label:before{
	content: '\2714';
	color: black;
	font-size: 16px;
	position: absolute;
	margin-left: -18px;
  	margin-top: -3px;
	border: 0 !important;
	border-color: transparent !important;
}
.widget.filtros {
  background: url(../img/pattern02.png) 0 0 repeat;
  padding: 10px;
}



@media (min-width: 768px){
	#sidebar.col-sm-3 {
	  width: 22%;
	}
}
/*   */
.modal-content{
	border-radius: 0;	
}
.modal-header, .modal-footer{
	border: none;	
}
.modal .btn{
	margin: 0 auto;	
}
.modal h2{
	line-height: 1em;	
}
.modal .modal-footer{
	text-align: center;	
}



.btn-muted { 
  color: #474747; 
  background-color: #EBEBEB; 
  border-color: #E3E3E3; 
} 
 
.btn-muted:hover, 
.btn-muted:focus, 
.btn-muted:active, 
.btn-muted.active, 
.open .dropdown-toggle.btn-muted { 
  color: #474747; 
  background-color: #EBEBEB; 
  border-color: #E3E3E3; 
} 
 
.btn-muted:active, 
.btn-muted.active, 
.open .dropdown-toggle.btn-muted { 
  background-image: none; 
} 
 
.btn-muted.disabled, 
.btn-muted[disabled], 
fieldset[disabled] .btn-muted, 
.btn-muted.disabled:hover, 
.btn-muted[disabled]:hover, 
fieldset[disabled] .btn-muted:hover, 
.btn-muted.disabled:focus, 
.btn-muted[disabled]:focus, 
fieldset[disabled] .btn-muted:focus, 
.btn-muted.disabled:active, 
.btn-muted[disabled]:active, 
fieldset[disabled] .btn-muted:active, 
.btn-muted.disabled.active, 
.btn-muted[disabled].active, 
fieldset[disabled] .btn-muted.active { 
  background-color: #EBEBEB; 
  border-color: #E3E3E3; 
} 
 
.btn-muted .badge { 
  color: #EBEBEB; 
  background-color: #474747; 
}

.btn-group.bootstrap-select .btn:focus {
outline: none !important;
outline-offset: 0px;
}


#cursotabs.nav > li > a {
    display: block;
    padding: 5px 10px;
    position: relative;
}


.cc-cookies {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 28px;
  padding: 0.5em 5%;
  background: rgba(0,0,0,0.95);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing:1px;
  z-index: 99999;
  text-align: left;
  color: #fff;
  padding: 30px 20px;
}
.cc-cookie-accept{
  padding: 0px 6px;
  margin: 0 20px;
  text-transform:uppercase;
  border: 1px solid;
}
